<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 헤더관련 -->
    <link rel="icon" href="../../favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700&family=Nanum+Pen+Script&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <script defer src="./js/main.js"></script>



    <title>브랜드 스토리 | Tous les Jours</title>

    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" href="../../styles/screens/brandstory/awesomebread.css">
    
    <script type="text/javascript" src="../../js/jquery-3.7.0.min.js"></script>
    <style>
 
    </style>
</head>
<body>

  <!-- Header -->
  <header>
    <div class="skip_menu">
      <ul>
        <li><a href="#해당페이지 바디로 이동">본문내용으로 바로가기</a></li>
        <li><a href="#gnb로 이동">주메뉴 바로가기</a></li>
      </ul>
    </div>

    <div class="inner">
      <a href="/" class="logo">
        <img
          src="../../img/logos/logo_2.png"
          alt="touslesjours"
          width="300"
        />
      </a>

      <div class="sub-menu">
        <ul class="menu">
          <li>
            <a
              href="https://www.cjone.com/cjmweb/join.do?coopco_cd=7020&brnd_cd=2010&mcht_no=2010&coop_return_url="
              >Sign in</a
            >
          </li>
          <li>
            <a href="../../views/map/map.html">매장 찾기</a>
          </li>
          <li>
            <a href="../../views/startup/startup.html">창업 준비하기</a>
          </li>
          <li>
            <a href="../customerpage/customerpage.html">고객센터</a>
          </li>
          <li>
            <a href="../partissier/partissier.html">기사 채용안내</a>
          </li>
          <li>
            <a href="../main/login.html">log in</a>
          </li>
        </ul>
        <div class="search">
          <input id="search_box"type="text" />
  
        </div>
      </div>  
      

      <ul class="main-menu">
        <li class="item">
          <div class="item__name">
            <a href="../story/brand_story.html">브랜드 스토리</a>
          </div>
          <div class="item__contents">
            <div class="contents__menu">
              <ul class="inner">
                <li>
                  <h4>브랜드 스토리</h4>
                  <ul>
                    <li>
                      <a href="../story/brand_story.html">브랜드 스토리</a>
                    </li>
                    <li>
                      <a href="../story/material.html"
                        >뚜레쥬르 재료 이야기</a
                      >
                    </li>
                    <li>
                      <a href="../story/global.html">글로벌 뚜레쥬르</a>
                    </li>
                    <li>
                      <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                    </li>
                    <li>
                      <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                    </li>
                    <li>
                      <a href="../story/notice.html">뉴스 & 공지사항</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>제품 안내</h4>
                  <ul>
                    <li><a href="../menu/new_products.html">신제품</a></li>
                    <li><a href="../menu/bread.html">빵</a></li>
                    <li><a href="../menu/cake.html">케이크</a></li>
                    <li><a href="../menu/deli.html">델리</a></li>
                    <li><a href="../menu/">선물</a></li>
                    <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                    <li><a href="../menu/drinks.html">음료</a></li>
                  </ul>
                </li>
                <li>
                  <h4>이벤트&멤버십</h4>
                  <ul>
                    <li>
                      <a href="../eventpage/eventpage.html"
                        >진행중인 이벤트</a
                      >
                    </li>
                    <li>
                      <a href="../eventpage/eventwinner.html"
                        >이벤트 담당자</a
                      >
                    </li>
                    <li>
                      <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                    </li>
                    <li>
                      <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                  <ul>
                    <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                    <li>
                      <a href="../app/homedelivery/homedelivery_list01.html"
                        >홈페이지 전용 예약 배송</a
                      >
                    </li>
                    <li>
                      <a href="../app/flowerdelivery/flowerdelivery.html"
                        >꽃 & 케이크 택배 배송</a
                      >
                    </li>
                    <li>
                      <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="item__name">
            <a href="../menu/new_products.html">제품 안내</a>
          </div>
          <div class="item__contents">
            <div class="contents__menu">
              <ul class="inner">
                <li>
                  <h4>브랜드 스토리</h4>
                  <ul>
                    <li>
                      <a href="../story/brand_story.html">브랜드 스토리</a>
                    </li>
                    <li>
                      <a href="../story/material.html"
                        >뚜레쥬르 재료 이야기</a
                      >
                    </li>
                    <li>
                      <a href="../story/global.html">글로벌 뚜레쥬르</a>
                    </li>
                    <li>
                      <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                    </li>
                    <li>
                      <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                    </li>
                    <li>
                      <a href="../story/notice.html">뉴스 & 공지사항</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>제품 안내</h4>
                  <ul>
                    <li><a href="../menu/new_products.html">신제품</a></li>
                    <li><a href="../menu/bread.html">빵</a></li>
                    <li><a href="../menu/cake.html">케이크</a></li>
                    <li><a href="../menu/deli.html">델리</a></li>
                    <li><a href="../menu/">선물</a></li>
                    <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                    <li><a href="../menu/drinks.html">음료</a></li>
                  </ul>
                </li>
                <li>
                  <h4>이벤트&멤버십</h4>
                  <ul>
                    <li>
                      <a href="../eventpage/eventpage.html"
                        >진행중인 이벤트</a
                      >
                    </li>
                    <li>
                      <a href="../eventpage/eventwinner.html"
                        >이벤트 담당자</a
                      >
                    </li>
                    <li>
                      <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                    </li>
                    <li>
                      <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                  <ul>
                    <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                    <li>
                      <a href="../app/homedelivery/homedelivery_list01.html"
                        >홈페이지 전용 예약 배송</a
                      >
                    </li>
                    <li>
                      <a href="../app/flowerdelivery/flowerdelivery.html"
                        >꽃 & 케이크 택배 배송</a
                      >
                    </li>
                    <li>
                      <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="item__name">
            <a href="../eventpage/eventpage.html">이벤트 & 멤버십</a>
          </div>
          <div class="item__contents">
            <div class="contents__menu">
              <ul class="inner">
                <li>
                  <h4>브랜드 스토리</h4>
                  <ul>
                    <li>
                      <a href="../story/brand_story.html">브랜드 스토리</a>
                    </li>
                    <li>
                      <a href="../story/material.html"
                        >뚜레쥬르 재료 이야기</a
                      >
                    </li>
                    <li>
                      <a href="../story/global.html">글로벌 뚜레쥬르</a>
                    </li>
                    <li>
                      <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                    </li>
                    <li>
                      <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                    </li>
                    <li>
                      <a href="../story/notice.html">뉴스 & 공지사항</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>제품 안내</h4>
                  <ul>
                    <li><a href="../menu/new_products.html">신제품</a></li>
                    <li><a href="../menu/bread.html">빵</a></li>
                    <li><a href="../menu/cake.html">케이크</a></li>
                    <li><a href="../menu/deli.html">델리</a></li>
                    <li><a href="../menu/">선물</a></li>
                    <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                    <li><a href="../menu/drinks.html">음료</a></li>
                  </ul>
                </li>
                <li>
                  <h4>이벤트&멤버십</h4>
                  <ul>
                    <li>
                      <a href="../eventpage/eventpage.html"
                        >진행중인 이벤트</a
                      >
                    </li>
                    <li>
                      <a href="../eventpage/eventwinner.html"
                        >이벤트 담당자</a
                      >
                    </li>
                    <li>
                      <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                    </li>
                    <li>
                      <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                  <ul>
                    <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                    <li>
                      <a href="../app/homedelivery/homedelivery_list01.html"
                        >홈페이지 전용 예약 배송</a
                      >
                    </li>
                    <li>
                      <a href="../app/flowerdelivery/flowerdelivery.html"
                        >꽃 & 케이크 택배 배송</a
                      >
                    </li>
                    <li>
                      <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="item__name">
            <a href="../app/appmain.html">뚜레쥬르 앱 & 온라인 쇼핑몰</a>
          </div>
          <div class="item__contents">
            <div class="contents__menu">
              <ul class="inner">
                <li>
                  <h4>브랜드 스토리</h4>
                  <ul>
                    <li>
                      <a href="../story/brand_story.html">브랜드 스토리</a>
                    </li>
                    <li>
                      <a href="../story/material.html"
                        >뚜레쥬르 재료 이야기</a
                      >
                    </li>
                    <li>
                      <a href="../story/global.html">글로벌 뚜레쥬르</a>
                    </li>
                    <li>
                      <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                    </li>
                    <li>
                      <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                    </li>
                    <li>
                      <a href="../story/notice.html">뉴스 & 공지사항</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>제품 안내</h4>
                  <ul>
                    <li><a href="../menu/new_products.html">신제품</a></li>
                    <li><a href="../menu/bread.html">빵</a></li>
                    <li><a href="../menu/cake.html">케이크</a></li>
                    <li><a href="../menu/deli.html">델리</a></li>
                    <li><a href="../menu/">선물</a></li>
                    <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                    <li><a href="../menu/drinks.html">음료</a></li>
                  </ul>
                </li>
                <li>
                  <h4>이벤트&멤버십</h4>
                  <ul>
                    <li>
                      <a href="../eventpage/eventpage.html"
                        >진행중인 이벤트</a
                      >
                    </li>
                    <li>
                      <a href="../eventpage/eventwinner.html"
                        >이벤트 담당자</a
                      >
                    </li>
                    <li>
                      <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                    </li>
                    <li>
                      <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                  <ul>
                    <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                    <li>
                      <a href="../app/homedelivery/homedelivery_list01.html"
                        >홈페이지 전용 예약 배송</a
                      >
                    </li>
                    <li>
                      <a href="../app/flowerdelivery/flowerdelivery.html"
                        >꽃 & 케이크 택배 배송</a
                      >
                    </li>
                    <li>
                      <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
</header>
    <!-- Section -->
    <section class="story">
      <div class="inner_sect">
        <h2 class="story_name">뚜레쥬르 착한빵</h2>

        <div class="story_top">
          <ul class="top_menu">
            <li>
              <a href="javascript:void(0)">HOME</a>
            </li>
            <li>
              <a href="javascript:void(0)">브랜드 스토리</a>
            </li>
            <li>
              <a href="javascript:void(0)">뚜레쥬르 착한빵</a>
            </li>
          </ul>
        </div>
        <div class="content">
          <img src="../../images/awseome_bread1.png" alt="" />
          <div class="awesome_desc">
            <p class="big">뚜레쥬르의 착한빵 이야기</p>
            <p>
              <br />
            </p>

            <p>
              착한빵은 뚜레쥬르의 착한 마음을 담아
              <br />
              신선한 국내산 원재료를 사용하여 만든 빵으로
              <br />
              두 개가 팔릴 때마다 하나씩 복지시설 아동에게 맛있는 빵을
              선물합니다.
            </p>
          </div>
          <img src="../../images/img_goodBread01.png" alt="" />
        </div>
        <div class="awesome_detail">
          <div class="awesome_detail_1">
            <div class="awesome_detail_pic">
              <img src="../../images/img_goodBread_farm06.jpg" alt="" />
            </div>
            <div class="awesome_detail_desc">
              <div class="awesome_detail_desc_top">
                <img src="../../images/tit_GB07.png" alt="" />
                <p>
                  신선한 국내산 원재료인 고흥 유자와<br />
                  의성 마늘로 제품을 만들어 상생을 실천합니다.
                </p>
              </div>
              <div class="awesome_detail_desc_content">
                <p>
                  [고흥 유자와 의성 마늘로 만든<br />
                  2018년 뚜레쥬르 착한빵 2종]
                </p>
                <p>
                  바삭한 비스켓을 올린 부드러운 브리오쉬에 고흥<br />
                  유자로 만든 새콤한 유자청과 달콤한 크림을 가득<br />
                  채운 유자 닮은 유자 크림빵<br />
                  겉은 바삭 속은 부드러운 바게트에 진하고 달콤한<br />
                  의성 마늘 소스를 듬뿍 뿌려 촉촉하고 깊은 맛의 갈<br />
                  릭 퐁당 브레드
                </p>
                <img src="../../images/img_GB08.png" alt="" />
              </div>
            </div>
          </div>
          <div class="awesome_detail_2">
            <div class="awesome_detail_pic">
              <img src="../../images/img_goodBread_farm05.jpg" alt="" />
            </div>
            <div class="awesome_detail_desc">
              <div class="awesome_detail_desc_top">
                <img src="../../images/tit_GB06.png" alt="" />
                <p>
                  '우리땅에서 나는 건강 재료 발굴 상생 협약'을 통해<br />
                  선정된 강원도 지역의 국내산 쌀 제품으로 만들어<br />
                  상생을 실천합니다.
                </p>
              </div>
              <div class="awesome_detail_desc_content">
                <p>
                  [강원도 쌀로 만든<br />
                  2017년 뚜레쥬르 착한빵 2종]<br />
                </p>
                <p>
                  향긋한 쑥을 넣은 쫄깃한 떡을 쏙 넣고 소보로까지<br />
                  토핑한 나눠먹기 좋은 우리쌀로 만든 쑥떡브레드<br />
                  와 쌀을 첨가하여 한층 더 쫄깃하고 바삭해진 츄러<br />
                  스에 달콤한 설탕을 토핑하여 커피와 잘 어울리는<br />
                  라이스 츄러스<br />
                </p>
                <img src="../../images/img_GB07.png" alt="" />
              </div>
            </div>
          </div>
          <div class="awesome_detail_3">
            <div class="awesome_detail_pic">
              <img src="../../images/img_goodBread_farm04.jpg" alt="" />
            </div>
            <div class="awesome_detail_desc">
              <div class="awesome_detail_desc_top">
                <img src="../../images/tit_GB05.png" alt="" />
                <p>
                  '우리땅에서 나는 건강 재료 발굴 상생 협약'을 통해<br />
                  선정된 경기도 이천 지역의 국내산 쌀 제품으로 만들어<br />
                  상생을 실천합니다.
                </p>
              </div>
              <div class="awesome_detail_desc_content">
                <p>
                  [이천 쌀로 만든<br />
                  2017년 뚜레쥬르 착한빵 2종]<br />
                </p>
                <p>
                  향긋한 쑥과 쌀가루로 만든 쫄깃한 빵에 고소한 콩<br />
                  가루를 토핑한 고소한 인절미스틱과, 향긋한 쑥을<br />
                  넣은 쫄깃한 떡을 쏙 넣고 소보로까지 토핑한 나눠<br />
                  먹기 좋은 우리쌀로 만든 쑥떡브레드<br />
                </p>
                <img src="../../images/img_GB06.png" alt="" />
              </div>
            </div>
          </div>
          <div class="awesome_detail_4">
            <div class="awesome_detail_pic">
              <img src="../../images/img_goodBread_farm03.jpg" alt="" />
            </div>
            <div class="awesome_detail_desc">
              <div class="awesome_detail_desc_top">
                <img src="../../images/tit_GB03.png" alt="" />
                <p>
                  '우리땅에서 나는 건강 재료 발굴 상생 협약'을 통해<br />
                  선정된 전라도 지역 특산물인 흑보리로 제품을 만들어<br />
                  상생을 실천합니다.
                </p>
              </div>
              <div class="awesome_detail_desc_content">
                <p>
                  [전라도 특산물 흑보리로 만든<br />
                  2016년 뚜레쥬르 착한빵 2종]<br />
                </p>
                <p>
                  담백한 흑보리와 쫄깃한 찹쌀이 어우러져<br />
                  씹는맛이 좋은 한입사이즈의 흑보리 찰도넛과, 다<br />
                  양한 곡물과 고구마, 찹쌀떡이 어우러져 고소한 맛<br />
                  이 더욱 좋은 간식형 브레드<br />
                </p>
                <img src="../../images/img_GB05.png" alt="" />
              </div>
            </div>
          </div>
          <div class="awesome_detail_5">
            <div class="awesome_detail_pic">
              <img src="../../images/img_goodBread_farm01.jpg" alt="" />
            </div>
            <div class="awesome_detail_desc">
              <div class="awesome_detail_desc_top">
                <img src="../../images/tit_GB01.png" alt="" />
                <p>
                  2015년에는 땅끝해남에서 감자를 재배하는<br />
                  농가와의 거래를 통하여 신선한 해남산 감자로<br />
                  제품을 만들어 상생을 실천합니다.
                </p>
              </div>
              <div class="awesome_detail_desc_content">
                <p>
                  [해남산 감자로 만든 뚜레쥬르 착한빵 2종]<br />
                </p>
                <p>
                  알알이 뜯어먹기 좋은 담백한 빵에 폭신한 순감자,<br />
                  치즈와 허니머스타드 소스를 곁들인 알알이 순감<br />
                  자 (감자함량 31%)와 담백한 포카치아 속 감자와<br />
                  햄을 넣은 순감자 포카치아 (감자함량 42%)<br />
                </p>
                <img src="../../images/img_GB01.png" alt="" />
              </div>
            </div>
          </div>
          <div class="awesome_detail_6">
            <div class="awesome_detail_pic">
              <img src="../../images/img_goodBread_farm02.jpg" alt="" />
            </div>
            <div class="awesome_detail_desc">
              <div class="awesome_detail_desc_top">
                <img src="../../images/tit_GB02.png" alt="" />
                <p>
                  2014년에는 비영리단체 (하동녹차연구소)가<br />
                  운영하는 녹차농가 (약2000가구)와의 직거래를<br />
                  선정된 전라도 지역 특산물인 흑보리로 제품을 만들어<br />
                  상생을 실천합니다.
                </p>
              </div>
              <div class="awesome_detail_desc_content">
                <p>
                  [하동 녹차로 만든 뚜레쥬르 착한빵 2종]<br />
                </p>
                <p>
                  바삭한 녹차 소보로빵에 시원한 크림을 넣은<br />
                  쿨 브레드 제품으로 하동녹차를 이용하여 만든<br />
                  뚜레쥬르 베스트 제품! 쿨~녹차브레드와 은은한<br />
                  녹차를 넣은 담백한 빵에 쫀득한 찰떡과 달콤한 콩<br />
                  을 넣어 쫄깃하게 씹히는 녹차 쫀득쫀득 녹차콩떡<br />
                </p>
                <img src="../../images/img_GB02.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

      <!-- 오른쪽 하단 퀵 메뉴 -->
  <div class="mainpage_quick--menu">
    <div
      class="mainpage_quick--menu-cont mainpage_quick-cont--disappear"
    >
      <a href="#" class="main_quick--btn">
        <img src="../../img/icons/top.png" alt="상단으로가기" />
        <span>TOP</span>
      </a>
      <a
        href="https://www.instagram.com/touslesjours_kr/"
        class="main_quick--btn" target="_blank"
      >
        <img src="../../img/icons/sns.png" alt="sns보기" />
        <span>SNS</span>
      </a>
      <a href="../../views/startup/startup.html" class="main_quick--btn">
        <img src="../../img/icons/start-up.png" alt="창업하기" />
        <span>창업</span>
      </a>
      <a
        href="../../views/partissier/partissier.html"
        class="main_quick--btn"
      >
        <img src="../../img/icons/recruitment.png" alt="기사채용" />
        <span>기사<br />채용</span>
      </a>
    </div>
    <button id="quicktoggle" class="mainpage_btn--disappear">
      <img
        class="mainpage_btn-img--disappear"
        src="../../img/icons/up-arrow_col.png"
        alt="보이기"
      />
    </button>
  </div>
  
  <!-- Footer-->
  <footer>
    <div class="footer_affiliate">
      <ul>
        <li>
          <a href="https://www.cjfoodville.co.kr/main.asp" target="_blank" title="CJ 푸드빌 새창으로 열기">
            <img src="../../img/footer/cjfoodvill.jpg" alt="CJ 푸드빌">
          </a>
        </li>
        <li>
          <a href="https://www.ivips.co.kr:7002/" target="_blank" title="빕스 새창으로 열기">
            <img src="../../img/footer/vips.jpg" alt="Vips">
          </a>
        </li>
        <li>
          <a href="https://www.italiantheplace.co.kr:7022/brand/" target="_blank" title="더플레이스 새창으로 열기">
            <img src="../../img/footer/theplace.jpg" alt="The place">
          </a>
        </li>
        <li>
          <a href="https://www.cheiljemyunso.co.kr:7014/main.asp" target="_blank" title="제일제면소 새창으로 열기">
            <img src="../../img/footer/jeil.jpg" alt="제일제면소">
          </a>
        </li>
        <li>
          <a href="https://www.ngrill.co.kr:7025/index.html" target="_blank" title="엔그릴 새창으로 열기">
            <img src="../../img/footer/ngrill.jpg" alt="엔그릴">
          </a>
        </li>
        <li>
          <a href="https://www.nseoultower.co.kr:8501/index.asp" target="_blank" title="N SEOUL TOWER 새창으로 열기">
            <img src="../../img/footer/nSeoul.jpg" alt="엔서울타워">
          </a>
        </li>
      </ul>
    </div>

    <div class="footer_bottom">

      <div class="company">
        <ul>
          <li>
            <a href="http://www.cjfoodville.co.kr/story/foodvilleintro.html"
              >회사소개</a
            >
          </li>
          <li>
            <a href="http://127.0.0.1:5500/views/partissier/partissier.html"
              >기사채용안내</a
            >
          </li>
          <li>
            <a href="http://127.0.0.1:5500/views/startup/startup.html"
              >창업안내</a
            >
          </li>
          <li>
            <a href="http://127.0.0.1:5500/views/footer/sitemap.html">사이트맵</a>
          </li>
        </ul>
      </div>

      <div class="policy">
        <ul>
          <li>
            <a href="https://www.cjfoodville.co.kr/footer/userpolicy.asp" target="_blank" title="새창 열림">이용약관</a
            >
          </li>
          <li>
            <a href="https://www.cjfoodville.co.kr/footer/location.asp" target="_blank" title="새창 열림">위치기반서비스 이용약관</a
            >
          </li>
          <li class="private">
            <a href="https://www.cjfoodville.co.kr/footer/privacy.asp" target="_blank" title="새창 열림">개인정보처리방침</a
            >
          </li>
          <li>
            <a href="http://127.0.0.1:5500/views/footer/email.html"
              >이메일무단수집거부</a
            >
          </li>
          <li>
            <a href="https://www.cjfoodville.co.kr/footer/ethic_center.asp" target="_blank" title="새창 열림">윤리신고센터</a
            >
          </li>
          <li>
            <a href="http://127.0.0.1:5500/views/footer/legal.html">법적고지</a>
          </li>
        </ul>
      </div>

      <div class="company_info">
        <p>상호명 : CJ푸드빌(주)</p>

        <address>
            주소 : (우)04555 서울시 중구 마른내로34(초동 106-9번지)KT&amp;G
            을지로타워 3, 9-11층 CJ푸드빌㈜s
        </address>

        <p>
          <span>고객센터 : 1577-0700</span>
          <span>통신판매업종신고증 제 2011-서울중구-0771호</span>
          <sapn class="ftc_confirm">
            <a
              href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=3128142519"
              target="_blank"
              title="새창열림"
            >
              <img
                src="../../img/footer/footer_info_information.png"
                alt="사업자정보확인"
              />
            </a>
          </sapn>
          <span class="hosting">호스팅제공자 : CJ올리브네트웍스(주)</span>
        </p>

        <p class="business_info">
          <span>사업자등록번호 : 312-81-42519</span>
          <span>대표이사 : 김찬호</span>
          <span>개인정보보호책임자 : 오창호</span>
          <span class="email">
            <a href="mailto:help_master@cj.net"
              >대표 이메일 : help_master@cj.net</a
            >
          </span>
        </p>

        <p class="copyright">
          COPYRIGHT 2023©CJ Foodville ALL RIGHT RESERVED.
        </p>
      </div>

      <div class="footer_logo">
        <img src="../../img/logos/logo_grey.png" />
      </div>
    </div>
  </footer>
  
  <script type="text/javascript" src="../../js/menu/bread.js"></script>

  <!-- 오른쪽 하단 바로가기 메뉴 -->
  <script src="../../js/mainpage/mainquicknav.js"></script>


  </body>
</html>
