<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 헤더관련 -->
    <link rel="icon" href="../../favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700&family=Nanum+Pen+Script&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <script defer src="../../js/brandstory/latelier.js"></script>

    <title>브랜드 스토리 | Tous les Jours</title>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" href="../../styles/screens/brandstory/latelier.css">

    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=h1ai8h7ku5"></script>
    <script type="text/javascript" src="../../js/jquery-3.7.0.min.js"></script>
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="skip_menu">
        <ul>
          <li><a href="#해당페이지 바디로 이동">본문내용으로 바로가기</a></li>
          <li><a href="#gnb로 이동">주메뉴 바로가기</a></li>
        </ul>
      </div>
  
      <div class="inner">
        <a href="/" class="logo">
          <img
            src="../../img/logos/logo_2.png"
            alt="touslesjours"
            width="300"
          />
        </a>
  
        <div class="sub-menu">
          <ul class="menu">
            <li>
              <a
                href="https://www.cjone.com/cjmweb/join.do?coopco_cd=7020&brnd_cd=2010&mcht_no=2010&coop_return_url="
                >Sign in</a
              >
            </li>
            <li>
              <a href="../../views/map/map.html">매장 찾기</a>
            </li>
            <li>
              <a href="../../views/startup/startup.html">창업 준비하기</a>
            </li>
            <li>
              <a href="../customerpage/customerpage.html">고객센터</a>
            </li>
            <li>
              <a href="../partissier/partissier.html">기사 채용안내</a>
            </li>
            <li>
              <a href="../main/login.html">log in</a>
            </li>
          </ul>
          <div class="search">
            <input id="search_box"type="text" />
    
          </div>
        </div>  
        
  
        <ul class="main-menu">
          <li class="item">
            <div class="item__name">
              <a href="../story/brand_story.html">브랜드 스토리</a>
            </div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>
                        <a href="../story/brand_story.html">브랜드 스토리</a>
                      </li>
                      <li>
                        <a href="../story/material.html"
                          >뚜레쥬르 재료 이야기</a
                        >
                      </li>
                      <li>
                        <a href="../story/global.html">글로벌 뚜레쥬르</a>
                      </li>
                      <li>
                        <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                      </li>
                      <li>
                        <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                      </li>
                      <li>
                        <a href="../story/notice.html">뉴스 & 공지사항</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li><a href="../menu/new_products.html">신제품</a></li>
                      <li><a href="../menu/bread.html">빵</a></li>
                      <li><a href="../menu/cake.html">케이크</a></li>
                      <li><a href="../menu/deli.html">델리</a></li>
                      <li><a href="../menu/">선물</a></li>
                      <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                      <li><a href="../menu/drinks.html">음료</a></li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>
                        <a href="../eventpage/eventpage.html"
                          >진행중인 이벤트</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/eventwinner.html"
                          >이벤트 담당자</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                      </li>
                      <li>
                        <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                      <li>
                        <a href="../app/homedelivery/homedelivery_list01.html"
                          >홈페이지 전용 예약 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/flowerdelivery/flowerdelivery.html"
                          >꽃 & 케이크 택배 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">
              <a href="../menu/new_products.html">제품 안내</a>
            </div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>
                        <a href="../story/brand_story.html">브랜드 스토리</a>
                      </li>
                      <li>
                        <a href="../story/material.html"
                          >뚜레쥬르 재료 이야기</a
                        >
                      </li>
                      <li>
                        <a href="../story/global.html">글로벌 뚜레쥬르</a>
                      </li>
                      <li>
                        <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                      </li>
                      <li>
                        <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                      </li>
                      <li>
                        <a href="../story/notice.html">뉴스 & 공지사항</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li><a href="../menu/new_products.html">신제품</a></li>
                      <li><a href="../menu/bread.html">빵</a></li>
                      <li><a href="../menu/cake.html">케이크</a></li>
                      <li><a href="../menu/deli.html">델리</a></li>
                      <li><a href="../menu/">선물</a></li>
                      <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                      <li><a href="../menu/drinks.html">음료</a></li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>
                        <a href="../eventpage/eventpage.html"
                          >진행중인 이벤트</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/eventwinner.html"
                          >이벤트 담당자</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                      </li>
                      <li>
                        <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                      <li>
                        <a href="../app/homedelivery/homedelivery_list01.html"
                          >홈페이지 전용 예약 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/flowerdelivery/flowerdelivery.html"
                          >꽃 & 케이크 택배 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">
              <a href="../eventpage/eventpage.html">이벤트 & 멤버십</a>
            </div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>
                        <a href="../story/brand_story.html">브랜드 스토리</a>
                      </li>
                      <li>
                        <a href="../story/material.html"
                          >뚜레쥬르 재료 이야기</a
                        >
                      </li>
                      <li>
                        <a href="../story/global.html">글로벌 뚜레쥬르</a>
                      </li>
                      <li>
                        <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                      </li>
                      <li>
                        <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                      </li>
                      <li>
                        <a href="../story/notice.html">뉴스 & 공지사항</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li><a href="../menu/new_products.html">신제품</a></li>
                      <li><a href="../menu/bread.html">빵</a></li>
                      <li><a href="../menu/cake.html">케이크</a></li>
                      <li><a href="../menu/deli.html">델리</a></li>
                      <li><a href="../menu/">선물</a></li>
                      <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                      <li><a href="../menu/drinks.html">음료</a></li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>
                        <a href="../eventpage/eventpage.html"
                          >진행중인 이벤트</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/eventwinner.html"
                          >이벤트 담당자</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                      </li>
                      <li>
                        <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                      <li>
                        <a href="../app/homedelivery/homedelivery_list01.html"
                          >홈페이지 전용 예약 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/flowerdelivery/flowerdelivery.html"
                          >꽃 & 케이크 택배 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">
              <a href="../app/appmain.html">뚜레쥬르 앱 & 온라인 쇼핑몰</a>
            </div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>
                        <a href="../story/brand_story.html">브랜드 스토리</a>
                      </li>
                      <li>
                        <a href="../story/material.html"
                          >뚜레쥬르 재료 이야기</a
                        >
                      </li>
                      <li>
                        <a href="../story/global.html">글로벌 뚜레쥬르</a>
                      </li>
                      <li>
                        <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                      </li>
                      <li>
                        <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                      </li>
                      <li>
                        <a href="../story/notice.html">뉴스 & 공지사항</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li><a href="../menu/new_products.html">신제품</a></li>
                      <li><a href="../menu/bread.html">빵</a></li>
                      <li><a href="../menu/cake.html">케이크</a></li>
                      <li><a href="../menu/deli.html">델리</a></li>
                      <li><a href="../menu/">선물</a></li>
                      <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                      <li><a href="../menu/drinks.html">음료</a></li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>
                        <a href="../eventpage/eventpage.html"
                          >진행중인 이벤트</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/eventwinner.html"
                          >이벤트 담당자</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                      </li>
                      <li>
                        <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                      <li>
                        <a href="../app/homedelivery/homedelivery_list01.html"
                          >홈페이지 전용 예약 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/flowerdelivery/flowerdelivery.html"
                          >꽃 & 케이크 택배 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
  </header>
    <!-- Section -->
    <section class="story">
      <div class="inner_sect">
        <h2 class="story_name">뚜레쥬르 라뜰리에</h2>

        <div class="story_top">
          <ul class="top_menu">
            <li>
              <a href="javascript:void(0)">HOME</a>
            </li>
            <li>
              <a href="javascript:void(0)">브랜드 스토리</a>
            </li>
            <li>
              <a href="javascript:void(0)">뚜레쥬르 라뜰리에</a>
            </li>
          </ul>
        </div>
        <div class="content">
          <div class="content_container">
            <img src="../../images/img_latelier_logo.png" alt="" />
            <div class="latelier_desc">
              <p>
                '뚜레쥬르 라뜰리에'는 뚜레쥬르의 브랜드 정신이 집약된 곳으로
                재료부터 다른 건강한 베이커리로서 매일 매일 최고의 제품만을
                선보입니다. <br />또한, '정통 베이커리 카페(Authentic Bakery
                Cafe)'로, 매일 매장에서 직접 반죽해 정성스럽게 만드는 베이커리와
                편안하고 친근한 공간을 선사합니다.
              </p>
            </div>
            <div class="latelier_image">
              <img src="../../images/img_latelier01.jpg" alt="" />
            </div>
            <div class="latelier_desc_2">
              <p>
                매일 매장에서 직접 반죽하여 정성스럽게 만드는 뚜레쥬르
                라뜰리에는 각 제품 특성에 맞는 밀가루를 선별하여 사용하고,<br />
                천연 발효종, 프랑스 AOP 버터, 우유 생크림 등 프리미엄 원료를
                엄선하여 사용한 시그니처 제품을 선보입니다.<br />
                오직 뚜레쥬르 라뜰리에에서만 즐길 수 있는 다양한 빵과 케이크,
                신선한 샐러드와 샌드위치는 물론,<br />
                라뜰리에 프리미엄 햄퍼세트까지 고급스러운 선물을 만나보세요.<br />
                더불어, 벼 껍질, 굴 껍데기, 달걀 껍질 등의 소재를 업사이클링한
                오브제와 푸릇푸릇한 식물로 꾸며진 친환경적인 공간을 즐겨보세요.
              </p>
            </div>
          </div>
        </div>
        <div class="map_box">
          <div class="map_intro">
            <div class="map_intro_desc">
              <div class="map_address">
                <p>매장안내</p>
                <p class="map_intro_desc_first">
                  <strong>장소</strong>
                </p>
                <p>
                  서울시 중구 동호로 330<br />
                  CJ제일제당센터
                </p>
              </div>
              <div class="map_subway">
                <p class="map_intro_desc_first"><strong>오시는길</strong></p>
                <p>
                  동대문 역사 문화공원역 2,4호선<br />
                  5번출구 나와서 퇴계로 5가<br />
                  사거리까지 직진 200M
                </p>
              </div>
              <div class="map_contact">
                <p class="map_intro_desc_first"><strong>문의</strong></p>
                <p>02-6240-7930</p>
              </div>
            </div>
          </div>
          <div class="map_location" id="map">지도</div>
        </div>
      </div>
    </section>
      <!-- 오른쪽 하단 퀵 메뉴 -->
    <div class="mainpage_quick--menu">
      <div
        class="mainpage_quick--menu-cont mainpage_quick-cont--disappear"
      >
        <a href="#" class="main_quick--btn">
          <img src="../../img/icons/top.png" alt="상단으로가기" />
          <span>TOP</span>
        </a>
        <a
          href="https://www.instagram.com/touslesjours_kr/"
          class="main_quick--btn" target="_blank"
        >
          <img src="../../img/icons/sns.png" alt="sns보기" />
          <span>SNS</span>
        </a>
        <a href="../../views/startup/startup.html" class="main_quick--btn">
          <img src="../../img/icons/start-up.png" alt="창업하기" />
          <span>창업</span>
        </a>
        <a
          href="../../views/partissier/partissier.html"
          class="main_quick--btn"
        >
          <img src="../../img/icons/recruitment.png" alt="기사채용" />
          <span>기사<br />채용</span>
        </a>
      </div>
      <button id="quicktoggle" class="mainpage_btn--disappear">
        <img
          class="mainpage_btn-img--disappear"
          src="../../img/icons/up-arrow_col.png"
          alt="보이기"
        />
      </button>
    </div>
  
  <!-- Footer-->
  <footer>
    <div class="footer_affiliate">
      <ul>
        <li>
          <a href="https://www.cjfoodville.co.kr/main.asp" target="_blank" title="CJ 푸드빌 새창으로 열기">
            <img src="../../img/footer/cjfoodvill.jpg" alt="CJ 푸드빌">
          </a>
        </li>
        <li>
          <a href="https://www.ivips.co.kr:7002/" target="_blank" title="빕스 새창으로 열기">
            <img src="../../img/footer/vips.jpg" alt="Vips">
          </a>
        </li>
        <li>
          <a href="https://www.italiantheplace.co.kr:7022/brand/" target="_blank" title="더플레이스 새창으로 열기">
            <img src="../../img/footer/theplace.jpg" alt="The place">
          </a>
        </li>
        <li>
          <a href="https://www.cheiljemyunso.co.kr:7014/main.asp" target="_blank" title="제일제면소 새창으로 열기">
            <img src="../../img/footer/jeil.jpg" alt="제일제면소">
          </a>
        </li>
        <li>
          <a href="https://www.ngrill.co.kr:7025/index.html" target="_blank" title="엔그릴 새창으로 열기">
            <img src="../../img/footer/ngrill.jpg" alt="엔그릴">
          </a>
        </li>
        <li>
          <a href="https://www.nseoultower.co.kr:8501/index.asp" target="_blank" title="N SEOUL TOWER 새창으로 열기">
            <img src="../../img/footer/nSeoul.jpg" alt="엔서울타워">
          </a>
        </li>
      </ul>
    </div>

    <div class="footer_bottom">

      <div class="company">
        <ul>
          <li>
            <a href="http://www.cjfoodville.co.kr/story/foodvilleintro.html"
              >회사소개</a
            >
          </li>
          <li>
            <a href="http://127.0.0.1:5500/views/partissier/partissier.html"
              >기사채용안내</a
            >
          </li>
          <li>
            <a href="http://127.0.0.1:5500/views/startup/startup.html"
              >창업안내</a
            >
          </li>
          <li>
            <a href="http://127.0.0.1:5500/views/footer/sitemap.html">사이트맵</a>
          </li>
        </ul>
      </div>

      <div class="policy">
        <ul>
          <li>
            <a href="https://www.cjfoodville.co.kr/footer/userpolicy.asp" target="_blank" title="새창 열림">이용약관</a
            >
          </li>
          <li>
            <a href="https://www.cjfoodville.co.kr/footer/location.asp" target="_blank" title="새창 열림">위치기반서비스 이용약관</a
            >
          </li>
          <li class="private">
            <a href="https://www.cjfoodville.co.kr/footer/privacy.asp" target="_blank" title="새창 열림">개인정보처리방침</a
            >
          </li>
          <li>
            <a href="http://127.0.0.1:5500/views/footer/email.html"
              >이메일무단수집거부</a
            >
          </li>
          <li>
            <a href="https://www.cjfoodville.co.kr/footer/ethic_center.asp" target="_blank" title="새창 열림">윤리신고센터</a
            >
          </li>
          <li>
            <a href="http://127.0.0.1:5500/views/footer/legal.html">법적고지</a>
          </li>
        </ul>
      </div>

      <div class="company_info">
        <p>상호명 : CJ푸드빌(주)</p>

        <address>
            주소 : (우)04555 서울시 중구 마른내로34(초동 106-9번지)KT&amp;G
            을지로타워 3, 9-11층 CJ푸드빌㈜s
        </address>

        <p>
          <span>고객센터 : 1577-0700</span>
          <span>통신판매업종신고증 제 2011-서울중구-0771호</span>
          <sapn class="ftc_confirm">
            <a
              href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=3128142519"
              target="_blank"
              title="새창열림"
            >
              <img
                src="../../img/footer/footer_info_information.png"
                alt="사업자정보확인"
              />
            </a>
          </sapn>
          <span class="hosting">호스팅제공자 : CJ올리브네트웍스(주)</span>
        </p>

        <p class="business_info">
          <span>사업자등록번호 : 312-81-42519</span>
          <span>대표이사 : 김찬호</span>
          <span>개인정보보호책임자 : 오창호</span>
          <span class="email">
            <a href="mailto:help_master@cj.net"
              >대표 이메일 : help_master@cj.net</a
            >
          </span>
        </p>

        <p class="copyright">
          COPYRIGHT 2023©CJ Foodville ALL RIGHT RESERVED.
        </p>
      </div>

      <div class="footer_logo">
        <img src="../../img/logos/logo_grey.png" />
      </div>
    </div>
  </footer>
  
  <script type="text/javascript" src="../../js/menu/bread.js"></script>

  <!-- 오른쪽 하단 바로가기 메뉴 -->
  <script src="../../js/mainpage/mainquicknav.js"></script>


  </body>
</html>
