<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700&family=Nanum+Pen+Script&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <script defer src="../../js/main.js"></script>
    <link rel="stylesheet" href="../../styles/style.css" />
    <title>고객센터 | Tous les Jours</title>
  </head>
  <body>
    <div class="skip_menu">
      <ul>
        <li><a href="#해당페이지 바디로 이동">본문내용으로 바로가기</a></li>
        <li><a href="#gnb로 이동">주메뉴 바로가기</a></li>
      </ul>
    </div>
    <header>
      <div class="inner">
        <a href="../../index.html" class="logo">
          <img
            src="../../img/logos/logo_2.png"
            alt="touslesjours"
            width="300"
          />
        </a>

        <div class="sub-menu">
          <ul class="menu">
            <li>
              <a
                href="https://www.cjone.com/cjmweb/join.do?coopco_cd=7020&brnd_cd=2010&mcht_no=2010&coop_return_url="
                >Sign in</a
              >
            </li>
            <li>
              <a href="../../views/map/map.html">매장 찾기</a>
            </li>
            <li>
              <a href="../../views/startup/startup.html">창업 준비하기</a>
            </li>
            <li>
              <a href="../customerpage/customerpage.html">고객센터</a>
            </li>
            <li>
              <a href="../partissier/partissier.html">기사 채용안내</a>
            </li>
            <li>
              <a href="../main/login.html">log in</a>
            </li>
          </ul>
          <div class="search">
            <input id="search_box" type="text" />
          </div>
        </div>

        <ul class="main-menu">
          <li class="item">
            <div class="item__name">
              <a href="../story/brand_story.html">브랜드 스토리</a>
            </div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>
                        <a href="../story/brand_story.html">브랜드 스토리</a>
                      </li>
                      <li>
                        <a href="../story/material.html"
                          >뚜레쥬르 재료 이야기</a
                        >
                      </li>
                      <li>
                        <a href="../story/global.html">글로벌 뚜레쥬르</a>
                      </li>
                      <li>
                        <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                      </li>
                      <li>
                        <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                      </li>
                      <li>
                        <a href="../story/notice.html">뉴스 & 공지사항</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li><a href="../menu/new_products.html">신제품</a></li>
                      <li><a href="../menu/bread.html">빵</a></li>
                      <li><a href="../menu/cake.html">케이크</a></li>
                      <li><a href="../menu/deli.html">델리</a></li>
                      <li><a href="../menu/">선물</a></li>
                      <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                      <li><a href="../menu/drinks.html">음료</a></li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>
                        <a href="../eventpage/eventpage.html"
                          >진행중인 이벤트</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/eventwinner.html"
                          >이벤트 담당자</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                      </li>
                      <li>
                        <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                      <li>
                        <a href="../app/homedelivery/homedelivery_list01.html"
                          >홈페이지 전용 예약 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/flowerdelivery/flowerdelivery.html"
                          >꽃 & 케이크 택배 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">
              <a href="../menu/new_products.html">제품 안내</a>
            </div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>
                        <a href="../story/brand_story.html">브랜드 스토리</a>
                      </li>
                      <li>
                        <a href="../story/material.html"
                          >뚜레쥬르 재료 이야기</a
                        >
                      </li>
                      <li>
                        <a href="../story/global.html">글로벌 뚜레쥬르</a>
                      </li>
                      <li>
                        <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                      </li>
                      <li>
                        <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                      </li>
                      <li>
                        <a href="../story/notice.html">뉴스 & 공지사항</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li><a href="../menu/new_products.html">신제품</a></li>
                      <li><a href="../menu/bread.html">빵</a></li>
                      <li><a href="../menu/cake.html">케이크</a></li>
                      <li><a href="../menu/deli.html">델리</a></li>
                      <li><a href="../menu/">선물</a></li>
                      <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                      <li><a href="../menu/drinks.html">음료</a></li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>
                        <a href="../eventpage/eventpage.html"
                          >진행중인 이벤트</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/eventwinner.html"
                          >이벤트 담당자</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                      </li>
                      <li>
                        <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                      <li>
                        <a href="../app/homedelivery/homedelivery_list01.html"
                          >홈페이지 전용 예약 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/flowerdelivery/flowerdelivery.html"
                          >꽃 & 케이크 택배 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">
              <a href="../eventpage/eventpage.html">이벤트 & 멤버십</a>
            </div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>
                        <a href="../story/brand_story.html">브랜드 스토리</a>
                      </li>
                      <li>
                        <a href="../story/material.html"
                          >뚜레쥬르 재료 이야기</a
                        >
                      </li>
                      <li>
                        <a href="../story/global.html">글로벌 뚜레쥬르</a>
                      </li>
                      <li>
                        <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                      </li>
                      <li>
                        <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                      </li>
                      <li>
                        <a href="../story/notice.html">뉴스 & 공지사항</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li><a href="../menu/new_products.html">신제품</a></li>
                      <li><a href="../menu/bread.html">빵</a></li>
                      <li><a href="../menu/cake.html">케이크</a></li>
                      <li><a href="../menu/deli.html">델리</a></li>
                      <li><a href="../menu/">선물</a></li>
                      <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                      <li><a href="../menu/drinks.html">음료</a></li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>
                        <a href="../eventpage/eventpage.html"
                          >진행중인 이벤트</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/eventwinner.html"
                          >이벤트 담당자</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                      </li>
                      <li>
                        <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                      <li>
                        <a href="../app/homedelivery/homedelivery_list01.html"
                          >홈페이지 전용 예약 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/flowerdelivery/flowerdelivery.html"
                          >꽃 & 케이크 택배 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">
              <a href="../app/appmain.html">뚜레쥬르 앱 & 온라인 쇼핑몰</a>
            </div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>
                        <a href="../story/brand_story.html">브랜드 스토리</a>
                      </li>
                      <li>
                        <a href="../story/material.html"
                          >뚜레쥬르 재료 이야기</a
                        >
                      </li>
                      <li>
                        <a href="../story/global.html">글로벌 뚜레쥬르</a>
                      </li>
                      <li>
                        <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                      </li>
                      <li>
                        <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                      </li>
                      <li>
                        <a href="../story/notice.html">뉴스 & 공지사항</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li><a href="../menu/new_products.html">신제품</a></li>
                      <li><a href="../menu/bread.html">빵</a></li>
                      <li><a href="../menu/cake.html">케이크</a></li>
                      <li><a href="../menu/deli.html">델리</a></li>
                      <li><a href="../menu/">선물</a></li>
                      <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                      <li><a href="../menu/drinks.html">음료</a></li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>
                        <a href="../eventpage/eventpage.html"
                          >진행중인 이벤트</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/eventwinner.html"
                          >이벤트 담당자</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                      </li>
                      <li>
                        <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                      <li>
                        <a href="../app/homedelivery/homedelivery_list01.html"
                          >홈페이지 전용 예약 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/flowerdelivery/flowerdelivery.html"
                          >꽃 & 케이크 택배 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </header>
    <main>
      <div class="customer__page-wrap">
        <div class="eventpage_head-banner">
          <img src="../../img/mainpage/customeer.jpeg" alt="배경이미지" />
          <h2>고객센터</h2>
          <div class="page__location">
            <ul>
              <li>
                <a href="../../index.html"><span>HOME</span></a>
              </li>
              <p>&gt;</p>
              <li>
                <a href="../customerpage/customerpage.html"
                  ><span>고객센터</span></a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="customer__page-form">
          <div class="customer__form">
            <div class="customer__form-text-1">
              <h3>궁금하신 점을 확인해 보세요</h3>
              <p>FAQ, 온라인 상담, 온라인 상담 내역을 이용하실 수 있습니다.</p>
            </div>

            <div class="customer__form-text-2">
              <h3>고객상담안내</h3>
              <p>
                - 뚜레쥬르를 이요하시면서 문의사항이 있으시면 말씀해주세요. 더
                나은 서비스를 제공하기 우해 노력하겠으며, 최선을 다해 답변
                드리겠습니다.
              </p>
              <p>
                - 문의하신 내용에 답변은 요청 시 등록하신 E-Mail로 발송되며,
                "온라인 상담 내역"을 통해 확인 가능합니다.
              </p>
            </div>
            <div class="customer__form-text-3">
              <h3>고객센터 운영 안내</h3>
              <p>- 9시 ~ 12시, 13시 ~18시 (주말, 공휴일 제외)</p>
            </div>
          </div>
          <div class="customer_page-controller">
            <ul id="customer_page-nav--cont">
              <li id="customer_faq">
                <h4>FAQ</h4>
                <p>
                  고객님께서 자주 문의하시는 내용에 대한 답변을 준비하였습니다.
                </p>
                <button>CLICK</button>
              </li>
              <li id="customer_online-counsel">
                <h4>온라인 상담</h4>
                <p>
                  홈페이지를 통해서 온라인 상담을 24시간 접수를 받고 있습니다.
                </p>
                <button>CLICK</button>
              </li>
              <li id="customer_online-counsellist">
                <h4>온라인 상담 내역</h4>
                <p>홈페이지를 통해 온라인 상담한 내역을 확인할 수 있습니다.</p>
                <button>CLICK</button>
              </li>
            </ul>
          </div>

          <section class="faq__wrap hidden">
            <div class="faq__search-cont">
              <form action="" class="faq__search">
                <fieldset>
                  <legend class="hidden">FAQ 검색</legend>
                  <label for="faq__search_input">FAQ 검색</label>
                  <input id="faq__search_input" type="text" />
                  <button id="faq__search_submit" type="button">검색</button>
                </fieldset>
              </form>
            </div>
            <div class="faq__titles">
              <ul id="faq__nav-cont">
                <li id="faq__all">전체</li>
                <span>|</span>
                <li id="faq__membership">멤버십</li>
                <span>|</span>
                <li id="faq__products">제품</li>
                <span>|</span>
                <li id="faq__aff">제휴/할인 가맹점 개설</li>
                <span>|</span>
                <li id="faq__baking-train">제빵훈련원</li>
                <span>|</span>
                <li id="faq__recruit">뚜레쥬르 채용</li>
              </ul>
            </div>
            <div class="faq__table">
              <h2>
                총 <span id="faq__num">22</span>개의
                <span id="faq__table-title">FAQ</span>가 등록되었습니다.
              </h2>
              <div class="faq__table-head">
                <ul>
                  <li>구분</li>
                  <li>질문</li>
                </ul>
              </div>
              <div class="faq__table-body`">
                <ul id="faq__table-list">
                  <li class="q product">
                    <h4>Q</h4>
                    <span>제품</span>
                    <p>비닐 봉투는 유상 제공인가요?</p>
                    <button type="button">
                      <img src="../../img/icons/down-arrow.png" alt="펼치기" />
                    </button>
                  </li>
                  <li class="a hidden">
                    <h4>A</h4>
                    <p>
                      자원의 절약과 재활용 촉진에 관한 법률에 따라 비닐 봉투는
                      무상으로 제공해 드릴 수가 없습니다. 따라서 뚜레쥬르에서는
                      비닐 봉투를 유상으로 제공하고 있습니다.
                    </p>
                  </li>
                  <li class="q product">
                    <h4>Q</h4>
                    <span>제품</span>
                    <p>제품 예약은 어떻게 해야하나요?</p>
                    <button type="button">
                      <img src="../../img/icons/down-arrow.png" alt="펼치기" />
                    </button>
                  </li>
                  <li class="a hidden">
                    <h4>A</h4>

                    <p>
                      원하시는 제품은 수령일 기준 최소 2일 전(평일 기준)
                      매장으로 예약을 하셔야합니다. 매장마다 예약이 가능한
                      제품이 다를 수 있으니 매장으로 문의 부탁드립니다.
                    </p>
                  </li>
                  <li class="q product">
                    <h4>Q</h4>
                    <span>제품</span>
                    <p>점포마다 판매되는 제품의 가격이 다를 수도 있나요?</p>
                    <button type="button">
                      <img src="../../img/icons/down-arrow.png" alt="펼치기" />
                    </button>
                  </li>
                  <li class="a hidden">
                    <h4>A</h4>
                    <span></span>
                    <p>매장마다 제품의 가격이 동일하지 않을 수 있습니다.</p>
                  </li>
                  <li class="q new-recruit">
                    <h4>Q</h4>
                    <span>뚜레쥬르 채용</span>
                    <p>과거 지원자에 대한 불이익이 있습니까?</p>
                    <button type="button">
                      <img src="../../img/icons/down-arrow.png" alt="펼치기" />
                    </button>
                  </li>
                  <li class="a hidden">
                    <h4>A</h4>
                    <span></span>
                    <p>
                      과거지원에 대한 불이익은 전혀 없습니다. 채용 기준은 모든
                      지원자에게 공정하고 엄격하게 진행됩니다.
                    </p>
                  </li>
                  <li class="q new-recruit">
                    <h4>Q</h4>
                    <span>뚜레쥬르 채용</span>
                    <p>구직 등록필증은 어느곳에서 발급 받을 수 있습니까?</p>
                    <button type="button">
                      <img src="../../img/icons/down-arrow.png" alt="펼치기" />
                    </button>
                  </li>
                  <li class="a hidden">
                    <h4>A</h4>
                    <span></span>
                    <p>
                      대한민국 모든 구청 민원센터 또는 노동사무소에서 발급
                      받으실 수 있습니다.
                    </p>
                  </li>
                  <li class="q baker-train">
                    <h4>Q</h4>
                    <span>제빵훈련원</span>
                    <p>
                      서류전형에 합격하였습니다. 면접이나 이후 평가에서 유의할
                      점은 무엇입니까?
                    </p>
                    <button type="button">
                      <img src="../../img/icons/down-arrow.png" alt="펼치기" />
                    </button>
                  </li>
                  <li class="a hidden">
                    <h4>A</h4>
                    <span></span>
                    <p>
                      편안한 복장으로 시간을 엄수 하시고 대화식으로 이루어지는
                      면접은 편한 마음으로 성실, 정직하게 답변하시면 됩니다.
                    </p>
                  </li>
                  <li class="q new-recruit">
                    <h4>Q</h4>
                    <span>뚜레쥬르 채용</span>
                    <p>
                      뚜레쥬르에서 일하고 싶습니다. 누구보다 잘 할 자신이 있지만
                      나이가 많아 걱정이 됩니다. 지원해도 괜찮을까요?
                    </p>
                    <button type="button">
                      <img src="../../img/icons/down-arrow.png" alt="펼치기" />
                    </button>
                  </li>
                  <li class="a hidden">
                    <h4>A</h4>
                    <span></span>
                    <p>
                      채용기준은 나이와는 무관하며, 일에 대한 열정 및 의지에
                      따라 채용여부가 결정됩니다.
                    </p>
                  </li>
                  <li class="q new-recruit">
                    <h4>Q</h4>
                    <span>뚜레쥬르 채용</span>
                    <p>채용 후 처우는 어떻게 되나요?</p>
                    <button type="button">
                      <img src="../../img/icons/down-arrow.png" alt="펼치기" />
                    </button>
                  </li>
                  <li class="a hidden">
                    <h4>A</h4>
                    <span></span>
                    <p>
                      채용시에 경력과 기술력 수준을 가늠하여 처우 및 직급이
                      결정됩니다. 현재 처우 수준은 업계 상위 수준입니다.
                    </p>
                  </li>
                  <li class="q new-recruit">
                    <h4>Q</h4>
                    <span>뚜레쥬르 채용</span>
                    <p>경력기사의 경력 수준은 어느 정도 인가요?</p>
                    <button type="button">
                      <img src="../../img/icons/down-arrow.png" alt="펼치기" />
                    </button>
                  </li>
                  <li class="a hidden">
                    <h4>A</h4>
                    <span></span>
                    <p>
                      최소 2~3년 이상의 베이커리 기술업무 경력을 필요로 합니다.
                    </p>
                  </li>
                  <li class="q baker-train">
                    <h4>Q</h4>
                    <span>제빵훈련원</span>
                    <p>제빵훈련원 수료 후에 진로는 어떻게 되나요?</p>
                    <button type="button">
                      <img src="../../img/icons/down-arrow.png" alt="펼치기" />
                    </button>
                  </li>
                  <li class="a hidden">
                    <h4>A</h4>
                    <span></span>
                    <p>
                      현장 실습기간을 거쳐(1~2개월)기술력과 열정에 따라
                      뚜레쥬르에 우선 채용되며 탈락자는 재교육 내지 취업 알선
                      합니다.
                    </p>
                  </li>
                  <li class="q baker-train">
                    <h4>Q</h4>
                    <span>제빵훈련원</span>
                    <p>제빵훈련원에서 훈련을 받을경우 숙식이 가능한가요?</p>
                    <button type="button">
                      <img src="../../img/icons/down-arrow.png" alt="펼치기" />
                    </button>
                  </li>
                  <li class="a hidden">
                    <h4>A</h4>
                    <span></span>
                    <p>숙식은 본인이 해결해야 하며 중식은 제공합니다.</p>
                  </li>
                  <li class="q baker-train">
                    <h4>Q</h4>
                    <span>제빵훈련원</span>
                    <p>
                      제빵훈련원에서 제빵 기술을 배울 수 있는 자격 조건은 어떻게
                      되나요?
                    </p>
                    <button type="button">
                      <img src="../../img/icons/down-arrow.png" alt="펼치기" />
                    </button>
                  </li>
                  <li class="a hidden">
                    <h4>A</h4>
                    <span></span>
                    <p>
                      창업 희망자나 미취업자로 베이커리 업무에 열정을 가진 자,
                      신체 건강한 자이면 가능합니다.
                    </p>
                  </li>
                  <li class="q baker-train">
                    <h4>Q</h4>
                    <span>제빵훈련원</span>
                    <p>제빵훈련원의 훈련비용은 어떻게 되나요?</p>
                    <button type="button">
                      <img src="../../img/icons/down-arrow.png" alt="펼치기" />
                    </button>
                  </li>
                  <li class="a hidden">
                    <h4>A</h4>
                    <span></span>
                    <p>훈련비용은 전액 무료이며 중식과 교통비를 지급합니다.</p>
                  </li>
                  <li class="q baker-train">
                    <h4>Q</h4>
                    <span>제빵훈련원</span>
                    <p>
                      인터넷에서 제빵훈련원을 지원하였습니다. 제대로
                      접수되었는지 확인하고 싶습니다.
                    </p>
                    <button type="button">
                      <img src="../../img/icons/down-arrow.png" alt="펼치기" />
                    </button>
                  </li>
                  <li class="a hidden">
                    <h4>A</h4>
                    <span></span>
                    <p>
                      뚜레쥬르 홈페이지에서 "채용정보>전형결과"에서 본인의
                      이름과 주민등록 번호를 입력하시고 구분에서 제빵훈련원을
                      선택하시면 전형결과를 확인 하실 수 있습니다.
                    </p>
                  </li>
                  <li class="q benefit-store">
                    <h4>Q</h4>
                    <span>제휴/할인<br />가맹점 개설</span>
                    <p>점포 평가의 기준은 무엇인지요?</p>
                    <button type="button">
                      <img src="../../img/icons/down-arrow.png" alt="펼치기" />
                    </button>
                  </li>
                  <li class="a hidden">
                    <h4>A</h4>
                    <span></span>
                    <p>
                      뚜레쥬르는 본사의 전문 인력이 매장 입지 및 특성을 평가하여
                      오픈 가능 여부를 결정하게 됩니다. 일매출이 일정 금액
                      이상을 달성할 수 있으며, 향후 지속적인 매출 향상이
                      기대되는 매장에 한해 오픈이 가능합니다. 일매출의 경우 점포
                      규모와 입지에 따라 달라질수 있으나, 투자 대비 수익율을
                      감안하여 추천해 드립니다. 상기 내용과 관련해서는 창업
                      희망자 본인과 공유하여 오픈 여부를 결정하게 됩니다.
                    </p>
                  </li>
                  <li class="q benefit-store">
                    <h4>Q</h4>
                    <span>제휴/할인<br />가맹점 개설</span>
                    <p>교육 일정은 어떻게 됩니까?</p>
                    <button type="button">
                      <img src="../../img/icons/down-arrow.png" alt="펼치기" />
                    </button>
                  </li>
                  <li class="a hidden">
                    <h4>A</h4>
                    <span></span>
                    <p>
                      가맹점주는 가맹계약 체결 후 본사교육일정에 따라 가맹점주
                      교육을 이수해야 합니다. 본사는 가맹점 운영에 필요한 제조,
                      운영, 서비스 및 현장 실습등을 포함하여 15일간
                      교육해드립니다.
                    </p>
                  </li>
                  <li class="q benefit-store">
                    <h4>Q</h4>
                    <span>제휴/할인<br />가맹점 개설</span>
                    <p>기술인력 운영은 어떻게 되나요?</p>
                    <button type="button">
                      <img src="../../img/icons/down-arrow.png" alt="펼치기" />
                    </button>
                  </li>
                  <li class="a hidden">
                    <h4>A</h4>
                    <span></span>
                    <p>
                      뚜레쥬르는 협력업체를 통해 숙련된 기술 인력을 점포에
                      지원하며, 가맹점주는 이에 대한 도급비와 중식비를
                      협력업체에 지급하시면 됩니다.
                    </p>
                  </li>
                  <li class="q benefit-store">
                    <h4>Q</h4>
                    <span>제휴/할인<br />가맹점 개설</span>
                    <p>
                      제과, 제빵 관련 기술이 없어도 가맹점 개설이 가능한지요?
                    </p>
                    <button type="button">
                      <img src="../../img/icons/down-arrow.png" alt="펼치기" />
                    </button>
                  </li>
                  <li class="a hidden">
                    <h4>A</h4>
                    <span></span>
                    <p>
                      제과제빵 기술이나 자격증이 없으셔도 매장 개설은
                      가능합니다. 뚜레쥬르 본사는 협력업체를 통해 숙련된
                      제빵기사를 지원해 드리고 있습니다.
                    </p>
                  </li>
                  <li class="q benefit-store">
                    <h4>Q</h4>
                    <span>제휴/할인<br />가맹점 개설</span>
                    <p>점포조건 및 투자비용 부담은 어떻게 되나요?</p>
                    <button type="button">
                      <img src="../../img/icons/down-arrow.png" alt="펼치기" />
                    </button>
                  </li>
                  <li class="a hidden">
                    <h4>A</h4>
                    <span></span>
                    <p>
                      뚜레쥬르는 대부분의 빵을 점포에서 직접 굽기때문에 최소한의
                      전용면적(25평이상) 이 필요합니다. 투자비는 점포에 따라
                      상이하므로 전문가 상담을 받으시기 바랍니다.
                    </p>
                  </li>
                  <li class="q benefit-store">
                    <h4>Q</h4>
                    <span>제휴/할인<br />가맹점 개설</span>
                    <p>뚜레쥬르 가맹점을 하고 싶은데 어떻게 하면 되나요?</p>
                    <button type="button">
                      <img src="../../img/icons/down-arrow.png" alt="펼치기" />
                    </button>
                  </li>
                  <li class="a hidden">
                    <h4>A</h4>
                    <span></span>
                    <p>
                      점포를 보유(또는 임대)하고 계신 예비 점주님의 경우 점포
                      위치와 연락처를 알려주시면 점포개발 담당자가 시장조사 및
                      상권조사를 통해 입점여부를 결정해 드립니다. 점포가 없으신
                      경우에도 출점 가능한 지역내 상권을 상담해 드리오니
                      창업센터(080-376-8888) 또는 지역별 점포개발자에게 연락
                      주시기 바랍니다.
                    </p>
                  </li>
                  <li class="q customer-membership">
                    <h4>Q</h4>
                    <span>멤버십</span>
                    <p>
                      아이디와 비밀번호를 분실하였을 경우 어떻게 해야 합니까?
                    </p>
                    <button type="button">
                      <img src="../../img/icons/down-arrow.png" alt="펼치기" />
                    </button>
                  </li>
                  <li class="a hidden">
                    <h4>A</h4>
                    <span></span>
                    <p>
                      아이디와 비밀번호를 분실하셨을 경우 "아이디 / 비밀번호
                      찾기"에서 찾으실 수 있습니다. 비밀번호는 가입당시 기재하신
                      이메일주소 또는 본인의 휴대전화 SMS 로 임시비밀번호를
                      발송하고 있습니다. 이메일의 경우 한메일(daum)로 등록하신
                      회원님들은 온라인 우표제로 인해 정상적인 발송이 안될 수
                      있으니 tlj@cj.net로 문의 하시면 상세히 알려드리도록
                      하겠습니다.
                    </p>
                  </li>
                  <li class="q customer-membership">
                    <h4>Q</h4>
                    <span>멤버십</span>
                    <p>아이디와 비빌번호가 생각나지 않습니다.</p>
                    <button type="button">
                      <img src="../../img/icons/down-arrow.png" alt="펼치기" />
                    </button>
                  </li>
                  <li class="a hidden">
                    <h4>A</h4>
                    <span></span>
                    <p>
                      아이디와 비밀번호를 분실하셨을 경우 "아이디 / 비밀번호
                      찾기"에서 찾으실 수 있습니다. 비밀번호는 가입당시 기재하신
                      이메일주소 또는 본인의 휴대전화 SMS 로 임시비밀번호를
                      발송하고 있습니다. 이메일의 경우 한메일(daum)로 등록하신
                      회원님들은 온라인 우표제로 인해 정상적인 발송이 안될 수
                      있으니 tlj@cj.net로 문의 하시면 상세히 알려드리도록
                      하겠습니다.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </section>

          <section class="online-counsel__wrap hidden">
            <div class="online-counsel__form">
              <form action="">
                <h2>온라인 상담</h2>
                <fieldset>
                  <legend class="hidden">온라인 상담</legend>
                  <div class="online-counsel__form-text">
                    <div class="counsel_username-cont">
                      <label for="username">성명</label>
                      <input id="username" type="text" />
                      <button type="button">본인인증</button>
                    </div>

                    <div class="counsel_value-cont">
                      <label for="counsel_value">상담 분류</label>
                      <input id="counsel_value" type="text" />
                    </div>

                    <div class="counsel_storename-cont">
                      <div>
                        <label for="storename">매장명</label>
                        <input id="storename" type="text" />
                        <button type="button">매장찾기</button>
                      </div>
                      <div>
                        <input id="storename_check" type="checkbox" />
                        <label for="storename_check">기타</label>
                        <span>
                          매장관련 문의가 아닌 경우 기타에 체크하세요.
                        </span>
                      </div>
                    </div>

                    <div class="counsel_mobile-cont">
                      <label for="mobile_number_1">연락처</label>
                      <select name="headnumber" id="head_number">
                        <option value="010">010</option>
                        <option value="011">011</option>
                        <option value="016">016</option>
                        <option value="017">017</option>
                        <option value="018">018</option>
                        <option value="019">019</option>
                      </select>

                      <span>-</span>
                      <input id="mobile_number_1" type="text" />
                      <span>-</span>
                      <input id="mobile_number_3" type="text" />
                    </div>

                    <div class="counsel_email-cont">
                      <label for="email_1">이메일 주소</label>
                      <input id="email_1" type="text" />
                      <span>@</span>
                      <input id="email_2" type="text" />
                    </div>

                    <div class="counsel_titel-cont">
                      <label for="counsel_title">제목</label>
                      <input id="counsel_title" type="text" />
                    </div>
                    <div class="counsel_description-cont">
                      <label for="counsel_description">내용</label>
                      <textarea id="counsel_description" type="text"></textarea>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="userinfo_permission_wrap">
              <h3>개인정보 수집 및 이용 동의</h3>
              <div class="userinfo_permission">
                <div class="userinfo_per-texts">
                  <h4>1. 개인정보의 수집 및 이용 목적</h4>
                  <div class="userinfo_per_essential">
                    <p>
                      문의사항 해결 및 불만처리의 원활한 의사소통을 목적으로
                      다음의 개인정보를 수집하고자 합니다.
                    </p>

                    <h4>2. 개인정보 수집 및 활용동의 (필수)</h4>
                    <table>
                      <tr>
                        <th>목적</th>
                        <th>항목</th>
                        <th>보유기간</th>
                      </tr>
                      <tr>
                        <td>문의사항 해결 및 불만처리</td>
                        <td>이름, 연락처</td>
                        <td>상담이 완료된 시점부터 3년간 보관</td>
                      </tr>
                    </table>
                    <p>
                      고객님께서는 개인정보 수집 동의에 거부할 수 있으며, 거부
                      시 고객센터 상담문의 서비스를 이용하실 수 없습니다.
                    </p>
                    <form action="">
                      <fieldset>
                        <legend class="hidden">
                          개인정보 수집 활용동의(필수)
                        </legend>
                        <input
                          type="radio"
                          name="contact"
                          id="essential_agree"
                        />
                        <label for="essential_agree">동의합니다.</label>
                        <input
                          type="radio"
                          name="contact"
                          id="essential_disagree"
                        />
                        <label for="essential_disagree"
                          >동의하지 않습니다.</label
                        >
                      </fieldset>
                    </form>
                  </div>
                  <div class="userinfo_per_selection">
                    <h4>개인정보 수집 및 활용동의(선택)</h4>
                    <table>
                      <tr>
                        <th>목적</th>
                        <th>항목</th>
                        <th>보유기간</th>
                      </tr>
                      <tr>
                        <td>문의사항 해결 및 불만처리에 대한 이메일 회신</td>
                        <td>이메일 주소</td>
                        <td>상담이 완료된 시점부터 3년간 보관</td>
                      </tr>
                    </table>
                    <p>
                      고객님께서는 개인정보 수집 동의에 거부할 수 있으며, 거부
                      시에도 고객센터 상담문의 서비스 이용 가능합니다.
                    </p>
                    <form action="">
                      <fieldset>
                        <legend class="hidden">개인정보 수집 활용동의</legend>
                        <input
                          type="radio"
                          name="contact"
                          id="selection_agree"
                        />
                        <label for="selection_agree">동의합니다.</label>
                        <input
                          type="radio"
                          name="contact"
                          id="selection_disagree"
                        />
                        <label for="selection_disagree"
                          >동의하지 않습니다.</label
                        >
                      </fieldset>
                    </form>
                  </div>
                </div>
                <p>
                  관련 문의사항은 고객센터 1577-0700으로 문의해주시기 바랍니다.
                  감사합니다.
                </p>
              </div>
              <div class="userinfo_per-buttons">
                <button type="submit">등록</button>
                <button type="button">취소</button>
              </div>
            </div>
          </section>

          <section class="online__counsel-result_wrap hidden">
            <div class="online__counsel-result">
              <h3>온라인 상담 내역</h3>
              <p>항상 뚜레쥬르에 많은 관심을 가져주셔서 감사합니다.</p>
              <p>
                늘 곁에서 고객님의 의견에 귀를 기울이는 뚜레쥬르가 되겠습니다.
                상담 요청 주신 내용 답변 확인을 위해 하기 정보를 입력 해 주시기
                바랍니다.
              </p>
              <form action="">
                <fieldset>
                  <legend></legend>
                  <div class="o__c-result--name">
                    <label for="result--name">성명</label>
                    <input id="result--name" type="text" />
                  </div>
                  <div class="o__c-result--mobile">
                    <label for="result--mobile">연락처</label>
                    <select name="headnumber" id="head_number">
                      <option value="010">010</option>
                      <option value="011">011</option>
                      <option value="016">016</option>
                      <option value="017">017</option>
                      <option value="018">018</option>
                      <option value="019">019</option>
                    </select>
                    <span>-</span>
                    <input id="result--mobile" type="text" />
                    <span>-</span>
                    <input type="text" />
                    <button type="submit">확인</button>
                  </div>
                </fieldset>
              </form>
            </div>
          </section>

          <div class="customer__page-table--wrap">
            <h3>보상 유형 기준</h3>
            <table>
              <tr>
                <th>구분</th>
                <th>피해유형</th>
                <th>보상기준</th>
              </tr>
              <tr>
                <th>식품</th>
                <td>함량, 용량부족, 부패변질, 유통기간경과, 이물혼입</td>
                <td>제품교환 또는 구입가 환불</td>
              </tr>
            </table>
          </div>

          <div class="customer__page--reception-info">
            <h3>접수 안내</h3>
            <p>
              로그인 후 1시간 경과 시 고객님의 개인정보 보호를 위해 자동
              로그아웃 됩니다.
            </p>

            <p>
              욕설, 광고, 타인의 명예를 훼손하는 자료 등을 올리시거나 반복적으로
              비난성 글을 올리시는 회원님의 게시물은 별도 통보 없이 임의
              삭제되거나, 답변드리지 않을 수 있습니다.
            </p>
            <p>
              매장과 관련된 내용의 경우, 해당 가맹점에 작성자의 개인정보를
              전달할 수 있습니다.
            </p>
            <p>
              접수해 주신 내용은 공정거래위원회 고시 소비자 분쟁 해결기준에
              의거하여 처리됩니다.
            </p>
          </div>
        </div>

        <div class="mainpage_quick--menu">
          <div class="mainpage_quick--menu-cont mainpage_quick-cont--disappear">
            <a href="#" class="main_quick--btn">
              <img src="../../img/icons/top.png" alt="상단으로가기" />
              <span>TOP</span>
            </a>
            <a
              href="https://www.instagram.com/touslesjours_kr/"
              class="main_quick--btn"
            >
              <img src="../../img/icons/sns.png" alt="sns보기" />
              <span>SNS</span>
            </a>
            <a href="../../views/startup/startup.html" class="main_quick--btn">
              <img src="../../img/icons/start-up.png" alt="창업하기" />
              <span>창업</span>
            </a>
            <a
              href="../../views/partissier/partissier.html"
              class="main_quick--btn"
            >
              <img src="../../img/icons/recruitment.png" alt="기사채용" />
              <span>기사<br />채용</span>
            </a>
          </div>
          <button id="quicktoggle" class="mainpage_btn--disappear">
            <img
              class="mainpage_btn-img--disappear"
              src="../../img/icons/up-arrow_col.png"
              alt="보이기"
            />
          </button>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer_affiliate">
        <ul>
          <li>
            <a
              href="https://www.cjfoodville.co.kr/main.asp"
              target="_blank"
              title="CJ 푸드빌 새창으로 열기"
            >
              <img src="../../img/footer/cjfoodvill.jpg" alt="CJ 푸드빌" />
            </a>
          </li>
          <li>
            <a
              href="https://www.ivips.co.kr:7002/"
              target="_blank"
              title="빕스 새창으로 열기"
            >
              <img src="../../img/footer/vips.jpg" alt="Vips" />
            </a>
          </li>
          <li>
            <a
              href="https://www.italiantheplace.co.kr:7022/brand/"
              target="_blank"
              title="더플레이스 새창으로 열기"
            >
              <img src="../../img/footer/theplace.jpg" alt="The place" />
            </a>
          </li>
          <li>
            <a
              href="https://www.cheiljemyunso.co.kr:7014/main.asp"
              target="_blank"
              title="제일제면소 새창으로 열기"
            >
              <img src="../../img/footer/jeil.jpg" alt="제일제면소" />
            </a>
          </li>
          <li>
            <a
              href="https://www.ngrill.co.kr:7025/index.html"
              target="_blank"
              title="엔그릴 새창으로 열기"
            >
              <img src="../../img/footer/ngrill.jpg" alt="엔그릴" />
            </a>
          </li>
          <li>
            <a
              href="https://www.nseoultower.co.kr:8501/index.asp"
              target="_blank"
              title="N SEOUL TOWER 새창으로 열기"
            >
              <img src="../../img/footer/nSeoul.jpg" alt="엔서울타워" />
            </a>
          </li>
        </ul>
      </div>

      <div class="footer_bottom">
        <div class="company">
          <ul>
            <li>
              <a href="http://www.cjfoodville.co.kr/story/foodvilleintro.html"
                >회사소개</a
              >
            </li>
            <li>
              <a href="http://127.0.0.1:5500/views/partissier/partissier.html"
                >기사채용안내</a
              >
            </li>
            <li>
              <a href="http://127.0.0.1:5500/views/startup/startup.html"
                >창업안내</a
              >
            </li>
            <li>
              <a href="http://127.0.0.1:5500/views/footer/sitemap.html"
                >사이트맵</a
              >
            </li>
          </ul>
        </div>

        <div class="policy">
          <ul>
            <li>
              <a
                href="https://www.cjfoodville.co.kr/footer/userpolicy.asp"
                target="_blank"
                title="새창 열림"
                >이용약관</a
              >
            </li>
            <li>
              <a
                href="https://www.cjfoodville.co.kr/footer/location.asp"
                target="_blank"
                title="새창 열림"
                >위치기반서비스 이용약관</a
              >
            </li>
            <li class="private">
              <a
                href="https://www.cjfoodville.co.kr/footer/privacy.asp"
                target="_blank"
                title="새창 열림"
                >개인정보처리방침</a
              >
            </li>
            <li>
              <a href="http://127.0.0.1:5500/views/footer/email.html"
                >이메일무단수집거부</a
              >
            </li>
            <li>
              <a
                href="https://www.cjfoodville.co.kr/footer/ethic_center.asp"
                target="_blank"
                title="새창 열림"
                >윤리신고센터</a
              >
            </li>
            <li>
              <a href="http://127.0.0.1:5500/views/footer/legal.html"
                >법적고지</a
              >
            </li>
          </ul>
        </div>

        <div class="company_info">
          <p>상호명 : CJ푸드빌(주)</p>

          <address>
            주소 : (우)04555 서울시 중구 마른내로34(초동 106-9번지)KT&amp;G
            을지로타워 3, 9-11층 CJ푸드빌㈜s
          </address>

          <p>
            <span>고객센터 : 1577-0700</span>
            <span>통신판매업종신고증 제 2011-서울중구-0771호</span>
            <sapn class="ftc_confirm">
              <a
                href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=3128142519"
                target="_blank"
                title="새창열림"
              >
                <img
                  src="../../img/footer/footer_info_information.png"
                  alt="사업자정보확인"
                />
              </a>
            </sapn>
            <span class="hosting">호스팅제공자 : CJ올리브네트웍스(주)</span>
          </p>

          <p class="business_info">
            <span>사업자등록번호 : 312-81-42519</span>
            <span>대표이사 : 김찬호</span>
            <span>개인정보보호책임자 : 오창호</span>
            <span class="email">
              <a href="mailto:help_master@cj.net"
                >대표 이메일 : help_master@cj.net</a
              >
            </span>
          </p>

          <p class="copyright">
            COPYRIGHT 2023©CJ Foodville ALL RIGHT RESERVED.
          </p>
        </div>

        <div class="footer_logo">
          <img src="../../img/logos/logo_grey.png" />
        </div>
      </div>
    </footer>

    <script src="../../js/customerpage/faqpage.js"></script>
    <script src="../../js/mainpage/mainquicknav.js"></script>
  </body>
</html>
