<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 헤더관련 -->
    <link rel="icon" href="../../favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700&family=Nanum+Pen+Script&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <script defer src="./js/main.js"></script>

    <title>고소함이 톡톡 곡물식빵 | Tous les Jours</title>
    
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" href="../../styles/screens/menu/bread_detail.css">

</head>
<body>

  <header>
    <div class="skip_menu">
      <ul>
        <li><a href="#해당페이지 바디로 이동">본문내용으로 바로가기</a></li>
        <li><a href="#gnb로 이동">주메뉴 바로가기</a></li>
      </ul>
    </div>

    <div class="inner">
      <a href="/" class="logo">
        <img
          src="../../img/logos/logo_2.png"
          alt="touslesjours"
          width="300"
        />
      </a>

      <div class="sub-menu">
        <ul class="menu">
          <li>
            <a
              href="https://www.cjone.com/cjmweb/join.do?coopco_cd=7020&brnd_cd=2010&mcht_no=2010&coop_return_url="
              >Sign in</a
            >
          </li>
          <li>
            <a href="../../views/map/map.html">매장 찾기</a>
          </li>
          <li>
            <a href="../../views/startup/startup.html">창업 준비하기</a>
          </li>
          <li>
            <a href="../customerpage/customerpage.html">고객센터</a>
          </li>
          <li>
            <a href="../partissier/partissier.html">기사 채용안내</a>
          </li>
          <li>
            <a href="../main/login.html">log in</a>
          </li>
        </ul>
        <div class="search">
          <input id="search_box"type="text" />
  
        </div>
      </div>  
      

      <ul class="main-menu">
        <li class="item">
          <div class="item__name">
            <a href="../story/brand_story.html">브랜드 스토리</a>
          </div>
          <div class="item__contents">
            <div class="contents__menu">
              <ul class="inner">
                <li>
                  <h4>브랜드 스토리</h4>
                  <ul>
                    <li>
                      <a href="../story/brand_story.html">브랜드 스토리</a>
                    </li>
                    <li>
                      <a href="../story/material.html"
                        >뚜레쥬르 재료 이야기</a
                      >
                    </li>
                    <li>
                      <a href="../story/global.html">글로벌 뚜레쥬르</a>
                    </li>
                    <li>
                      <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                    </li>
                    <li>
                      <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                    </li>
                    <li>
                      <a href="../story/notice.html">뉴스 & 공지사항</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>제품 안내</h4>
                  <ul>
                    <li><a href="../menu/new_products.html">신제품</a></li>
                    <li><a href="../menu/bread.html">빵</a></li>
                    <li><a href="../menu/cake.html">케이크</a></li>
                    <li><a href="../menu/deli.html">델리</a></li>
                    <li><a href="../menu/">선물</a></li>
                    <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                    <li><a href="../menu/drinks.html">음료</a></li>
                  </ul>
                </li>
                <li>
                  <h4>이벤트&멤버십</h4>
                  <ul>
                    <li>
                      <a href="../eventpage/eventpage.html"
                        >진행중인 이벤트</a
                      >
                    </li>
                    <li>
                      <a href="../eventpage/eventwinner.html"
                        >이벤트 담당자</a
                      >
                    </li>
                    <li>
                      <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                    </li>
                    <li>
                      <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                  <ul>
                    <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                    <li>
                      <a href="../app/homedelivery/homedelivery_list01.html"
                        >홈페이지 전용 예약 배송</a
                      >
                    </li>
                    <li>
                      <a href="../app/flowerdelivery/flowerdelivery.html"
                        >꽃 & 케이크 택배 배송</a
                      >
                    </li>
                    <li>
                      <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="item__name">
            <a href="../menu/new_products.html">제품 안내</a>
          </div>
          <div class="item__contents">
            <div class="contents__menu">
              <ul class="inner">
                <li>
                  <h4>브랜드 스토리</h4>
                  <ul>
                    <li>
                      <a href="../story/brand_story.html">브랜드 스토리</a>
                    </li>
                    <li>
                      <a href="../story/material.html"
                        >뚜레쥬르 재료 이야기</a
                      >
                    </li>
                    <li>
                      <a href="../story/global.html">글로벌 뚜레쥬르</a>
                    </li>
                    <li>
                      <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                    </li>
                    <li>
                      <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                    </li>
                    <li>
                      <a href="../story/notice.html">뉴스 & 공지사항</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>제품 안내</h4>
                  <ul>
                    <li><a href="../menu/new_products.html">신제품</a></li>
                    <li><a href="../menu/bread.html">빵</a></li>
                    <li><a href="../menu/cake.html">케이크</a></li>
                    <li><a href="../menu/deli.html">델리</a></li>
                    <li><a href="../menu/">선물</a></li>
                    <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                    <li><a href="../menu/drinks.html">음료</a></li>
                  </ul>
                </li>
                <li>
                  <h4>이벤트&멤버십</h4>
                  <ul>
                    <li>
                      <a href="../eventpage/eventpage.html"
                        >진행중인 이벤트</a
                      >
                    </li>
                    <li>
                      <a href="../eventpage/eventwinner.html"
                        >이벤트 담당자</a
                      >
                    </li>
                    <li>
                      <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                    </li>
                    <li>
                      <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                  <ul>
                    <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                    <li>
                      <a href="../app/homedelivery/homedelivery_list01.html"
                        >홈페이지 전용 예약 배송</a
                      >
                    </li>
                    <li>
                      <a href="../app/flowerdelivery/flowerdelivery.html"
                        >꽃 & 케이크 택배 배송</a
                      >
                    </li>
                    <li>
                      <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="item__name">
            <a href="../eventpage/eventpage.html">이벤트 & 멤버십</a>
          </div>
          <div class="item__contents">
            <div class="contents__menu">
              <ul class="inner">
                <li>
                  <h4>브랜드 스토리</h4>
                  <ul>
                    <li>
                      <a href="../story/brand_story.html">브랜드 스토리</a>
                    </li>
                    <li>
                      <a href="../story/material.html"
                        >뚜레쥬르 재료 이야기</a
                      >
                    </li>
                    <li>
                      <a href="../story/global.html">글로벌 뚜레쥬르</a>
                    </li>
                    <li>
                      <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                    </li>
                    <li>
                      <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                    </li>
                    <li>
                      <a href="../story/notice.html">뉴스 & 공지사항</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>제품 안내</h4>
                  <ul>
                    <li><a href="../menu/new_products.html">신제품</a></li>
                    <li><a href="../menu/bread.html">빵</a></li>
                    <li><a href="../menu/cake.html">케이크</a></li>
                    <li><a href="../menu/deli.html">델리</a></li>
                    <li><a href="../menu/">선물</a></li>
                    <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                    <li><a href="../menu/drinks.html">음료</a></li>
                  </ul>
                </li>
                <li>
                  <h4>이벤트&멤버십</h4>
                  <ul>
                    <li>
                      <a href="../eventpage/eventpage.html"
                        >진행중인 이벤트</a
                      >
                    </li>
                    <li>
                      <a href="../eventpage/eventwinner.html"
                        >이벤트 담당자</a
                      >
                    </li>
                    <li>
                      <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                    </li>
                    <li>
                      <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                  <ul>
                    <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                    <li>
                      <a href="../app/homedelivery/homedelivery_list01.html"
                        >홈페이지 전용 예약 배송</a
                      >
                    </li>
                    <li>
                      <a href="../app/flowerdelivery/flowerdelivery.html"
                        >꽃 & 케이크 택배 배송</a
                      >
                    </li>
                    <li>
                      <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="item__name">
            <a href="../app/appmain.html">뚜레쥬르 앱 & 온라인 쇼핑몰</a>
          </div>
          <div class="item__contents">
            <div class="contents__menu">
              <ul class="inner">
                <li>
                  <h4>브랜드 스토리</h4>
                  <ul>
                    <li>
                      <a href="../story/brand_story.html">브랜드 스토리</a>
                    </li>
                    <li>
                      <a href="../story/material.html"
                        >뚜레쥬르 재료 이야기</a
                      >
                    </li>
                    <li>
                      <a href="../story/global.html">글로벌 뚜레쥬르</a>
                    </li>
                    <li>
                      <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                    </li>
                    <li>
                      <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                    </li>
                    <li>
                      <a href="../story/notice.html">뉴스 & 공지사항</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>제품 안내</h4>
                  <ul>
                    <li><a href="../menu/new_products.html">신제품</a></li>
                    <li><a href="../menu/bread.html">빵</a></li>
                    <li><a href="../menu/cake.html">케이크</a></li>
                    <li><a href="../menu/deli.html">델리</a></li>
                    <li><a href="../menu/">선물</a></li>
                    <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                    <li><a href="../menu/drinks.html">음료</a></li>
                  </ul>
                </li>
                <li>
                  <h4>이벤트&멤버십</h4>
                  <ul>
                    <li>
                      <a href="../eventpage/eventpage.html"
                        >진행중인 이벤트</a
                      >
                    </li>
                    <li>
                      <a href="../eventpage/eventwinner.html"
                        >이벤트 담당자</a
                      >
                    </li>
                    <li>
                      <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                    </li>
                    <li>
                      <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                  <ul>
                    <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                    <li>
                      <a href="../app/homedelivery/homedelivery_list01.html"
                        >홈페이지 전용 예약 배송</a
                      >
                    </li>
                    <li>
                      <a href="../app/flowerdelivery/flowerdelivery.html"
                        >꽃 & 케이크 택배 배송</a
                      >
                    </li>
                    <li>
                      <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </header>

    <main>
      <div class="top_content_wrap">
        <h2>식빵</h2>
  
        <div class="page_location">
            <ul>
              <li>
                  <a href="../../index.html"><span>HOME</span></a>
              </li>
              <li>&gt;</li>
              <li>
                  <a href="../../views/menu/bread.html">
                  <span>빵</span>
                  </a>
              </li>
              <li>&gt;</li>
              <li>
                  <a href="bread_lb_03.html">
                  <span>고소함이 톡톡 곡물식빵</span>
                  </a>
              </li>
            </ul>
        </div>
      </div>
      <div class="product_detail_wrap">
          <div class="product_detail">
              <div class="left_area">
                  <div class="img_wrap">
                      <div class="image_container" id="image_container">
                          <img src="../../img/menu/bread/toktok_seed_bread.jpg" alt="고소함이 톡톡 곡물식빵" class="product_image" id="product_image">
                      </div>
  
                      <div class="stamp">
                        <img src="../../img/menu/new_menu_stamp.png" id="stamp">
                      </div>
  
                      <img src="../../img/icons/zoomlens_icon.png" alt="줌렌즈 아이콘" class="zoomlens_icon">
                      
                      <p>* 상기 이미지는 실제 제품과 다소 차이가 있을 수 있습니다.</p>
                  </div>
              </div>
              <div class="right_area">
                  <div class="menu_info">
                      <h3>고소함이 톡톡 곡물식빵</h3>
                      <div class="menu_info_detail">
                          <p>해바라기씨, 아마씨, 참깨, 귀리를 넣고 반죽한 촉촉한 식감과<br>입안에서 고소함이 톡톡 터지는 곡물식빵</p>
                      </div>
                  </div>
  
                  <div class="table_nutrition">
                      <table summary="1회 제공량(108g) 당 열량, 당류, 단백질, 포화지방, 나트륨 정보를 제공합니다.">
                          <thead>
                              <tr>
                                  <th scope="row" rowspan="4">영양성분</th>
                              
                                  <td>총중량(g)  382</td>
                              
                              </tr>
                              
                              <tr>
                                  <td>총제공중량(회) 1회</td>
                              </tr>
                              
                              <tr>
                                  <td>1회 제공량(개) 1개</td>
                              </tr>
                              
                              <tr>
                                  <td>중량(g)  382</td>
                              </tr>  
                          </thead>
                          <tbody>
                              
                              <tr>
                                  <th scope="row" class="first">열량(kcal)</th>
                                  <td class="first">950</td>
                              </tr>
                              
                              <tr>
                                  <th scope="row">당류(g)</th>
                                  <td>17/17</td>
                              </tr>
                              
                              <tr>
                                  <th scope="row">단백질(g/%)</th>
                                  <td>33/60</td>
                              </tr>
                              
                              <tr>
                                  <th scope="row">포화지방(g/%)</th>
                                  <td>2.8/19</td>
                              </tr>
                              
                              <tr>
                                  <th scope="row" class="last">나트륨(mg/%)</th>
                                  <td>1180/59</td>
                              </tr>
                              
                              <tr class="allergy">
                                  <th scope="row" class="last">알레르기 정보</th>
                                  <td class="last">대두, 밀, 호두 함유</td>
                              </tr>        
                          </tbody>
                      </table>
                  </div>
  
                  <div class="btn_area">
                      <a href="../../views/menu/bread.html" class="gotolist_btn">목록</a>
                      <div class="share_icon_area">
                          <div class="share_icons">
                              <a href="https://www.facebook.com/login.php?skip_api_login=1&api_key=966242223397117&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fsharer.php%3Fu%3Dhttps%253A%252F%252Fwww.tlj.co.kr%253A7008%252Fproduct%252Fdetail.asp%253Fprod_num%253D4830%26t%3D%25EC%25B4%2588%25EC%25BD%2594%2B%25EA%25B3%25A8%25EB%2593%259C%25EB%25A0%2588%25EC%259D%25B4%25EC%2596%25B4_%25EC%258B%25A0%25EC%2584%25A0%25ED%2595%25A8%25EC%259D%25B4%2B%25EA%25B0%2580%25EB%2593%259D%25ED%2595%259C%2B%25EB%25B2%25A0%25EC%259D%25B4%25EC%25BB%25A4%25EB%25A6%25AC%2B%25EB%259A%259C%25EB%25A0%2588%25EC%25A5%25AC%25EB%25A5%25B4%250A&cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Fclose_window%2F%3Fapp_id%3D966242223397117%26connect%3D0%23_%3D_&display=popup&locale=ko_KR" onclick="window.open(this.href, '새 창 이름', 'width=600,height=400'); return false;" title="페이스북으로 공유하기 새 창 열림" target="_blank">
                                  <img src="../../img/icons/icon_fb.png" alt="페이스북으로 공유하기">
                              </a>
  
                              <a href="https://twitter.com/?logout=1684400449394" onclick="window.open(this.href, '새 창 이름', 'width=600,height=400'); return false;" target="_blank" title="트위터로 공유하기 새 창 열림">
                                  <img src="../../img/icons/icon_tw.png" alt="트위터로 공유하기">
                              </a>
                          </div>
                      </div>
                  </div>
                  
              </div>
          </div>    
      </div>
    </main>

    <footer>
      <div class="footer_affiliate">
        <ul>
          <li>
            <a href="https://www.cjfoodville.co.kr/main.asp" target="_blank" title="CJ 푸드빌 새창으로 열기">
              <img src="../../img/footer/cjfoodvill.jpg" alt="CJ 푸드빌">
            </a>
          </li>
          <li>
            <a href="https://www.ivips.co.kr:7002/" target="_blank" title="빕스 새창으로 열기">
              <img src="../../img/footer/vips.jpg" alt="Vips">
            </a>
          </li>
          <li>
            <a href="https://www.italiantheplace.co.kr:7022/brand/" target="_blank" title="더플레이스 새창으로 열기">
              <img src="../../img/footer/theplace.jpg" alt="The place">
            </a>
          </li>
          <li>
            <a href="https://www.cheiljemyunso.co.kr:7014/main.asp" target="_blank" title="제일제면소 새창으로 열기">
              <img src="../../img/footer/jeil.jpg" alt="제일제면소">
            </a>
          </li>
          <li>
            <a href="https://www.ngrill.co.kr:7025/index.html" target="_blank" title="엔그릴 새창으로 열기">
              <img src="../../img/footer/ngrill.jpg" alt="엔그릴">
            </a>
          </li>
          <li>
            <a href="https://www.nseoultower.co.kr:8501/index.asp" target="_blank" title="N SEOUL TOWER 새창으로 열기">
              <img src="../../img/footer/nSeoul.jpg" alt="엔서울타워">
            </a>
          </li>
        </ul>
      </div>

      <div class="footer_bottom">

        <div class="company">
          <ul>
            <li>
              <a href="http://www.cjfoodville.co.kr/story/foodvilleintro.html"
                >회사소개</a
              >
            </li>
            <li>
              <a href="http://127.0.0.1:5500/views/partissier/partissier.html"
                >기사채용안내</a
              >
            </li>
            <li>
              <a href="http://127.0.0.1:5500/views/startup/startup.html"
                >창업안내</a
              >
            </li>
            <li>
              <a href="http://127.0.0.1:5500/views/footer/sitemap.html">사이트맵</a>
            </li>
          </ul>
        </div>

        <div class="policy">
          <ul>
            <li>
              <a href="https://www.cjfoodville.co.kr/footer/userpolicy.asp" target="_blank" title="새창 열림">이용약관</a
              >
            </li>
            <li>
              <a href="https://www.cjfoodville.co.kr/footer/location.asp" target="_blank" title="새창 열림">위치기반서비스 이용약관</a
              >
            </li>
            <li class="private">
              <a href="https://www.cjfoodville.co.kr/footer/privacy.asp" target="_blank" title="새창 열림">개인정보처리방침</a
              >
            </li>
            <li>
              <a href="http://127.0.0.1:5500/views/footer/email.html"
                >이메일무단수집거부</a
              >
            </li>
            <li>
              <a href="https://www.cjfoodville.co.kr/footer/ethic_center.asp" target="_blank" title="새창 열림">윤리신고센터</a
              >
            </li>
            <li>
              <a href="http://127.0.0.1:5500/views/footer/legal.html">법적고지</a>
            </li>
          </ul>
        </div>

        <div class="company_info">
          <p>상호명 : CJ푸드빌(주)</p>

          <address>
              주소 : (우)04555 서울시 중구 마른내로34(초동 106-9번지)KT&amp;G
              을지로타워 3, 9-11층 CJ푸드빌㈜s
          </address>

          <p>
            <span>고객센터 : 1577-0700</span>
            <span>통신판매업종신고증 제 2011-서울중구-0771호</span>
            <sapn class="ftc_confirm">
              <a
                href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=3128142519"
                target="_blank"
                title="새창열림"
              >
                <img
                  src="../../img/footer/footer_info_information.png"
                  alt="사업자정보확인"
                />
              </a>
            </sapn>
            <span class="hosting">호스팅제공자 : CJ올리브네트웍스(주)</span>
          </p>

          <p class="business_info">
            <span>사업자등록번호 : 312-81-42519</span>
            <span>대표이사 : 김찬호</span>
            <span>개인정보보호책임자 : 오창호</span>
            <span class="email">
              <a href="mailto:help_master@cj.net"
                >대표 이메일 : help_master@cj.net</a
              >
            </span>
          </p>

          <p class="copyright">
            COPYRIGHT 2023©CJ Foodville ALL RIGHT RESERVED.
          </p>
        </div>

        <div class="footer_logo">
          <img src="../../img/logos/logo_grey.png" />
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="../../js/menu/bread_detail.js"></script>

    


</body>
</html>