<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 헤더관련 -->
    <link rel="icon" href="../../favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700&family=Nanum+Pen+Script&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <script defer src="./js/main.js"></script>

    <title>델리 | Tous les Jours</title>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" href="../../styles/screens/menu/bread.css">

    <script type="text/javascript" src="../../js/jquery-3.7.0.min.js"></script>
</head>

<body>
    
    <header>
        <div class="skip_menu">
          <ul>
            <li><a href="#해당페이지 바디로 이동">본문내용으로 바로가기</a></li>
            <li><a href="#gnb로 이동">주메뉴 바로가기</a></li>
          </ul>
        </div>
    
        <div class="inner">
          <a href="/" class="logo">
            <img
              src="../../img/logos/logo_2.png"
              alt="touslesjours"
              width="300"
            />
          </a>
    
          <div class="sub-menu">
            <ul class="menu">
              <li>
                <a
                  href="https://www.cjone.com/cjmweb/join.do?coopco_cd=7020&brnd_cd=2010&mcht_no=2010&coop_return_url="
                  >Sign in</a
                >
              </li>
              <li>
                <a href="../../views/map/map.html">매장 찾기</a>
              </li>
              <li>
                <a href="../../views/startup/startup.html">창업 준비하기</a>
              </li>
              <li>
                <a href="../customerpage/customerpage.html">고객센터</a>
              </li>
              <li>
                <a href="../partissier/partissier.html">기사 채용안내</a>
              </li>
              <li>
                <a href="../main/login.html">log in</a>
              </li>
            </ul>
            <div class="search">
              <input id="search_box"type="text" />
      
            </div>
          </div>  
          
    
          <ul class="main-menu">
            <li class="item">
              <div class="item__name">
                <a href="../story/brand_story.html">브랜드 스토리</a>
              </div>
              <div class="item__contents">
                <div class="contents__menu">
                  <ul class="inner">
                    <li>
                      <h4>브랜드 스토리</h4>
                      <ul>
                        <li>
                          <a href="../story/brand_story.html">브랜드 스토리</a>
                        </li>
                        <li>
                          <a href="../story/material.html"
                            >뚜레쥬르 재료 이야기</a
                          >
                        </li>
                        <li>
                          <a href="../story/global.html">글로벌 뚜레쥬르</a>
                        </li>
                        <li>
                          <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                        </li>
                        <li>
                          <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                        </li>
                        <li>
                          <a href="../story/notice.html">뉴스 & 공지사항</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>제품 안내</h4>
                      <ul>
                        <li><a href="../menu/new_products.html">신제품</a></li>
                        <li><a href="../menu/bread.html">빵</a></li>
                        <li><a href="../menu/cake.html">케이크</a></li>
                        <li><a href="../menu/deli.html">델리</a></li>
                        <li><a href="../menu/">선물</a></li>
                        <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                        <li><a href="../menu/drinks.html">음료</a></li>
                      </ul>
                    </li>
                    <li>
                      <h4>이벤트&멤버십</h4>
                      <ul>
                        <li>
                          <a href="../eventpage/eventpage.html"
                            >진행중인 이벤트</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/eventwinner.html"
                            >이벤트 담당자</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                        </li>
                        <li>
                          <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                      <ul>
                        <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                        <li>
                          <a href="../app/homedelivery/homedelivery_list01.html"
                            >홈페이지 전용 예약 배송</a
                          >
                        </li>
                        <li>
                          <a href="../app/flowerdelivery/flowerdelivery.html"
                            >꽃 & 케이크 택배 배송</a
                          >
                        </li>
                        <li>
                          <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="item">
              <div class="item__name">
                <a href="../menu/new_products.html">제품 안내</a>
              </div>
              <div class="item__contents">
                <div class="contents__menu">
                  <ul class="inner">
                    <li>
                      <h4>브랜드 스토리</h4>
                      <ul>
                        <li>
                          <a href="../story/brand_story.html">브랜드 스토리</a>
                        </li>
                        <li>
                          <a href="../story/material.html"
                            >뚜레쥬르 재료 이야기</a
                          >
                        </li>
                        <li>
                          <a href="../story/global.html">글로벌 뚜레쥬르</a>
                        </li>
                        <li>
                          <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                        </li>
                        <li>
                          <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                        </li>
                        <li>
                          <a href="../story/notice.html">뉴스 & 공지사항</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>제품 안내</h4>
                      <ul>
                        <li><a href="../menu/new_products.html">신제품</a></li>
                        <li><a href="../menu/bread.html">빵</a></li>
                        <li><a href="../menu/cake.html">케이크</a></li>
                        <li><a href="../menu/deli.html">델리</a></li>
                        <li><a href="../menu/">선물</a></li>
                        <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                        <li><a href="../menu/drinks.html">음료</a></li>
                      </ul>
                    </li>
                    <li>
                      <h4>이벤트&멤버십</h4>
                      <ul>
                        <li>
                          <a href="../eventpage/eventpage.html"
                            >진행중인 이벤트</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/eventwinner.html"
                            >이벤트 담당자</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                        </li>
                        <li>
                          <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                      <ul>
                        <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                        <li>
                          <a href="../app/homedelivery/homedelivery_list01.html"
                            >홈페이지 전용 예약 배송</a
                          >
                        </li>
                        <li>
                          <a href="../app/flowerdelivery/flowerdelivery.html"
                            >꽃 & 케이크 택배 배송</a
                          >
                        </li>
                        <li>
                          <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="item">
              <div class="item__name">
                <a href="../eventpage/eventpage.html">이벤트 & 멤버십</a>
              </div>
              <div class="item__contents">
                <div class="contents__menu">
                  <ul class="inner">
                    <li>
                      <h4>브랜드 스토리</h4>
                      <ul>
                        <li>
                          <a href="../story/brand_story.html">브랜드 스토리</a>
                        </li>
                        <li>
                          <a href="../story/material.html"
                            >뚜레쥬르 재료 이야기</a
                          >
                        </li>
                        <li>
                          <a href="../story/global.html">글로벌 뚜레쥬르</a>
                        </li>
                        <li>
                          <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                        </li>
                        <li>
                          <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                        </li>
                        <li>
                          <a href="../story/notice.html">뉴스 & 공지사항</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>제품 안내</h4>
                      <ul>
                        <li><a href="../menu/new_products.html">신제품</a></li>
                        <li><a href="../menu/bread.html">빵</a></li>
                        <li><a href="../menu/cake.html">케이크</a></li>
                        <li><a href="../menu/deli.html">델리</a></li>
                        <li><a href="../menu/">선물</a></li>
                        <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                        <li><a href="../menu/drinks.html">음료</a></li>
                      </ul>
                    </li>
                    <li>
                      <h4>이벤트&멤버십</h4>
                      <ul>
                        <li>
                          <a href="../eventpage/eventpage.html"
                            >진행중인 이벤트</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/eventwinner.html"
                            >이벤트 담당자</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                        </li>
                        <li>
                          <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                      <ul>
                        <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                        <li>
                          <a href="../app/homedelivery/homedelivery_list01.html"
                            >홈페이지 전용 예약 배송</a
                          >
                        </li>
                        <li>
                          <a href="../app/flowerdelivery/flowerdelivery.html"
                            >꽃 & 케이크 택배 배송</a
                          >
                        </li>
                        <li>
                          <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="item">
              <div class="item__name">
                <a href="../app/appmain.html">뚜레쥬르 앱 & 온라인 쇼핑몰</a>
              </div>
              <div class="item__contents">
                <div class="contents__menu">
                  <ul class="inner">
                    <li>
                      <h4>브랜드 스토리</h4>
                      <ul>
                        <li>
                          <a href="../story/brand_story.html">브랜드 스토리</a>
                        </li>
                        <li>
                          <a href="../story/material.html"
                            >뚜레쥬르 재료 이야기</a
                          >
                        </li>
                        <li>
                          <a href="../story/global.html">글로벌 뚜레쥬르</a>
                        </li>
                        <li>
                          <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                        </li>
                        <li>
                          <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                        </li>
                        <li>
                          <a href="../story/notice.html">뉴스 & 공지사항</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>제품 안내</h4>
                      <ul>
                        <li><a href="../menu/new_products.html">신제품</a></li>
                        <li><a href="../menu/bread.html">빵</a></li>
                        <li><a href="../menu/cake.html">케이크</a></li>
                        <li><a href="../menu/deli.html">델리</a></li>
                        <li><a href="../menu/">선물</a></li>
                        <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                        <li><a href="../menu/drinks.html">음료</a></li>
                      </ul>
                    </li>
                    <li>
                      <h4>이벤트&멤버십</h4>
                      <ul>
                        <li>
                          <a href="../eventpage/eventpage.html"
                            >진행중인 이벤트</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/eventwinner.html"
                            >이벤트 담당자</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                        </li>
                        <li>
                          <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                      <ul>
                        <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                        <li>
                          <a href="../app/homedelivery/homedelivery_list01.html"
                            >홈페이지 전용 예약 배송</a
                          >
                        </li>
                        <li>
                          <a href="../app/flowerdelivery/flowerdelivery.html"
                            >꽃 & 케이크 택배 배송</a
                          >
                        </li>
                        <li>
                          <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
    </header>
    

    <main>
        <div class="top_content_wrap">
            <h2>델리</h2>
        
            <div class="page_location">
                <ul>
                <li>
                    <a href="../../index.html"><span>HOME</span></a>
                </li>
                <li>&gt;</li>
                <li>
                    <a href="deli.html">
                    <span>델리</span>
                    </a>
                </li>
                </ul>
          </div>
        </div>

        <div class="category_wrap">
            <div class="category_gift_wrap">
                <div class="product_category"> <!--카테고리별 델리보기 박스-->
                    <p>카테고리별 델리 보기</p>
                    <div class="product_category_box_wrap">
                        <form method="post">
                            <fieldset>
                                <legend class="hidden">카테고리별 델리 보기</legend>
                                <ul>
                                    <li>
                                        <input type="checkbox" name="view_all" id="view_all" value="view_all">
                                        <label for="view_all">전체 보기</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="category_01" id="category_01" value="category_01">
                                        <label for="category_01">샌드위치</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="category_02" id="category_02" value="category_02">
                                        <label for="category_02">샐러드</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="category_03" id="category_03" value="category_03">
                                        <label for="category_03">간편식</label>
                                    </li>
                                </ul>
                            </fieldset>
                        </form>
                    </div>
                </div>

                <!--모바일/선물하기 배너-->
                <div class="mobile_gift_delivery">
                    <a href="../../views/app/appmain.html">
                        <img src="../../img/menu/gift_delivery.jpg" alt="뚜레주르 제품 모바일로 구매/선물하기">
                        <div>
                            <img src="../../img/menu/mobile_gift_delivery_2.jpg" alt="쇼핑몰&케이크배달 뚜레쥬르 제품을 온라인에서 구매&배송신청하세요">
                        </div>
                    </a>
                </div>
                
            </div> 
        </div>

        <div class="menu_product_wrap">
            
            <!--상세분류 셀렉터: 신제품 모아보기/베스트 모아보기-->
            <div class="selector_wrap" id="selector_wrap">
                <div class="selector_tab" id="selector_tab">
                    <a href="#">상세분류</a>
                </div>
                <div class="selector_select hidden" id="selector_select">
                    <ul>
                        <li class="selector_select_new">
                            <input type="checkbox" name="new_products" id="new_products" value="new_products" data-target="new"> <label for="new_products">신제품 모아 보기</label>        
                        </li>
                        <li class="selector_select_best">
                            <input type="checkbox" name="best_products" id="best_products" value="best_products" data-target="best"> <label for="best_products">베스트 제품 모아 보기</label>     
                        </li>
                    </ul>
                </div>
            </div>

            <div class="memu_product_all">
                <dl class="menu_product_view">
                    <a href=""> <!--dt 사진으로 보기 페이지-->
                        <dt id="view_pics" class="view_pics"><span>사진으로 보기</span></dt>
                    </a>
                    <dd id="view_pics_dd" class="view_pics_dd view_all"> <!--dd 사진으로 보기 페이지-->
                        <dl> <!--모든 델리 리스트-->
                            
                            <dt class="category_name category_01"><span>샌드위치</dt></span>
                            <dd><!--샌드위치 리스트-->
                                <ul class="products_in_category">
                                    <li class="new">
                                        <a href="#">
                                            <img src="../../img/menu/deli/tuna_sandwitch.jpg" alt="">
                                            <div class="new_stamp">
                                                <img src="../../img/menu/new_menu_stamp.png">
                                            </div>
                                            <div class="product_description_wrap">
                                                <p class="mulit-line-ellipsis">건강해진 통밀빵 속에 신선한 야채와 참치샐러드가 더해져 깊은 풍미와 아삭한 식감이 느껴지는 베스트조합</p>
                                                <div class="view_more"><span>자세히 보기</span></div>
                                            </div>
                                        </a>
                                        <p>통밀 튜나 샌드위치</p>
                                    </li>
                                    <li class="best">
                                        <a href="#">
                                            <img src="../../img/menu/deli/eggtuna_sandwitch.jpg">
                                            <div class="best_stamp">
                                                <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                            <div class="product_description_wrap">
                                                <p class="mulit-line-ellipsis">신선한 야채와 계란, 참치샐러드로 대중성있는 담백한맛 샌드위치</p>
                                                <div class="view_more"><span>자세히 보기</span></div>
                                            </div>
                                        </a>
                                        <p>에그튜나 샌드위치</p>
                                    </li>
                                    <li class="list">
                                        <a href="#">
                                            <img src="../../img/menu/deli/cheese_brito.jpg">
                                            <div class="product_description_wrap">
                                                <p class="mulit-line-ellipsis">플랜트 미트볼과 베지 라구소스 볶음밥이 그릴드 야채, 모짜렐라 치즈와 어울린 핫 샌드위치</p>
                                                <div class="view_more"><span>자세히 보기</span></div>
                                            </div>     
                                        </a>
                                        <p>라구듬뿍 치즈브리또</p>
                                    </li>
                                    <li class="list">
                                        <a href="#">
                                            <img src="../../img/menu/deli/chiken_carrot_sandwitch.jpg">
                                            <div class="product_description_wrap">
                                                <p class="mulit-line-ellipsis">담백한 그릴치킨과 적양파 & 홀그레인으로 맛을 낸 당근라페가 어울려 신선하고 건강한 샌드위치</p>
                                                <div class="view_more"><span>자세히 보기</span></div>
                                            </div> 
                                        </a>
                                        <p>그릴치킨&당근라페 샌드위치</p>
                                    </li>
                                    <li class="list">
                                        <a href="#">
                                            <img src="../../img/menu/deli/egg_tender_sandwitch.jpg">
                                            <div class="product_description_wrap">
                                                <p class="mulit-line-ellipsis">부드러운 에그쉬림프필링에 단백질 가득! 텐더치킨의 만남</p>
                                                <div class="view_more"><span>자세히 보기</span></div>
                                            </div> 
                                        </a>
                                        <p>에그쏙! 텐더 샌드위치</p>
                                    </li>
                                    <li class="new">
                                        <a href="#">
                                            <img src="../../img/menu/deli/vegerap.jpg">
                                            <div class="new_stamp">
                                                <img src="../../img/menu/new_menu_stamp.png">
                                            </div>
                                            <div class="product_description_wrap">
                                                <p class="mulit-line-ellipsis">병아리콩으로 만든 비건볼(팔라펠)과 아삭한 야채가 담백하고 신선하게 어우러진 콜드샌드위치</p>
                                                <div class="view_more"><span>자세히 보기</span></div>
                                            </div> 
                                        </a>
                                        <p>담백아삭 베지랩</p>  
                                    </li>
                                    <li class="best">
                                        <a href="#">
                                            <img src="../../img/menu/deli/vegetender.jpg">             
                                            <div class="best_stamp">
                                            <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                            <div class="product_description_wrap">
                                                <p class="mulit-line-ellipsis">병아리콩으로 만든 비건볼(팔라펠)과 아삭한 야채가 담백하고 신선하게 어우러진 콜드샌드위치</p>
                                                <div class="view_more"><span>자세히 보기</span></div>
                                            </div> 
                                        </a>
                                        <p>베지텐더 밸런스랩</p>
                                    </li>
                                    <li class="new">
                                        <a href="#">
                                            <img src="../../img/menu/deli/crb_chiken_bagel.jpg">
                                            <div class="new_stamp">
                                                <img src="../../img/menu/new_menu_stamp.png">
                                            </div>
                                            <div class="product_description_wrap">
                                                <p class="mulit-line-ellipsis">크랜베리치킨에 신선한 토마토, 야채와 부드러운 크림치즈가 어우러진 담백한 베이글 샌드위치</p>
                                                <div class="view_more"><span>자세히 보기</span></div>
                                            </div> 
                                        </a>
                                        <p>크랜베리치킨 베이글 샌드위치</p>
                                    </li>
                                </ul>
                            </dd>

                            <dt class="category_name category_02"><span>샐러드</span></dt>
                            <dd><!--샐러드 리스트-->
                                <ul  class="products_in_category">
                                    <li class="new">
                                        <a href="#">
                                            <img src="../../img/menu/deli/potato_tuna_salad.jpg">
                                            <div class="new_stamp">
                                                <img src="../../img/menu/new_menu_stamp.png">
                                            </div>
                                            <div class="product_description_wrap">
                                                <p class="mulit-line-ellipsis">참치샐러드에 구운감자,계란, 올리브를 더해 신선하고 풍성하게 즐기는 니스와즈 ST 샐러드</p>
                                                <div class="view_more"><span>자세히 보기</span></div>
                                            </div>
                                        </a>
                                        <p>포테이토&튜나 샐러드</p>
                                    </li>
                                    <li class="new">
                                        <a href="#">
                                            <img src="../../img/menu/deli/chiken_orange_salad.jpg">
                                            <div class="new_stamp">
                                                <img src="../../img/menu/new_menu_stamp.png">
                                            </div>
                                            <div class="product_description_wrap">
                                                <p class="mulit-line-ellipsis">담백한 닭가슴살을 가득 넣고 시트러스한 오렌지와 유자 오리엔탈 드레싱으로 입맛을 돋운 단백질 든든 볼샐러드</p>
                                                <div class="view_more"><span>자세히 보기</span></div>
                                            </div>
                                        </a>
                                        <p>그릴치킨 오렌지 샐러드</p>   
                                    </li>
                                    <li class="list">
                                        <a href="#">
                                            <img src="../../img/menu/deli/chiken_chickpea_salad.jpg">
                                            <div class="product_description_wrap">
                                                <p class="mulit-line-ellipsis">큼직하고 부드러운 닭가슴살과 병아리콩, 브로콜리로 구성된 건강한 프로틴 가득 샐러드</p>
                                                <div class="view_more"><span>자세히 보기</span></div>
                                            </div>
                                        </a>
                                        <p>닭가슴살 병아리콩 샐러드</p>
                                    </li>
                                    <li class="list">
                                        <a href="#">
                                            <img src="../../img/menu/deli/shrimp_brocc_salad.jpg">
                                            <div class="product_description_wrap">
                                                <p class="mulit-line-ellipsis">매콤한 새우, 브로컬리, 할라피뇨가 화이트 랜치드레싱과 어울린 멕시칸 스타일 샐러드</p>
                                                <div class="view_more"><span>자세히 보기</span></div>
                                            </div>
                                        </a>
                                        <p>매콤새우 브로콜리 샐러드</p>
                                    </li>
                                    <li class="best">
                                        <a href="#">
                                            <img src="../../img/menu/deli/chickpea_vegeball_salad.jpg">
                                            <div class="best_stamp">
                                                <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                            <div class="product_description_wrap">
                                                <p class="mulit-line-ellipsis">콩으로 만든 비건볼(팔라펠)과 병아리콩, 상큼한 당근피클이 매콤한 드레싱과 어우러진 샐러드</p>
                                                <div class="view_more"><span>자세히 보기</span></div>
                                            </div>
                                        </a>
                                        <p>병아리콩 베지볼 샐러드</p>   
                                    </li>
                                    <li class="list">
                                        <a href="#">
                                            <img src="../../img/menu/deli/chicken_potato_salad.jpg">
                                            <div class="product_description_wrap">
                                                <p class="mulit-line-ellipsis">바삭한 텐더치킨과 담백한 그릴감자, 짭조름한 베이컨이 그릴야채, 크리미한 랜치드레싱과 어울린 샐러드</p>
                                                <div class="view_more"><span>자세히 보기</span></div>
                                            </div>
                                        </a>
                                        <p>크리스피치킨&감자 샐러드</p>
                                    </li>
                                    <li class="list">
                                        <a href="#">
                                            <img src="../../img/menu/deli/mushroom_salad.jpg">
                                            <div class="product_description_wrap">
                                                <p class="mulit-line-ellipsis">바삭하게 볶아낸 불고기, 새송이, 양파와 담백한 오리엔탈 드레싱에 눈꽃치즈를 더한 부드러운 어울림의 샐러드</p>
                                                <div class="view_more"><span>자세히 보기</span></div>
                                            </div>
                                        </a>
                                        <p>머쉬룸 불고기 샐러드</p>
                                    </li>
                                    <li class="best">
                                        <a href="#">
                                            <img src="../../img/menu/deli/cop_salad.jpg">
                                            <div class="best_stamp">
                                                <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                            <div class="product_description_wrap">
                                                <p class="mulit-line-ellipsis">신선한 야채와 닭가슴살, 토마토, 계란, 치즈, 베이컨에 화이트바베큐드레싱을 곁들여 먹는 샐러드</p>
                                                <div class="view_more"><span>자세히 보기</span></div>
                                            </div>
                                        </a>
                                        <p>콥 샐러드</p>
                                    </li>
                                </ul>
                            </dd>
                            
                            <dt class="category_name category_03"><span>간편식</span></dt>
                            <dd><!--간편식 리스트-->
                                <ul  class="products_in_category">
                                    <li class="new">
                                        <a href="#">
                                            <img src="../../img/menu/deli/truffle_cr_pasta.png">
                                            <div class="new_stamp">
                                                <img src="../../img/menu/new_menu_stamp.png">
                                            </div>
                                            <div class="product_description_wrap">
                                                <p class="mulit-line-ellipsis">큼직한 리가토니 파스타에 구운버섯을 가득 올린 트러플 크림치즈 파스타</p>
                                                <div class="view_more"><span>자세히 보기</span></div>
                                            </div>
                                        </a>
                                        <p>트러플 크림 파스타</p>
                                    </li>
                                    <li class="new">
                                        <a href="#">
                                            <img src="../../img/menu/deli/rose_shrimp_doria.png">
                                            <div class="new_stamp">
                                                <img src="../../img/menu/new_menu_stamp.png">
                                            </div>
                                            <div class="product_description_wrap">
                                                <p class="mulit-line-ellipsis">통통한 새우와 톡톡 씹히는 식감의 보리를 로제소스에 더한 치즈 도리아</p>
                                                <div class="view_more"><span>자세히 보기</span></div>
                                            </div>
                                        </a>
                                        <p>로제 쉬림프 도리아</p>  
                                    </li> 
                                    <li class="list">
                                        <a href="#">
                                            <img src="../../img/menu/deli/tomato_lasagne.jpg">
                                            <div class="product_description_wrap">
                                                <p class="mulit-line-ellipsis">플랜트 미트와 신선한 토마토를 가득 넣어 끓인 라구소스와 베사멜소스, 모짜렐라 치즈가 부드럽게 어우러진 제품 *냉동제품으로 고객님께서 제품 구매 후, 전자레인지에 조리 후 취식이 가능한 제품입니다.</p>
                                                <div class="view_more"><span>자세히 보기</span></div>
                                            </div>
                                        </a>
                                        <p>토마토 라구라자냐</p>
                                    </li>
                                    <li class="best">
                                        <a href="#">
                                            <img src="../../img/menu/deli/mushroom_cr_soup.jpg">
                                            <div class="best_stamp">
                                                <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                            <div class="product_description_wrap">
                                                <p class="mulit-line-ellipsis">풍미가득 양송이 버섯과 양파가 만나 크리미하게 어우러진 스프</p>
                                                <div class="view_more"><span>자세히 보기</span></div>
                                            </div>
                                        </a>
                                        <p>머쉬룸 크림스프</p>
                                    </li>
                                    <li class="best">
                                        <a href="#">
                                            <img src="../../img/menu/deli/gome_hotdog.jpg">
                                            <div class="best_stamp">
                                                <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                            <div class="product_description_wrap">
                                                <p class="mulit-line-ellipsis">쫄깃한 모짜렐라치즈와 육즙가득 켄터키 후랑크를 넣은 크리스피 핫도그</p>
                                                <div class="view_more"><span>자세히 보기</span></div>
                                            </div>
                                        </a>
                                        <p>고메치즈 크리스피 핫도그</p>
                                    </li>
                                    <li class="list">
                                        <a href="#">
                                            <img src="../../img/menu/deli/gome_big_hotdog.jpg">
                                            <div class="product_description_wrap">
                                                <p class="mulit-line-ellipsis">육즙이 톡톡 터지는 그릴후랑크가 들어있는 빅사이즈 크리스피 핫도그</p>
                                                <div class="view_more"><span>자세히 보기</span></div>
                                            </div>
                                        </a>
                                        <p>고메 빅크리스피 핫도그</p>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </dd>

                    <a href=""> <!--dt 영양정보로 보기 페이지-->
                        <dt id="view_nutris" class="view_nutris "><span>영양정보로 보기</span></dt>
                    </a>
                    <!--dd 영양정보로 보기 페이지-->
                    <dd id="view_nutris_dd" class="view_nutris_dd hidden"> 
                        <dl> 
                            <dt class="category_name category_01"><span>샌드위치</span></dt>
                            <dd>
                                <table class="table_in_category">
                                    <tr>
                                        <th>제품 이름</th>
                                        <th>열량(kcal)</th>
                                        <th>당류(g)</th>
                                        <th>단백질(g/%)</th>
                                        <th>포화지방(g/%)</th>
                                        <th>나트륨(mg/%)</th>
                                    </tr>
                                    <tr>
                                        <td>통밀 튜나 샌드위치</td>
                                        <td>493</td>
                                        <td>18/18</td>
                                        <td>8/15</td>
                                        <td>4.9/33</td>
                                        <td>360/18</td>
                                    </tr>
                                    <tr>
                                        <td>에그튜나 샌드위치</td>
                                        <td>950</td>
                                        <td>17/17</td>
                                        <td>33/60</td>
                                        <td>2.8/19</td>
                                        <td>1180/59</td>
                                    </tr>
                                    <tr>
                                        <td>라구듬뿍 치즈브리또</td>
                                        <td>850</td>
                                        <td>50/50</td>
                                        <td>19/35</td>
                                        <td>12/80</td>
                                        <td>760/38</td>
                                    </tr>
                                    <tr>
                                        <td>그릴치킨&당근라페 샌드위치</td>
                                        <td>674</td>
                                        <td>21/21</td>
                                        <td>14/27</td>
                                        <td>22/165</td>
                                        <td>685/43</td>
                                    </tr>
                                    <tr>
                                        <td>에그쏙! 텐더 샌드위치</td>
                                        <td>850</td>
                                        <td>50/50</td>
                                        <td>19/35</td>
                                        <td>12/80</td>
                                        <td>760/38</td>
                                    </tr>
                                        <td>담백아삭 베지랩</td>
                                        <td>315</td>
                                        <td>11/11</td>
                                        <td>8/15</td>
                                        <td>4.9/33</td>
                                        <td>360/18</td>
                                    </tr>
                                    <tr>
                                        <td>베지텐더 밸런스랩</td>
                                        <td>850</td>
                                        <td>50/50</td>
                                        <td>19/35</td>
                                        <td>12/80</td>
                                        <td>760/38</td>
                                    </tr>
                                    <tr>
                                        <td>크랜베리치킨 베이글 샌드위치</td>
                                        <td>674</td>
                                        <td>21/21</td>
                                        <td>14/27</td>
                                        <td>22/165</td>
                                        <td>685/43</td>
                                    </tr>
                                </table>
                            </dd>
                            <dt class="category_name category_02"><span>샐러드</span></dt>
                            <dd>
                                <table class="table_in_category">
                                    <tr>
                                        <th>제품 이름</th>
                                        <th>열량(kcal)</th>
                                        <th>당류(g)</th>
                                        <th>단백질(g/%)</th>
                                        <th>포화지방(g/%)</th>
                                        <th>나트륨(mg/%)</th>
                                    </tr>
                                    <tr>
                                        <td>포테이토&튜나 샐러드</td>
                                        <td>315</td>
                                        <td>11/11</td>
                                        <td>8/15</td>
                                        <td>4.9/33</td>
                                        <td>360/18</td>
                                    </tr>
                                    <tr>
                                        <td>그릴치킨 오렌지 샐러드</td>
                                        <td>1430</td>
                                        <td>59/59</td>
                                        <td>41/75</td>
                                        <td>16/107</td>
                                        <td>1850/93</td>
                                    </tr>
                                    <tr>
                                        <td>닭가슴살 병아리콩 샐러드</td>
                                        <td>950</td>
                                        <td>17/17</td>
                                        <td>33/60</td>
                                        <td>2.8/19</td>
                                        <td>1180/59</td>
                                    </tr>
                                    <tr>
                                        <td>매콤새우 브로콜리 샐러드</td>
                                        <td>1700</td>
                                        <td>100/100</td>
                                        <td>37/67</td>
                                        <td>23/153</td>
                                        <td>1520/76</td>
                                    </tr>
                                    <tr>
                                        <td>병아리콩 베지볼 샐러드</td>
                                        <td>850</td>
                                        <td>50/50</td>
                                        <td>19/35</td>
                                        <td>12/80</td>
                                        <td>760/38</td>
                                    </tr>
                                    <tr>
                                        <td>크리스피치킨&감자 샐러드</td>
                                        <td>1385</td>
                                        <td>59/59</td>
                                        <td>29/53</td>
                                        <td>44/293</td>
                                        <td>1300/65</td>
                                    </tr>
                                    <tr>
                                        <td>머쉬룸 불고기 샐러드</td>
                                        <td>1020</td>
                                        <td>26/26</td>
                                        <td>26/47</td>
                                        <td>14/93</td>
                                        <td>1300/65</td>
                                    </tr>
                                    <tr>
                                        <td>콥 샐러드</td>
                                        <td>1260</td>
                                        <td>7</td>
                                        <td>10/18</td>
                                        <td>3.4/23</td>
                                        <td>400/20</td>
                                      </tr>
                                </table>
                            </dd>
                            <dt class="category_name category_03"><span>간편식</span></dt>
                            <dd>
                                <table class="table_in_category">
                                    <tr>
                                        <th>제품 이름</th>
                                        <th>열량(kcal)</th>
                                        <th>당류(g)</th>
                                        <th>단백질(g/%)</th>
                                        <th>포화지방(g/%)</th>
                                        <th>나트륨(mg/%)</th>
                                    </tr>
                                    <tr>
                                        <td>트러플 크림 파스타</td>
                                        <td>1430</td>
                                        <td>59/59</td>
                                        <td>41/75</td>
                                        <td>16/107</td>
                                        <td>1850/93</td>
                                    </tr>
                                    <tr>
                                        <td>로제 쉬림프 도리아</td>
                                        <td>950</td>
                                        <td>17/17</td>
                                        <td>33/60</td>
                                        <td>2.8/19</td>
                                        <td>1180/59</td>
                                    </tr>
                                    <tr>
                                        <td>토마토 라구라자냐</td>
                                        <td>1700</td>
                                        <td>100/100</td>
                                        <td>37/67</td>
                                        <td>23/153</td>
                                        <td>1520/76</td>
                                    </tr>
                                    <tr>
                                        <td>머쉬룸 크림스프</td>
                                        <td>850</td>
                                        <td>50/50</td>
                                        <td>19/35</td>
                                        <td>12/80</td>
                                        <td>760/38</td>
                                    </tr>
                                    <tr>
                                        <td>고메치즈 크리스피 핫도그</td>
                                        <td>315</td>
                                        <td>11/11</td>
                                        <td>8/15</td>
                                        <td>4.9/33</td>
                                        <td>360/18</td>
                                    </tr>
                                    <tr>
                                        <td>고메 빅크리스피 핫도그</td>
                                        <td>302</td>
                                        <td>9/9</td>
                                        <td>7/13</td>
                                        <td>3.4/29</td>
                                        <td>342/13</td>
                                    </tr>
                                </table>
                            </dd>
                        </dl>
                        
                    </dd>
                </dl>

            </div>
        </div>
        
        <!-- 오른쪽 하단 퀵 메뉴 -->
        <div class="mainpage_quick--menu">
            <div
              class="mainpage_quick--menu-cont mainpage_quick-cont--disappear"
            >
              <a href="#" class="main_quick--btn">
                <img src="../../img/icons/top.png" alt="상단으로가기" />
                <span>TOP</span>
              </a>
              <a
                href="https://www.instagram.com/touslesjours_kr/"
                class="main_quick--btn" target="_blank"
              >
                <img src="../../img/icons/sns.png" alt="sns보기" />
                <span>SNS</span>
              </a>
              <a href="../../views/startup/startup.html" class="main_quick--btn">
                <img src="../../img/icons/start-up.png" alt="창업하기" />
                <span>창업</span>
              </a>
              <a
                href="../../views/partissier/partissier.html"
                class="main_quick--btn"
              >
                <img src="../../img/icons/recruitment.png" alt="기사채용" />
                <span>기사<br />채용</span>
              </a>
            </div>
            <button id="quicktoggle" class="mainpage_btn--disappear">
              <img
                class="mainpage_btn-img--disappear"
                src="../../img/icons/up-arrow_col.png"
                alt="보이기"
              />
            </button>
          </div>
        
                
    </main>

    <footer>
        <div class="footer_affiliate">
          <ul>
            <li>
              <a href="https://www.cjfoodville.co.kr/main.asp" target="_blank" title="CJ 푸드빌 새창으로 열기">
                <img src="../../img/footer/cjfoodvill.jpg" alt="CJ 푸드빌">
              </a>
            </li>
            <li>
              <a href="https://www.ivips.co.kr:7002/" target="_blank" title="빕스 새창으로 열기">
                <img src="../../img/footer/vips.jpg" alt="Vips">
              </a>
            </li>
            <li>
              <a href="https://www.italiantheplace.co.kr:7022/brand/" target="_blank" title="더플레이스 새창으로 열기">
                <img src="../../img/footer/theplace.jpg" alt="The place">
              </a>
            </li>
            <li>
              <a href="https://www.cheiljemyunso.co.kr:7014/main.asp" target="_blank" title="제일제면소 새창으로 열기">
                <img src="../../img/footer/jeil.jpg" alt="제일제면소">
              </a>
            </li>
            <li>
              <a href="https://www.ngrill.co.kr:7025/index.html" target="_blank" title="엔그릴 새창으로 열기">
                <img src="../../img/footer/ngrill.jpg" alt="엔그릴">
              </a>
            </li>
            <li>
              <a href="https://www.nseoultower.co.kr:8501/index.asp" target="_blank" title="N SEOUL TOWER 새창으로 열기">
                <img src="../../img/footer/nSeoul.jpg" alt="엔서울타워">
              </a>
            </li>
          </ul>
        </div>
  
        <div class="footer_bottom">
  
          <div class="company">
            <ul>
              <li>
                <a href="http://www.cjfoodville.co.kr/story/foodvilleintro.html"
                  >회사소개</a
                >
              </li>
              <li>
                <a href="http://127.0.0.1:5500/views/partissier/partissier.html"
                  >기사채용안내</a
                >
              </li>
              <li>
                <a href="http://127.0.0.1:5500/views/startup/startup.html"
                  >창업안내</a
                >
              </li>
              <li>
                <a href="http://127.0.0.1:5500/views/footer/sitemap.html">사이트맵</a>
              </li>
            </ul>
          </div>
  
          <div class="policy">
            <ul>
              <li>
                <a href="https://www.cjfoodville.co.kr/footer/userpolicy.asp" target="_blank" title="새창 열림">이용약관</a
                >
              </li>
              <li>
                <a href="https://www.cjfoodville.co.kr/footer/location.asp" target="_blank" title="새창 열림">위치기반서비스 이용약관</a
                >
              </li>
              <li class="private">
                <a href="https://www.cjfoodville.co.kr/footer/privacy.asp" target="_blank" title="새창 열림">개인정보처리방침</a
                >
              </li>
              <li>
                <a href="http://127.0.0.1:5500/views/footer/email.html"
                  >이메일무단수집거부</a
                >
              </li>
              <li>
                <a href="https://www.cjfoodville.co.kr/footer/ethic_center.asp" target="_blank" title="새창 열림">윤리신고센터</a
                >
              </li>
              <li>
                <a href="http://127.0.0.1:5500/views/footer/legal.html">법적고지</a>
              </li>
            </ul>
          </div>
  
          <div class="company_info">
            <p>상호명 : CJ푸드빌(주)</p>
  
            <address>
                주소 : (우)04555 서울시 중구 마른내로34(초동 106-9번지)KT&amp;G
                을지로타워 3, 9-11층 CJ푸드빌㈜s
            </address>
  
            <p>
              <span>고객센터 : 1577-0700</span>
              <span>통신판매업종신고증 제 2011-서울중구-0771호</span>
              <sapn class="ftc_confirm">
                <a
                  href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=3128142519"
                  target="_blank"
                  title="새창열림"
                >
                  <img
                    src="../../img/footer/footer_info_information.png"
                    alt="사업자정보확인"
                  />
                </a>
              </sapn>
              <span class="hosting">호스팅제공자 : CJ올리브네트웍스(주)</span>
            </p>
  
            <p class="business_info">
              <span>사업자등록번호 : 312-81-42519</span>
              <span>대표이사 : 김찬호</span>
              <span>개인정보보호책임자 : 오창호</span>
              <span class="email">
                <a href="mailto:help_master@cj.net"
                  >대표 이메일 : help_master@cj.net</a
                >
              </span>
            </p>
  
            <p class="copyright">
              COPYRIGHT 2023©CJ Foodville ALL RIGHT RESERVED.
            </p>
          </div>
  
          <div class="footer_logo">
            <img src="../../img/logos/logo_grey.png" />
          </div>
        </div>
    </footer>
  
    <script type="text/javascript" src="../../js/menu/bread.js"></script>

    <!-- 오른쪽 하단 바로가기 메뉴 -->
    <script src="../../js/mainpage/mainquicknav.js"></script>

</body>
</html>






