footer {
  z-index: 5;
  position: relative;
}

.footer_affiliate {
  width: 100%;
  background: #f7f1db;
  border-top: 1px solid #cac0b6;
}
.footer_affiliate ul {
  width: 1100px;
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_affiliate ul li {
  padding: 0 20px;
}

.footer_bottom {
  position: relative;
  background: #363636;
  width: 100%;
  height: 300px;
  padding-top: 40px;
  box-sizing: border-box;
  margin: auto;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
}

.company {
  width: 900px;
  height: 50px;
  margin: auto;
  color: #fff;
}

.policy {
  width: 1000px;
  height: 50px;
  margin: auto;
  margin-bottom: 10px;
  color: #ffff;
}
.policy .private {
  color: chocolate;
  font-weight: 700;
}
.company a:hover,
.policy a:hover {
  text-decoration: underline;
}
.company ul,
.policy ul {
  display: flex;
  justify-content: space-between;
}
.company_info {
  width: 800px;
  height: 90px;
  line-height: 1.5em;
  margin: auto;
  margin-bottom: 30px;
  color: #cdcdcd;
  font-size: 12px;
  position: relative;
}
.company_info p,
.company_info address {
  text-align: center;
}
.company_info p span {
  justify-content: space-between;
  margin-right: 10px;
}

.ftc_confirm {
  position: relative;
}
.ftc_confirm a {
  position: absolute;
  left: -8px;
}
.hosting {
  padding-left: 80px;
}

.company_info .business_info {
  margin-bottom: 10px;
}

.company_info .copyright {
  font-size: 11px;
}
.footer_logo img {
  width: 100px;
  position: absolute;
  right: 70px;
  top: 160px;
}
