:root {
  --main-color: #004e42;

  --sub-color: #ff6900;

  --third-color: #f1e6b2;

  --fourth-color: #bb8459;

  --table-color: #ecefe4;

  --bg-color: #fdfaf6;
  /* #f7f0da; */

  --hover-green: #007061;

  /* --main-font: */
  /* --sub-font: */
}
