<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
        <link rel="stylesheet" href="../../styles/style.css">
        <title>Tous les Jours | 앱 다운받기</title>
        <link rel="icon" href="../../favicon.png" />
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700&family=Nanum+Pen+Script&display=swap"
          rel="stylesheet"
        />
        <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
        <script defer src="./js/main.js"></script>
    </head>
    <header>
      <div class="inner">
        <a href="/" class="logo">
          <img
            src="../../img/logos/logo_2.png"
            alt="touslesjours"
            width="300"
          />
        </a>

        <div class="sub-menu">
          <ul class="menu">
            <li>
              <a
                href="https://www.cjone.com/cjmweb/join.do?coopco_cd=7020&brnd_cd=2010&mcht_no=2010&coop_return_url="
                >Sign in</a
              >
            </li>
            <li>
              <a href="../../views/map/map.html">매장 찾기</a>
            </li>
            <li>
              <a href="../../views/startup/startup.html">창업 준비하기</a>
            </li>
            <li>
              <a href="../customerpage/customerpage.html">고객센터</a>
            </li>
            <li>
              <a href="../partissier/partissier.html">기사 채용안내</a>
            </li>
            <li>
              <a href="../main/login.html">log in</a>
            </li>
          </ul>
          <div class="search">
            <input id="search_box"type="text" />
    
          </div>
        </div>  
        

        <ul class="main-menu">
          <li class="item">
            <div class="item__name">
              <a href="../story/brand_story.html">브랜드 스토리</a>
            </div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>
                        <a href="../story/brand_story.html">브랜드 스토리</a>
                      </li>
                      <li>
                        <a href="../story/material.html"
                          >뚜레쥬르 재료 이야기</a
                        >
                      </li>
                      <li>
                        <a href="../story/global.html">글로벌 뚜레쥬르</a>
                      </li>
                      <li>
                        <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                      </li>
                      <li>
                        <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                      </li>
                      <li>
                        <a href="../story/notice.html">뉴스 & 공지사항</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li><a href="../menu/new_products.html">신제품</a></li>
                      <li><a href="../menu/bread.html">빵</a></li>
                      <li><a href="../menu/cake.html">케이크</a></li>
                      <li><a href="../menu/deli.html">델리</a></li>
                      <li><a href="../menu/">선물</a></li>
                      <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                      <li><a href="../menu/drinks.html">음료</a></li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>
                        <a href="../eventpage/eventpage.html"
                          >진행중인 이벤트</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/eventwinner.html"
                          >이벤트 당첨자</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                      </li>
                      <li>
                        <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                      <li>
                        <a href="../app/homedelivery/homedelivery_list01.html"
                          >홈페이지 전용 예약 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/flowerdelivery/flowerdelivery.html"
                          >꽃 & 케이크 택배 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">
              <a href="../menu/new_products.html">제품 안내</a>
            </div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>
                        <a href="../story/brand_story.html">브랜드 스토리</a>
                      </li>
                      <li>
                        <a href="../story/material.html"
                          >뚜레쥬르 재료 이야기</a
                        >
                      </li>
                      <li>
                        <a href="../story/global.html">글로벌 뚜레쥬르</a>
                      </li>
                      <li>
                        <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                      </li>
                      <li>
                        <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                      </li>
                      <li>
                        <a href="../story/notice.html">뉴스 & 공지사항</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li><a href="../menu/new_products.html">신제품</a></li>
                      <li><a href="../menu/bread.html">빵</a></li>
                      <li><a href="../menu/cake.html">케이크</a></li>
                      <li><a href="../menu/deli.html">델리</a></li>
                      <li><a href="../menu/">선물</a></li>
                      <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                      <li><a href="../menu/drinks.html">음료</a></li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>
                        <a href="../eventpage/eventpage.html"
                          >진행중인 이벤트</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/eventwinner.html"
                          >이벤트 담당자</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                      </li>
                      <li>
                        <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                      <li>
                        <a href="../app/homedelivery/homedelivery_list01.html"
                          >홈페이지 전용 예약 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/flowerdelivery/flowerdelivery.html"
                          >꽃 & 케이크 택배 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">
              <a href="../eventpage/eventpage.html">이벤트 & 멤버십</a>
            </div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>
                        <a href="../story/brand_story.html">브랜드 스토리</a>
                      </li>
                      <li>
                        <a href="../story/material.html"
                          >뚜레쥬르 재료 이야기</a
                        >
                      </li>
                      <li>
                        <a href="../story/global.html">글로벌 뚜레쥬르</a>
                      </li>
                      <li>
                        <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                      </li>
                      <li>
                        <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                      </li>
                      <li>
                        <a href="../story/notice.html">뉴스 & 공지사항</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li><a href="../menu/new_products.html">신제품</a></li>
                      <li><a href="../menu/bread.html">빵</a></li>
                      <li><a href="../menu/cake.html">케이크</a></li>
                      <li><a href="../menu/deli.html">델리</a></li>
                      <li><a href="../menu/">선물</a></li>
                      <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                      <li><a href="../menu/drinks.html">음료</a></li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>
                        <a href="../eventpage/eventpage.html"
                          >진행중인 이벤트</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/eventwinner.html"
                          >이벤트 담당자</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                      </li>
                      <li>
                        <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                      <li>
                        <a href="../app/homedelivery/homedelivery_list01.html"
                          >홈페이지 전용 예약 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/flowerdelivery/flowerdelivery.html"
                          >꽃 & 케이크 택배 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">
              <a href="../app/appmain.html">뚜레쥬르 앱 & 온라인 쇼핑몰</a>
            </div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>
                        <a href="../story/brand_story.html">브랜드 스토리</a>
                      </li>
                      <li>
                        <a href="../story/material.html"
                          >뚜레쥬르 재료 이야기</a
                        >
                      </li>
                      <li>
                        <a href="../story/global.html">글로벌 뚜레쥬르</a>
                      </li>
                      <li>
                        <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                      </li>
                      <li>
                        <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                      </li>
                      <li>
                        <a href="../story/notice.html">뉴스 & 공지사항</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li><a href="../menu/new_products.html">신제품</a></li>
                      <li><a href="../menu/bread.html">빵</a></li>
                      <li><a href="../menu/cake.html">케이크</a></li>
                      <li><a href="../menu/deli.html">델리</a></li>
                      <li><a href="../menu/">선물</a></li>
                      <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                      <li><a href="../menu/drinks.html">음료</a></li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>
                        <a href="../eventpage/eventpage.html"
                          >진행중인 이벤트</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/eventwinner.html"
                          >이벤트 담당자</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                      </li>
                      <li>
                        <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                      <li>
                        <a href="../app/homedelivery/homedelivery_list01.html"
                          >홈페이지 전용 예약 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/flowerdelivery/flowerdelivery.html"
                          >꽃 & 케이크 택배 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </header>
    <main>
        <div>

            <section>
                <div class="app_main_img"></div>
                <div class="app_down_wrap">
                    <div class="app_down">
                        <div class="app_logo">
                            <img src="../../img/app/app.main/logo.png" alt="">
                        </div>

                        <span class="app_title">
                            지금 바로 뚜쥬앱 다운로드 하기
                            <span class="material-symbols-outlined">
                                arrow_forward
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </section>
        <div class="app_cont_wrap">
            <section class="app_cont_02_wrap">
                <div>
                    <h3 class="app_cont_02"></h3>
                </div>
                <div id="app_life" class="app_life"></div>
            </section>

            <section class="app_cont_03_wrap">
                <div class="app_cont_03_title">
                    <h3 class="app_cont_03"></h3>
                </div>
                <div>
                    <ul class="app_service_wrap">
                        <li id="app_service_01" class="app_service_01_03 app_service_01_img">
                            <p class="app_service_num">
                                <span class="app_num_bg">01</span>
                                <span>사전예약</span>
                            </p>

                            <p class="app_service_writing">

                                다가오는 중요한 날을 위한 뚜레쥬르 케이크와
                                <br>
                                선물하기 좋은 롤케이크, 파운드 등을 미리 예약하고 픽업하세요!
                                <br>
                                <span>
                                    <strong>*방문3일 전 오후 5시까지</strong>
                                    예약 가능해요!
                                </span>
                            </p>

                        </li>
                        <li id="app_service_02" class="app_service_02_04 app_service_02_img">
                            <p class="app_service_num">
                                <span class="app_num_bg">01</span>
                                <span>사전예약</span>
                            </p>

                            <p class="app_service_writing">

                                다가오는 중요한 날을 위한 뚜레쥬르 케이크와
                                <br>
                                선물하기 좋은 롤케이크, 파운드 등을 미리 예약하고 픽업하세요!
                                <br>
                                <span>
                                    <strong>*방문3일 전 오후 5시까지</strong>
                                    예약 가능해요!
                                </span>
                            </p>

                        </li>
                        <li id="app_service_03" class="app_service_01_03 app_service_03_img">
                            <p class="app_service_num">
                                <span class="app_num_bg">01</span>
                                <span>사전예약</span>
                            </p>

                            <p class="app_service_writing">

                                다가오는 중요한 날을 위한 뚜레쥬르 케이크와
                                <br>
                                선물하기 좋은 롤케이크, 파운드 등을 미리 예약하고 픽업하세요!
                                <br>
                                <span>
                                    <strong>*방문3일 전 오후 5시까지</strong>
                                    예약 가능해요!
                                </span>
                            </p>

                        </li>
                        <li id="app_service_04" class="app_service_02_04 app_service_04_img">
                            <p class="app_service_num">
                                <span class="app_num_bg">01</span>
                                <span>사전예약</span>
                            </p>

                            <p class="app_service_writing">

                                다가오는 중요한 날을 위한 뚜레쥬르 케이크와
                                <br>
                                선물하기 좋은 롤케이크, 파운드 등을 미리 예약하고 픽업하세요!
                                <br>
                                <span>
                                    <strong>*방문3일 전 오후 5시까지</strong>
                                    예약 가능해요!
                                </span>
                            </p>

                        </li>
                    </ul>
                </div>
            </section>

            <section class="app_cont_04_wrap">
                <div class="app_cont_04_title">
                    <h3 class="app_cont_04"></h3>
                    <p>적립, 쿠폰 제공 등 멤버십 혜택을 누려보세요!</p>
                    <p>등급이 올라갈 수록 더욱 풍성해지는 혜택으로 만나요.</p>
                </div>
                <ul class="app_men_wrap">
                    <li id="app_event_01" class="app_event_01">
                        <div class="app_men_title1">
                            <p>

                                뚜쥬
                                <br>
                                VIP
                                <br>
                            </p>

                            <img src="../../img/app/app.main/app_grade_01.png" alt="">
                        </div>
                        <ul class="app_men_deatil">
                            <li>
                                <span class="app_men_tit">등급조건</span>
                                <span class="app_men_txt">40만원 이상 구매 고객</span>
                            </li>
                            <li>
                                <span class="app_men_tit">혜택 1</span>
                                <span class="app_men_txt">生生생크림식빵 쿠폰 6장 (월 1장 사용 가능)</span>
                            </li>
                            <li>
                                <span class="app_men_tit">혜택 2</span>
                                <span class="app_men_txt">뚜레쥬르 앱 할인 쿠폰 2000원 권 6장 (월 1장 사용 가능)</span>
                            </li>
                            <li>
                                <span class="app_men_tit">혜택 3</span>
                                <span class="app_men_txt">CJ ONE 포인트 0.5% 적립</span>
                            </li>
                        </ul>
                        <span class="app_men_img1">
                            <img src="../../img/app/app.main/app_cont_03_01.png" alt="">
                        </span>
                    </li>
                    <li id="app_event_02" class="app_event_02">
                        <div class="app_men_title2">
                            <p>

                                뚜주
                                <br>
                                마니아
                                <br>
                            </p>

                            <img src="../../img/app/app.main/app_grade_02.png" alt="">
                        </div>
                        <ul class="app_men_deatil2">
                            <li>
                                <span class="app_men_tit2">등급조건</span>
                                <span class="app_men_txt2">15만원 이상 ~ 40만원 미만 구매 고객</span>
                            </li>
                            <li>
                                <span class="app_men_tit2">혜택 1</span>
                                <span class="app_men_txt2">뚜레쥬르 앱 할인 쿠폰 2500원 권 6장(월 1장 사용 가능)</span>
                            </li>
                            <li>
                                <span class="app_men_tit2">혜택 2</span>
                                <span class="app_men_txt2">CJ ONE 포인트 0.5% 적립</span>
                            </li>

                        </ul>
                        <span class="app_men_img2">
                            <img src="../../img/app/app.main/app_cont_03_02.png" alt="">
                        </span>
                    </li>

                    <li id="app_event_03" class="app_event_03">
                        <div class="app_men_title3">
                            <p>

                                뚜주
                                <br>
                                패밀리
                                <br>
                            </p>

                            <img src="../../img/app/app.main/app_grade_03.png" alt="">
                        </div>
                        <ul class="app_men_deatil3">
                            <li>
                                <span class="app_men_tit3">등급조건</span>
                                <span class="app_men_txt3">5만원 이상 ~ 15만원 미만 구매 고객</span>
                            </li>
                            <li>
                                <span class="app_men_tit3">혜택 1</span>
                                <span class="app_men_txt3">아메리카노 쿠폰 (1장)</span>
                            </li>
                            <li>
                                <span class="app_men_tit3">혜택 2</span>
                                <span class="app_men_txt3">CJ ONE 포인트 0.5% 적립</span>
                            </li>

                        </ul>
                        <span class="app_men_img2">
                            <img src="../../img/app/app.main/app_cont_03_03.png" alt="">
                        </span>
                    </li>

                    <li id="app_event_04" class="app_event_04">
                        <div class="app_men_title4">
                            <p>

                                뚜주
                                <br>
                                프렌즈
                                <br>
                            </p>

                            <img src="../../img/app/app.main/app_grade_04.png" alt="">
                        </div>
                        <ul class="app_men_deatil4">
                            <li>
                                <span class="app_men_tit4">등급조건</span>
                                <span class="app_men_txt4">15만원 이상 ~ 40만원 미만 구매 고객</span>
                            </li>
                            <li>
                                <span class="app_men_tit4">혜택 1</span>
                                <span class="app_men_txt4">뚜레쥬르 앱 할인 쿠폰 2500원 권 6장(월 1장 사용 가능)</span>
                            </li>
                            <li>
                                <span class="app_men_tit4">혜택 2</span>
                                <span class="app_men_txt4">CJ ONE 포인트 0.5% 적립</span>
                            </li>

                        </ul>
                        <span class="app_men_img2">
                            <img src="../../img/app/app.main/app_cont_03_04.png" alt="">
                        </span>
                    </li>
                </ul>

            </div>
        </section>
    </div>
    <div class="mainpage_quick--menu">
        <div class="mainpage_quick--menu-cont mainpage_quick-cont--disappear">
            <a href="#" class="main_quick--btn">
                <img src="../../img/icons/top.png" alt="상단으로가기"/>
                <span>TOP</span>
            </a>
            <a href="https://www.instagram.com/touslesjours_kr/" class="main_quick--btn">
                <img src="../../img/icons/sns.png" alt="sns보기"/>
                <span>SNS</span>
            </a>
            <a href="./views/startup/startup.html" class="main_quick--btn">
                <img src="../../img/icons/start-up.png" alt="창업하기"/>
                <span>창업</span>
            </a>
            <a href="./views/partissier/partissier.html" class="main_quick--btn">
                <img src="../../img/icons/recruitment.png" alt="기사채용"/>
                <span>기사<br/>채용</span>
            </a>
        </div>
        <button id="quicktoggle" class="mainpage_btn--disappear">
            <img
                class="mainpage_btn-img--disappear"
                src="../../img/icons/up-arrow_col.png"
                alt="보이기"/>
        </button>
    </div>

</main>

<footer>
    <div class="footer_affiliate">
        <ul>
            <li>
                <a
                    href="https://www.cjfoodville.co.kr/main.asp"
                    target="_blank"
                    title="CJ 푸드빌 새창으로 열기">
                    <img src="../../img/footer/cjfoodvill.jpg" alt="CJ 푸드빌">
                </a>
            </li>
            <li>
                <a href="https://www.ivips.co.kr:7002/" target="_blank" title="빕스 새창으로 열기">
                    <img src="../../img/footer/vips.jpg" alt="Vips">
                </a>
            </li>
            <li>
                <a
                    href="https://www.italiantheplace.co.kr:7022/brand/"
                    target="_blank"
                    title="더플레이스 새창으로 열기">
                    <img src="../../img/footer/theplace.jpg" alt="The place">
                </a>
            </li>
            <li>
                <a
                    href="https://www.cheiljemyunso.co.kr:7014/main.asp"
                    target="_blank"
                    title="제일제면소 새창으로 열기">
                    <img src="../../img/footer/jeil.jpg" alt="제일제면소">
                </a>
            </li>
            <li>
                <a
                    href="https://www.ngrill.co.kr:7025/index.html"
                    target="_blank"
                    title="엔그릴 새창으로 열기">
                    <img src="../../img/footer/ngrill.jpg" alt="엔그릴">
                </a>
            </li>
            <li>
                <a
                    href="https://www.nseoultower.co.kr:8501/index.asp"
                    target="_blank"
                    title="N SEOUL TOWER 새창으로 열기">
                    <img src="../../img/footer/nSeoul.jpg" alt="엔서울타워">
                </a>
            </li>
        </ul>
    </div>

    <div class="footer_bottom">

        <div class="company">
            <ul>
                <li>
                    <a href="http://www.cjfoodville.co.kr/story/foodvilleintro.html">회사소개</a >
                </li>
                <li>
                    <a href="http://127.0.0.1:5500/views/partissier/partissier.html">기사채용안내</a >
                </li>
                <li>
                    <a href="http://127.0.0.1:5500/views/startup/startup.html">창업안내</a >
                </li>
                <li>
                    <a href="http://127.0.0.1:5500/views/footer/sitemap.html">사이트맵</a>
                </li>
            </ul>
        </div>

        <div class="policy">
            <ul>
                <li>
                    <a
                        href="https://www.cjfoodville.co.kr/footer/userpolicy.asp"
                        target="_blank"
                        title="새창 열림">이용약관</a >
                </li>
                <li>
                    <a
                        href="https://www.cjfoodville.co.kr/footer/location.asp"
                        target="_blank"
                        title="새창 열림">위치기반서비스 이용약관</a >
                </li>
                <li class="private">
                    <a
                        href="https://www.cjfoodville.co.kr/footer/privacy.asp"
                        target="_blank"
                        title="새창 열림">개인정보처리방침</a >
                </li>
                <li>
                    <a href="http://127.0.0.1:5500/views/footer/email.html">이메일무단수집거부</a >
                </li>
                <li>
                    <a
                        href="https://www.cjfoodville.co.kr/footer/ethic_center.asp"
                        target="_blank"
                        title="새창 열림">윤리신고센터</a >
                </li>
                <li>
                    <a href="http://127.0.0.1:5500/views/footer/legal.html">법적고지</a>
                </li>
            </ul>
        </div>

        <div class="company_info">
            <p>상호명 : CJ푸드빌(주)</p>

            <address>
                주소 : (우)04555 서울시 중구 마른내로34(초동 106-9번지)KT&amp;G 을지로타워 3, 9-11층 CJ푸드빌㈜s
            </address>

            <p>
                <span>고객센터 : 1577-0700</span>
                <span>통신판매업종신고증 제 2011-서울중구-0771호</span>
                <sapn class="ftc_confirm">
                    <a
                        href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=3128142519"
                        target="_blank"
                        title="새창열림">
                        <img src="../../img/footer/footer_info_information.png" alt="사업자정보확인"/>
                    </a>
                </sapn>
                <span class="hosting">호스팅제공자 : CJ올리브네트웍스(주)</span>
            </p>

            <p class="business_info">
                <span>사업자등록번호 : 312-81-42519</span>
                <span>대표이사 : 김찬호</span>
                <span>개인정보보호책임자 : 오창호</span>
                <span class="email">
                    <a href="mailto:help_master@cj.net">대표 이메일 : help_master@cj.net</a >
                </span>
            </p>

            <p class="copyright">
                COPYRIGHT 2023©CJ Foodville ALL RIGHT RESERVED.
            </p>
        </div>

        <div class="footer_logo">
            <img src="../../img/logos/logo_grey.png"/>
        </div>
    </div>
</footer>
</body>
<script src="../../js/mainpage/mainquicknav.js"></script>
<script defer="defer" src="./js/main.js"></script>
<script src="../../js/app/appmain.js"></script>
</html>