
/* 지도 api css */
.map_wrap,
.map_wrap * {
    margin: 0;
    padding: 0;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    font-size: 12px;

}

.map_wrap a,
.map_wrap a:active,
.map_wrap a:hover {
    color: #000;
    text-decoration: none;
}

.map_wrap {
    position: relative;
    width: 100%;
    height: 700px;
}

#menu_wrap {
    position: absolute;
    top: 155px;
    left: 30px;
    bottom: 0;
    width: 300px;
    height: 60px;
    margin: 10px 0 20px 10px;
    padding: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
}

.bg_white {
    background: #fff;

}

#menu_wrap hr {

    border-top: 2px solid #5F5F5F;
    margin: 0;
}

#menu_wrap .option {
    text-align: center;
}

#menu_wrap .option p {
    margin: 10px 0;
}

#menu_wrap .option button {
    margin-left: 5px;
}
#placesList {
    position: relative;
    z-index: 111;
}
#placesList li {
    list-style: none;
}

#placesList .item {
    position: relative;
    border-bottom: 1px solid #888;
    overflow: hidden;
    cursor: pointer;
    min-height: 65px;
}

#placesList .item span {
    display: block;
    margin-top: 4px;
}

#placesList .item .info_map,
#placesList .item h5 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#placesList .item .info_map {
    padding: 5px 0 5px 50px;
}

#placesList .info_map .gray {
    color: #8a8a8a;
}

#placesList .info_map .jibun {
    padding-left: 26px;
}

#placesList .info_map.tel {
    color: #009900;
}

#placesList .item .markerbg {
    float: left;
    position: absolute;
    width: 36px;
    height: 50px;
    margin: 10px 0 0 5px;
    background: url("../../img/shop/ser_06.png") no-repeat;
}
#placesList .info_map .jibun {
    padding-left: 26px;
    background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png") no-repeat;
}

#pagination {
    margin: 10px auto;
    text-align: center;
}

#pagination a {
    display: inline-block;
    margin-right: 10px;
}

#pagination .on {
    font-weight: bold;
    cursor: default;
    color: #777;
}

/* 매장찾기 및 길찾기 버튼 */

.find_title {
    display: flex;
    align-items: center;
}

.find_title p {
    width: 100%;
}
.find_title p > a {
    display: block;
    width: 237px;
    height: 57px;
    padding: 10px;
}

/*  */
.find_store {
    background: url("../../img/shop/ser_01_on.png") no-repeat;
    background-position: center;
    background-color: var(--main-color);
}

/* 옵션선택 버튼 */
.arrow_show {
    background: url("../../img/shop/ser_04_on.png");
    height: 44px;
    width: 44px;
    margin-right: 15px;
}
.arrow_hide {
    background: url("../../img/shop/ser_04_off.png");
    display: block;
    height: 44px;
    overflow: hidden;
    width: 44px;
    margin-right: 15px;
}

/* 검색목록 컨테이너 */
.placesList_wrap {
    position: absolute;
    top: 213px;
    left: 30px;
    height: 500px;
    margin: 10px 0 30px 10px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.7);
    z-index: 3;
    font-size: 12px;
}

/* 검색 ( 퀵 검색 )  */

.search_wrap {
    width: 285px;
}
.search_title {
    display: flex;
    text-align: center;
    margin-bottom: 6px;

}
.search_title a {
    text-decoration: none;
    color: black;
    height: 35px;
    width: 150px;

}
.search_title h3 {
    font-size: 12px;
    line-height: 40px;
    border-bottom: 1px solid #444;
}
.search_title_click {
    background-color: var(--main-color);
    color: #fff;
}

/* 퀵 검색 */
.quick_search {
    position: relative;
    height: 60px;
    width: 100%;
    background-color: var(--main-color);
}
.quick {
    display: block;
    border: none;
    height: 40px;
    padding: 0;
    width: 95%;
    margin: auto;
    position: relative;
    top: 10px;
}
.quick_btn {
    background: url("../../img/shop/ser_07.png");
    height: 23px;
    position: absolute;
    right: 15px;
    top: 20px;
    text-indent: -20000px;
    width: 19px;
}

/* 지역 검색창 */
/* 스텝 1 시/도 선택창 */
.step_wrap1 {
    display: none;
    position: relative;
    top: -60px;
    height: 60px;
    width: 100%;
    z-index: 3;
    background-color: var(--main-color);
}

.step_title {
    background: var(--main-color);
    color: #fff;
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    text-indent: 20px;
}
.step_wrap1 li {
    border-bottom: 1px solid #ddd;
    float: left;
    height: 40px;
    line-height: 40px;
    width: 140px;
    font-size: 14px;
}
.step1_btn:hover {
    cursor: pointer;
}
.search_title a:hover {
    text-decoration: underline;
}
/* 스텝 2 구/군 선택창 */
.region_list {
    display: none;
    position: relative;
    top: -60px;
    height: 60px;
    width: 100%;
    z-index: 3;
    background-color: var(--main-color);
}
.region_list .back_btn {
    color: #444;
    font-size: 14px;
    height: 54px;
    line-height: 54px;
    position: relative;
    text-indent: 40px;
    width: 100%;
    background: url("../../img/shop/ser_08.png") no-repeat #f4f4f2;
    background-position-y: 18px;
    background-position-x: 18px;
}
.region_list li {
    border-bottom: 1px solid #ddd;
    float: left;
    height: 40px;
    line-height: 40px;
    width: 140px;
    font-size: 14px;
}

/* 인포윈도우 */
.inpo_wrap {
    position: relative;
    width: 481px;
    height: 197px;
    background: no-repeat;
    background-image: url("../../img/shop/ser_09.jpeg");
}
.inpo_wrap button:hover {
    cursor: pointer;
}

.inpo_map {
    font-size: 16px;
    color: #fff;
    padding: 15px 20px;
}

.inpo_btn {
    position: absolute;
    color: #fff !important;
    right: 20px;
    border: 1px solid #fff;
    padding: 10px;
    font-size: 20px;
    bottom: 25px;
}

/* 이밴트 */
.event_wrap {
    height: 360px;
    margin: 50px auto 100px;
    position: relative;
    width: 1100px;
}
.event_wrap h2 {
    font-size: 25px;
    font-family: "JUA", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-bottom: 30px;
}
.event_slide_wrap {
    position: relative;
    width: 1100px;
    left: 20px;

    overflow: hidden;
    margin: 0 auto 30px;
}
.event_slide {
    margin: 0 auto;
    position: relative;
    display: flex;
    gap: 80px;
}
.event_slide img {
    width: 260px;
    height: 220px;
    border-radius: 10px;
    margin: 0 20px 30px;
}
.event_slide p {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}
.event_slide span {
    color: rgb(107,107 , 107);
}
/* 이밴트 화살표 */
.event_arrow_lt {
    position: absolute;
    left: -20px;
    top: 150px;
}
.event_arrow_rt {
    position: absolute;
    top: 150px;
    right: -20px;
}
.nn {
    margin: 150px;
}
/* 슬라이드 버튼 */
.event_btn {
    text-align: center;
    padding-bottom: 50px;
}
.event_page {
    background: url("../../../img/shop/ser_e12.png") no-repeat -13px 0;
    width: 13px;
    height: 12px;
    overflow: hidden;
    display: inline-block;
    text-indent: -9999px;
}
.event_page_play {
    background: url("../../../img/shop/ser_e12.png") no-repeat 0 0;
    width: 13px;
    height: 12px;
    overflow: hidden;
    display: inline-block;
    text-indent: -9999px;
}
.play {
    background: url("../../../img/shop/ser_e11.png") no-repeat 6px 0;
    width: 15px;
    height: 13px;
    overflow: hidden;
    display: inline-block;
    text-indent: -9999px;
}
.stop {
    background: url("../../../img/shop/ser_e11.png") no-repeat -7px 0;
    width: 15px;
    height: 13px;
    overflow: hidden;
    display: inline-block;
    text-indent: -9999px;
}
.dsnone {
    display: none;
}
