<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 헤더관련 -->
    <link rel="icon" href="../../favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700&family=Nanum+Pen+Script&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <script defer src="./js/main.js"></script>


    <title>법적고지 | Tous les Jours</title>

    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" href="../../styles/screens/footer/email_legal.css">
</head>
<body>

    <header>
      <div class="skip_menu">
        <ul>
          <li><a href="#해당페이지 바디로 이동">본문내용으로 바로가기</a></li>
          <li><a href="#gnb로 이동">주메뉴 바로가기</a></li>
        </ul>
      </div>

      <div class="inner">
        <a href="/" class="logo">
          <img
            src="../../img/logos/logo_2.png"
            alt="touslesjours"
            width="300"
          />
        </a>

        <div class="sub-menu">
          <ul class="menu">
            <li>
              <a
                href="https://www.cjone.com/cjmweb/join.do?coopco_cd=7020&brnd_cd=2010&mcht_no=2010&coop_return_url="
                >Sign in</a
              >
            </li>
            <li>
              <a href="../../views/map/map.html">매장 찾기</a>
            </li>
            <li>
              <a href="../../views/startup/startup.html">창업 준비하기</a>
            </li>
            <li>
              <a href="../customerpage/customerpage.html">고객센터</a>
            </li>
            <li>
              <a href="../partissier/partissier.html">기사 채용안내</a>
            </li>
            <li>
              <a href="../main/login.html">log in</a>
            </li>
          </ul>
          <div class="search">
            <input id="search_box"type="text" />
    
          </div>
        </div>  
        

        <ul class="main-menu">
          <li class="item">
            <div class="item__name">
              <a href="../story/brand_story.html">브랜드 스토리</a>
            </div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>
                        <a href="../story/brand_story.html">브랜드 스토리</a>
                      </li>
                      <li>
                        <a href="../story/material.html"
                          >뚜레쥬르 재료 이야기</a
                        >
                      </li>
                      <li>
                        <a href="../story/global.html">글로벌 뚜레쥬르</a>
                      </li>
                      <li>
                        <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                      </li>
                      <li>
                        <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                      </li>
                      <li>
                        <a href="../story/notice.html">뉴스 & 공지사항</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li><a href="../menu/new_products.html">신제품</a></li>
                      <li><a href="../menu/bread.html">빵</a></li>
                      <li><a href="../menu/cake.html">케이크</a></li>
                      <li><a href="../menu/deli.html">델리</a></li>
                      <li><a href="../menu/">선물</a></li>
                      <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                      <li><a href="../menu/drinks.html">음료</a></li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>
                        <a href="../eventpage/eventpage.html"
                          >진행중인 이벤트</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/eventwinner.html"
                          >이벤트 담당자</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                      </li>
                      <li>
                        <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                      <li>
                        <a href="../app/homedelivery/homedelivery_list01.html"
                          >홈페이지 전용 예약 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/flowerdelivery/flowerdelivery.html"
                          >꽃 & 케이크 택배 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">
              <a href="../menu/new_products.html">제품 안내</a>
            </div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>
                        <a href="../story/brand_story.html">브랜드 스토리</a>
                      </li>
                      <li>
                        <a href="../story/material.html"
                          >뚜레쥬르 재료 이야기</a
                        >
                      </li>
                      <li>
                        <a href="../story/global.html">글로벌 뚜레쥬르</a>
                      </li>
                      <li>
                        <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                      </li>
                      <li>
                        <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                      </li>
                      <li>
                        <a href="../story/notice.html">뉴스 & 공지사항</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li><a href="../menu/new_products.html">신제품</a></li>
                      <li><a href="../menu/bread.html">빵</a></li>
                      <li><a href="../menu/cake.html">케이크</a></li>
                      <li><a href="../menu/deli.html">델리</a></li>
                      <li><a href="../menu/">선물</a></li>
                      <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                      <li><a href="../menu/drinks.html">음료</a></li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>
                        <a href="../eventpage/eventpage.html"
                          >진행중인 이벤트</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/eventwinner.html"
                          >이벤트 담당자</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                      </li>
                      <li>
                        <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                      <li>
                        <a href="../app/homedelivery/homedelivery_list01.html"
                          >홈페이지 전용 예약 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/flowerdelivery/flowerdelivery.html"
                          >꽃 & 케이크 택배 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">
              <a href="../eventpage/eventpage.html">이벤트 & 멤버십</a>
            </div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>
                        <a href="../story/brand_story.html">브랜드 스토리</a>
                      </li>
                      <li>
                        <a href="../story/material.html"
                          >뚜레쥬르 재료 이야기</a
                        >
                      </li>
                      <li>
                        <a href="../story/global.html">글로벌 뚜레쥬르</a>
                      </li>
                      <li>
                        <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                      </li>
                      <li>
                        <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                      </li>
                      <li>
                        <a href="../story/notice.html">뉴스 & 공지사항</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li><a href="../menu/new_products.html">신제품</a></li>
                      <li><a href="../menu/bread.html">빵</a></li>
                      <li><a href="../menu/cake.html">케이크</a></li>
                      <li><a href="../menu/deli.html">델리</a></li>
                      <li><a href="../menu/">선물</a></li>
                      <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                      <li><a href="../menu/drinks.html">음료</a></li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>
                        <a href="../eventpage/eventpage.html"
                          >진행중인 이벤트</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/eventwinner.html"
                          >이벤트 담당자</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                      </li>
                      <li>
                        <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                      <li>
                        <a href="../app/homedelivery/homedelivery_list01.html"
                          >홈페이지 전용 예약 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/flowerdelivery/flowerdelivery.html"
                          >꽃 & 케이크 택배 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">
              <a href="../app/appmain.html">뚜레쥬르 앱 & 온라인 쇼핑몰</a>
            </div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>
                        <a href="../story/brand_story.html">브랜드 스토리</a>
                      </li>
                      <li>
                        <a href="../story/material.html"
                          >뚜레쥬르 재료 이야기</a
                        >
                      </li>
                      <li>
                        <a href="../story/global.html">글로벌 뚜레쥬르</a>
                      </li>
                      <li>
                        <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                      </li>
                      <li>
                        <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                      </li>
                      <li>
                        <a href="../story/notice.html">뉴스 & 공지사항</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li><a href="../menu/new_products.html">신제품</a></li>
                      <li><a href="../menu/bread.html">빵</a></li>
                      <li><a href="../menu/cake.html">케이크</a></li>
                      <li><a href="../menu/deli.html">델리</a></li>
                      <li><a href="../menu/">선물</a></li>
                      <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                      <li><a href="../menu/drinks.html">음료</a></li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>
                        <a href="../eventpage/eventpage.html"
                          >진행중인 이벤트</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/eventwinner.html"
                          >이벤트 담당자</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                      </li>
                      <li>
                        <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                      <li>
                        <a href="../app/homedelivery/homedelivery_list01.html"
                          >홈페이지 전용 예약 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/flowerdelivery/flowerdelivery.html"
                          >꽃 & 케이크 택배 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </header>

    <main>

      <div class="top_content_wrap">
        
        <h2>법적고지</h2>

        <div class="page_location">
          <ul>
            <li>
              <a href="http://127.0.0.1:5500/index.html"><span>HOME</span></a>
            </li>
            <li>&gt;</li>
            <li>
              <a href="http://127.0.0.1:5500/views/footer/legal.html">
                <span>법적고지</span>
              </a>
            </li>
          </ul>
        </div>


      </div>

        <div class="content_box">
            <p>고객여러분의 CJ푸드빌사이트 방문에 감사드립니다.</p>
            <p>이 사이트를 통해 관련된 다양한 정보를 제공할 수 있게 됨을 매우 기쁘게 생각하며 이사이트 및 기타 관련 사이트들에 대해 방문자 여러분께 몇 가지 법적 제한과 금지사항을 알려드리고자 합니다.</p>
            <p>고객님께서는 정보를 개인적인 용도로 사용하시거나 고객의 컴퓨터에 저장 하실 수 있습니다. 고객님의 개인적인 홈페이지나 문서로부터 본 서버로의 링크 등은 가능합니다.그러나 본사이트는 CJ푸드빌㈜의 독점적 소유의 정보자산 입니다. CJ푸드빌(주)은 이 사이트를 개발하기 위하여 자금, 시간 및 노력을 투입하였습니다. 이러한 자산들은 저작권, 상표권, 기술에 대한 정보에만 국한 되지 않습니다. CJ푸드빌(주)에 소유권이 있는 정보자산들은 문자, 그림, 음성, 화성, 내려 받기 파일, 링크 및 소스코드들(이하 서비스와 자료들)의 형태로 제공됩니다. CJ푸드빌(주)은 이러한 서비스와 자료들에 대한 모든 권리를 소유합니다. 이러한 서비스와 자료들은 오직 CJ푸드빌(주)의 고객들과 고객들의 편의를 위해서 제공되었습니다. CJ푸드빌(주)은 본사이트에서 고객들에게 제공되는 서비스와 자료들에 대하여 고객들에게 지적인 재산권을 부여한 것은 아닙니다.</p>
            <p>CJ푸드빌(주)은 이 사이트 및 다른 관련사이트들의 서비스와 자료들 및 기타 정보들에 대한 정확도, 완성도, 신뢰도에 대하여 보장하지 않습니다. 따라서 CJ푸드빌(주)은 문서로 특별히 조언을 드리는 경우를 제외하고는 이 사이트에 포함된 정보를 이익에 관련된 결정상의 참고자료로 의존하지 마시기 바랍니다.</p>
            <p>그리고 CJ푸드빌(주)은 서버나 자료들에 대한 판매목적상의 무제한 보증이나 특별한 목적하의 맞춰진 적합성을 포함하여 표현되거나 함축된 어떤 또는 모든 보증을 부인합니다. 서비스와 자료들에 관련된 어떤 종류의 직접적, 간접적, 우발적, 징벌적 또는 필연적인 피해에 관련된 경우에 대하여 CJ푸드빌(주)에서는 책임을 지지 않습니다.</p>
        </div>

          
    </main>

    <footer>
      <div class="footer_affiliate">
        <ul>
          <li>
            <a href="https://www.cjfoodville.co.kr/main.asp" target="_blank" title="CJ 푸드빌 새창으로 열기">
              <img src="../../img/footer/cjfoodvill.jpg" alt="CJ 푸드빌">
            </a>
          </li>
          <li>
            <a href="https://www.ivips.co.kr:7002/" target="_blank" title="빕스 새창으로 열기">
              <img src="../../img/footer/vips.jpg" alt="Vips">
            </a>
          </li>
          <li>
            <a href="https://www.italiantheplace.co.kr:7022/brand/" target="_blank" title="더플레이스 새창으로 열기">
              <img src="../../img/footer/theplace.jpg" alt="The place">
            </a>
          </li>
          <li>
            <a href="https://www.cheiljemyunso.co.kr:7014/main.asp" target="_blank" title="제일제면소 새창으로 열기">
              <img src="../../img/footer/jeil.jpg" alt="제일제면소">
            </a>
          </li>
          <li>
            <a href="https://www.ngrill.co.kr:7025/index.html" target="_blank" title="엔그릴 새창으로 열기">
              <img src="../../img/footer/ngrill.jpg" alt="엔그릴">
            </a>
          </li>
          <li>
            <a href="https://www.nseoultower.co.kr:8501/index.asp" target="_blank" title="N SEOUL TOWER 새창으로 열기">
              <img src="../../img/footer/nSeoul.jpg" alt="엔서울타워">
            </a>
          </li>
        </ul>
      </div>

      <div class="footer_bottom">

        <div class="company">
          <ul>
            <li>
              <a href="http://www.cjfoodville.co.kr/story/foodvilleintro.html"
                >회사소개</a
              >
            </li>
            <li>
              <a href="http://127.0.0.1:5500/views/partissier/partissier.html"
                >기사채용안내</a
              >
            </li>
            <li>
              <a href="http://127.0.0.1:5500/views/startup/startup.html"
                >창업안내</a
              >
            </li>
            <li>
              <a href="http://127.0.0.1:5500/views/footer/sitemap.html">사이트맵</a>
            </li>
          </ul>
        </div>

        <div class="policy">
          <ul>
            <li>
              <a href="https://www.cjfoodville.co.kr/footer/userpolicy.asp" target="_blank" title="새창 열림">이용약관</a
              >
            </li>
            <li>
              <a href="https://www.cjfoodville.co.kr/footer/location.asp" target="_blank" title="새창 열림">위치기반서비스 이용약관</a
              >
            </li>
            <li class="private">
              <a href="https://www.cjfoodville.co.kr/footer/privacy.asp" target="_blank" title="새창 열림">개인정보처리방침</a
              >
            </li>
            <li>
              <a href="http://127.0.0.1:5500/views/footer/email.html"
                >이메일무단수집거부</a
              >
            </li>
            <li>
              <a href="https://www.cjfoodville.co.kr/footer/ethic_center.asp" target="_blank" title="새창 열림">윤리신고센터</a
              >
            </li>
            <li>
              <a href="http://127.0.0.1:5500/views/footer/legal.html">법적고지</a>
            </li>
          </ul>
        </div>

        <div class="company_info">
          <p>상호명 : CJ푸드빌(주)</p>

          <address>
              주소 : (우)04555 서울시 중구 마른내로34(초동 106-9번지)KT&amp;G
              을지로타워 3, 9-11층 CJ푸드빌㈜s
          </address>

          <p>
            <span>고객센터 : 1577-0700</span>
            <span>통신판매업종신고증 제 2011-서울중구-0771호</span>
            <sapn class="ftc_confirm">
              <a
                href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=3128142519"
                target="_blank"
                title="새창열림"
              >
                <img
                  src="../../img/footer/footer_info_information.png"
                  alt="사업자정보확인"
                />
              </a>
            </sapn>
            <span class="hosting">호스팅제공자 : CJ올리브네트웍스(주)</span>
          </p>

          <p class="business_info">
            <span>사업자등록번호 : 312-81-42519</span>
            <span>대표이사 : 김찬호</span>
            <span>개인정보보호책임자 : 오창호</span>
            <span class="email">
              <a href="mailto:help_master@cj.net"
                >대표 이메일 : help_master@cj.net</a
              >
            </span>
          </p>

          <p class="copyright">
            COPYRIGHT 2023©CJ Foodville ALL RIGHT RESERVED.
          </p>
        </div>

        <div class="footer_logo">
          <img src="../../img/logos/logo_grey.png" />
        </div>
      </div>
    </footer>
    
</body>
</html>