<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Starbucks Coffee Korea</title>

    <link rel="icon" href="../../favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700&family=Nanum+Pen+Script&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <script defer src="./js/main.js"></script>

    <link rel="stylesheet" href="../../styles/style.css" />
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="inner">
        <a href="/" class="logo">
          <img
            src="../../img/logos/logo_2.png"
            alt="touslesjours"
            width="300"
          />
        </a>

        <div class="sub-menu">
          <ul class="menu">
            <li>
              <a
                href="https://www.cjone.com/cjmweb/join.do?coopco_cd=7020&brnd_cd=2010&mcht_no=2010&coop_return_url="
                >Sign in</a
              >
            </li>
            <li>
              <a href="../../views/map/map.html">매장 찾기</a>
            </li>
            <li>
              <a href="../../views/startup/startup.html">창업 준비하기</a>
            </li>
            <li>
              <a href="../customerpage/customerpage.html">고객센터</a>
            </li>
            <li>
              <a href="../partissier/partissier.html">기사 채용안내</a>
            </li>
            <li>
              <a href="../main/login.html">log in</a>
            </li>
          </ul>
          <div class="search">
            <input id="search_box"type="text" />
    
          </div>
        </div>  
        

        <ul class="main-menu">
          <li class="item">
            <div class="item__name">
              <a href="../story/brand_story.html">브랜드 스토리</a>
            </div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>
                        <a href="../story/brand_story.html">브랜드 스토리</a>
                      </li>
                      <li>
                        <a href="../story/material.html"
                          >뚜레쥬르 재료 이야기</a
                        >
                      </li>
                      <li>
                        <a href="../story/global.html">글로벌 뚜레쥬르</a>
                      </li>
                      <li>
                        <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                      </li>
                      <li>
                        <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                      </li>
                      <li>
                        <a href="../story/notice.html">뉴스 & 공지사항</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li><a href="../menu/new_products.html">신제품</a></li>
                      <li><a href="../menu/bread.html">빵</a></li>
                      <li><a href="../menu/cake.html">케이크</a></li>
                      <li><a href="../menu/deli.html">델리</a></li>
                      <li><a href="../menu/">선물</a></li>
                      <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                      <li><a href="../menu/drinks.html">음료</a></li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>
                        <a href="../eventpage/eventpage.html"
                          >진행중인 이벤트</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/eventwinner.html"
                          >이벤트 담당자</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                      </li>
                      <li>
                        <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                      <li>
                        <a href="../app/homedelivery/homedelivery_list01.html"
                          >홈페이지 전용 예약 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/flowerdelivery/flowerdelivery.html"
                          >꽃 & 케이크 택배 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">
              <a href="../menu/new_products.html">제품 안내</a>
            </div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>
                        <a href="../story/brand_story.html">브랜드 스토리</a>
                      </li>
                      <li>
                        <a href="../story/material.html"
                          >뚜레쥬르 재료 이야기</a
                        >
                      </li>
                      <li>
                        <a href="../story/global.html">글로벌 뚜레쥬르</a>
                      </li>
                      <li>
                        <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                      </li>
                      <li>
                        <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                      </li>
                      <li>
                        <a href="../story/notice.html">뉴스 & 공지사항</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li><a href="../menu/new_products.html">신제품</a></li>
                      <li><a href="../menu/bread.html">빵</a></li>
                      <li><a href="../menu/cake.html">케이크</a></li>
                      <li><a href="../menu/deli.html">델리</a></li>
                      <li><a href="../menu/">선물</a></li>
                      <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                      <li><a href="../menu/drinks.html">음료</a></li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>
                        <a href="../eventpage/eventpage.html"
                          >진행중인 이벤트</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/eventwinner.html"
                          >이벤트 담당자</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                      </li>
                      <li>
                        <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                      <li>
                        <a href="../app/homedelivery/homedelivery_list01.html"
                          >홈페이지 전용 예약 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/flowerdelivery/flowerdelivery.html"
                          >꽃 & 케이크 택배 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">
              <a href="../eventpage/eventpage.html">이벤트 & 멤버십</a>
            </div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>
                        <a href="../story/brand_story.html">브랜드 스토리</a>
                      </li>
                      <li>
                        <a href="../story/material.html"
                          >뚜레쥬르 재료 이야기</a
                        >
                      </li>
                      <li>
                        <a href="../story/global.html">글로벌 뚜레쥬르</a>
                      </li>
                      <li>
                        <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                      </li>
                      <li>
                        <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                      </li>
                      <li>
                        <a href="../story/notice.html">뉴스 & 공지사항</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li><a href="../menu/new_products.html">신제품</a></li>
                      <li><a href="../menu/bread.html">빵</a></li>
                      <li><a href="../menu/cake.html">케이크</a></li>
                      <li><a href="../menu/deli.html">델리</a></li>
                      <li><a href="../menu/">선물</a></li>
                      <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                      <li><a href="../menu/drinks.html">음료</a></li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>
                        <a href="../eventpage/eventpage.html"
                          >진행중인 이벤트</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/eventwinner.html"
                          >이벤트 담당자</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                      </li>
                      <li>
                        <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                      <li>
                        <a href="../app/homedelivery/homedelivery_list01.html"
                          >홈페이지 전용 예약 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/flowerdelivery/flowerdelivery.html"
                          >꽃 & 케이크 택배 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">
              <a href="../app/appmain.html">뚜레쥬르 앱 & 온라인 쇼핑몰</a>
            </div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>브랜드 스토리</h4>
                    <ul>
                      <li>
                        <a href="../story/brand_story.html">브랜드 스토리</a>
                      </li>
                      <li>
                        <a href="../story/material.html"
                          >뚜레쥬르 재료 이야기</a
                        >
                      </li>
                      <li>
                        <a href="../story/global.html">글로벌 뚜레쥬르</a>
                      </li>
                      <li>
                        <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                      </li>
                      <li>
                        <a href="../story/awesomebread.html">뚜레쥬르 착한빵</a>
                      </li>
                      <li>
                        <a href="../story/notice.html">뉴스 & 공지사항</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>제품 안내</h4>
                    <ul>
                      <li><a href="../menu/new_products.html">신제품</a></li>
                      <li><a href="../menu/bread.html">빵</a></li>
                      <li><a href="../menu/cake.html">케이크</a></li>
                      <li><a href="../menu/deli.html">델리</a></li>
                      <li><a href="../menu/">선물</a></li>
                      <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                      <li><a href="../menu/drinks.html">음료</a></li>
                    </ul>
                  </li>
                  <li>
                    <h4>이벤트&멤버십</h4>
                    <ul>
                      <li>
                        <a href="../eventpage/eventpage.html"
                          >진행중인 이벤트</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/eventwinner.html"
                          >이벤트 담당자</a
                        >
                      </li>
                      <li>
                        <a href="../eventpage/membership.html">CJ ONE 멤버십</a>
                      </li>
                      <li>
                        <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                    <ul>
                      <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                      <li>
                        <a href="../app/homedelivery/homedelivery_list01.html"
                          >홈페이지 전용 예약 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/flowerdelivery/flowerdelivery.html"
                          >꽃 & 케이크 택배 배송</a
                        >
                      </li>
                      <li>
                        <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </header>
  </body>
</html>
