<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700&family=Nanum+Pen+Script&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <script defer src="../../js/main.js"></script>
    <link rel="stylesheet" href="../../styles/style.css" />
    <title>제휴 할인 및 혜택 | Tous les Jours</title>
  </head>
  <body>
    <div class="wrap">
      <div class="skip_menu hidden">
        <ul>
          <li><a href="#해당페이지 바디로 이동">본문내용으로 바로가기</a></li>
          <li><a href="#gnb로 이동">주메뉴 바로가기</a></li>
        </ul>
      </div>
      <header>
        <div class="inner">
          <a href="../../index.html" class="logo">
            <img
              src="../../img/logos/logo_2.png"
              alt="touslesjours"
              width="300"
            />
          </a>

          <div class="sub-menu">
            <ul class="menu">
              <li>
                <a
                  href="https://www.cjone.com/cjmweb/join.do?coopco_cd=7020&brnd_cd=2010&mcht_no=2010&coop_return_url="
                  >Sign in</a
                >
              </li>
              <li>
                <a href="../../views/map/map.html">매장 찾기</a>
              </li>
              <li>
                <a href="../../views/startup/startup.html">창업 준비하기</a>
              </li>
              <li>
                <a href="../customerpage/customerpage.html">고객센터</a>
              </li>
              <li>
                <a href="../partissier/partissier.html">기사 채용안내</a>
              </li>
              <li>
                <a href="../main/login.html">log in</a>
              </li>
            </ul>
            <div class="search">
              <input id="search_box" type="text" />
            </div>
          </div>

          <ul class="main-menu">
            <li class="item">
              <div class="item__name">
                <a href="../story/brand_story.html">브랜드 스토리</a>
              </div>
              <div class="item__contents">
                <div class="contents__menu">
                  <ul class="inner">
                    <li>
                      <h4>브랜드 스토리</h4>
                      <ul>
                        <li>
                          <a href="../story/brand_story.html">브랜드 스토리</a>
                        </li>
                        <li>
                          <a href="../story/material.html"
                            >뚜레쥬르 재료 이야기</a
                          >
                        </li>
                        <li>
                          <a href="../story/global.html">글로벌 뚜레쥬르</a>
                        </li>
                        <li>
                          <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                        </li>
                        <li>
                          <a href="../story/awesomebread.html"
                            >뚜레쥬르 착한빵</a
                          >
                        </li>
                        <li>
                          <a href="../story/notice.html">뉴스 & 공지사항</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>제품 안내</h4>
                      <ul>
                        <li><a href="../menu/new_products.html">신제품</a></li>
                        <li><a href="../menu/bread.html">빵</a></li>
                        <li><a href="../menu/cake.html">케이크</a></li>
                        <li><a href="../menu/deli.html">델리</a></li>
                        <li><a href="../menu/">선물</a></li>
                        <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                        <li><a href="../menu/drinks.html">음료</a></li>
                      </ul>
                    </li>
                    <li>
                      <h4>이벤트&멤버십</h4>
                      <ul>
                        <li>
                          <a href="../eventpage/eventpage.html"
                            >진행중인 이벤트</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/eventwinner.html"
                            >이벤트 담당자</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/membership.html"
                            >CJ ONE 멤버십</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                      <ul>
                        <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                        <li>
                          <a href="../app/homedelivery/homedelivery_list01.html"
                            >홈페이지 전용 예약 배송</a
                          >
                        </li>
                        <li>
                          <a href="../app/flowerdelivery/flowerdelivery.html"
                            >꽃 & 케이크 택배 배송</a
                          >
                        </li>
                        <li>
                          <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="item">
              <div class="item__name">
                <a href="../menu/new_products.html">제품 안내</a>
              </div>
              <div class="item__contents">
                <div class="contents__menu">
                  <ul class="inner">
                    <li>
                      <h4>브랜드 스토리</h4>
                      <ul>
                        <li>
                          <a href="../story/brand_story.html">브랜드 스토리</a>
                        </li>
                        <li>
                          <a href="../story/material.html"
                            >뚜레쥬르 재료 이야기</a
                          >
                        </li>
                        <li>
                          <a href="../story/global.html">글로벌 뚜레쥬르</a>
                        </li>
                        <li>
                          <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                        </li>
                        <li>
                          <a href="../story/awesomebread.html"
                            >뚜레쥬르 착한빵</a
                          >
                        </li>
                        <li>
                          <a href="../story/notice.html">뉴스 & 공지사항</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>제품 안내</h4>
                      <ul>
                        <li><a href="../menu/new_products.html">신제품</a></li>
                        <li><a href="../menu/bread.html">빵</a></li>
                        <li><a href="../menu/cake.html">케이크</a></li>
                        <li><a href="../menu/deli.html">델리</a></li>
                        <li><a href="../menu/">선물</a></li>
                        <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                        <li><a href="../menu/drinks.html">음료</a></li>
                      </ul>
                    </li>
                    <li>
                      <h4>이벤트&멤버십</h4>
                      <ul>
                        <li>
                          <a href="../eventpage/eventpage.html"
                            >진행중인 이벤트</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/eventwinner.html"
                            >이벤트 담당자</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/membership.html"
                            >CJ ONE 멤버십</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                      <ul>
                        <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                        <li>
                          <a href="../app/homedelivery/homedelivery_list01.html"
                            >홈페이지 전용 예약 배송</a
                          >
                        </li>
                        <li>
                          <a href="../app/flowerdelivery/flowerdelivery.html"
                            >꽃 & 케이크 택배 배송</a
                          >
                        </li>
                        <li>
                          <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="item">
              <div class="item__name">
                <a href="../eventpage/eventpage.html">이벤트 & 멤버십</a>
              </div>
              <div class="item__contents">
                <div class="contents__menu">
                  <ul class="inner">
                    <li>
                      <h4>브랜드 스토리</h4>
                      <ul>
                        <li>
                          <a href="../story/brand_story.html">브랜드 스토리</a>
                        </li>
                        <li>
                          <a href="../story/material.html"
                            >뚜레쥬르 재료 이야기</a
                          >
                        </li>
                        <li>
                          <a href="../story/global.html">글로벌 뚜레쥬르</a>
                        </li>
                        <li>
                          <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                        </li>
                        <li>
                          <a href="../story/awesomebread.html"
                            >뚜레쥬르 착한빵</a
                          >
                        </li>
                        <li>
                          <a href="../story/notice.html">뉴스 & 공지사항</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>제품 안내</h4>
                      <ul>
                        <li><a href="../menu/new_products.html">신제품</a></li>
                        <li><a href="../menu/bread.html">빵</a></li>
                        <li><a href="../menu/cake.html">케이크</a></li>
                        <li><a href="../menu/deli.html">델리</a></li>
                        <li><a href="../menu/">선물</a></li>
                        <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                        <li><a href="../menu/drinks.html">음료</a></li>
                      </ul>
                    </li>
                    <li>
                      <h4>이벤트&멤버십</h4>
                      <ul>
                        <li>
                          <a href="../eventpage/eventpage.html"
                            >진행중인 이벤트</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/eventwinner.html"
                            >이벤트 담당자</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/membership.html"
                            >CJ ONE 멤버십</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                      <ul>
                        <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                        <li>
                          <a href="../app/homedelivery/homedelivery_list01.html"
                            >홈페이지 전용 예약 배송</a
                          >
                        </li>
                        <li>
                          <a href="../app/flowerdelivery/flowerdelivery.html"
                            >꽃 & 케이크 택배 배송</a
                          >
                        </li>
                        <li>
                          <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="item">
              <div class="item__name">
                <a href="../app/appmain.html">뚜레쥬르 앱 & 온라인 쇼핑몰</a>
              </div>
              <div class="item__contents">
                <div class="contents__menu">
                  <ul class="inner">
                    <li>
                      <h4>브랜드 스토리</h4>
                      <ul>
                        <li>
                          <a href="../story/brand_story.html">브랜드 스토리</a>
                        </li>
                        <li>
                          <a href="../story/material.html"
                            >뚜레쥬르 재료 이야기</a
                          >
                        </li>
                        <li>
                          <a href="../story/global.html">글로벌 뚜레쥬르</a>
                        </li>
                        <li>
                          <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                        </li>
                        <li>
                          <a href="../story/awesomebread.html"
                            >뚜레쥬르 착한빵</a
                          >
                        </li>
                        <li>
                          <a href="../story/notice.html">뉴스 & 공지사항</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>제품 안내</h4>
                      <ul>
                        <li><a href="../menu/new_products.html">신제품</a></li>
                        <li><a href="../menu/bread.html">빵</a></li>
                        <li><a href="../menu/cake.html">케이크</a></li>
                        <li><a href="../menu/deli.html">델리</a></li>
                        <li><a href="../menu/">선물</a></li>
                        <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                        <li><a href="../menu/drinks.html">음료</a></li>
                      </ul>
                    </li>
                    <li>
                      <h4>이벤트&멤버십</h4>
                      <ul>
                        <li>
                          <a href="../eventpage/eventpage.html"
                            >진행중인 이벤트</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/eventwinner.html"
                            >이벤트 담당자</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/membership.html"
                            >CJ ONE 멤버십</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                      <ul>
                        <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                        <li>
                          <a href="../app/homedelivery/homedelivery_list01.html"
                            >홈페이지 전용 예약 배송</a
                          >
                        </li>
                        <li>
                          <a href="../app/flowerdelivery/flowerdelivery.html"
                            >꽃 & 케이크 택배 배송</a
                          >
                        </li>
                        <li>
                          <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </header>
      <main>
        <div class="aff_benefits">
          <div class="eventpage_head-banner">
            <img src="../../img/eventpage/bakery_bg_1.jpeg" alt="배경이미지" />
            <h2>제휴 혜택 안내</h2>
            <div class="page__location">
              <ul>
                <li>
                  <a href="../../index.html"><span>HOME</span></a>
                </li>
                <p>&gt;</p>
                <li>
                  <a href="../../views/eventpage/eventpage.html"
                    ><span>이벤트&멤버십</span></a
                  >
                </li>
                <p>&gt;</p>
                <li>
                  <a href="../../views/eventpage/aff_benefits.html"
                    ><span>제휴혜택</span></a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="aff_benefits--cont">
            <div class="aff_benefits_info">
              <img
                src="../../img/eventpage/card_benefit_bg.jpeg"
                alt="배경이미지"
              />
              <div class="aff_benefits_info-text">
                <p>제휴카드로 할인 및 포인트 적립등 다양한 혜택을 누리세요.</p>
                <p>
                  일부 매장 및 온라인 결제 시 제휴카드 혜택 적용이 제외될 수
                  있습니다.
                </p>
                <p>
                  제휴카드 혜택은 각 카드사의 사정에 따라 변경, 제한 폐지될 수
                  있으며, 관련 문의는 각 카드사 고객센터에 문의해주시기
                  바랍니다.
                </p>
              </div>
            </div>

            <div class="aff_benefits_nav">
              <ul id="aff_benefits_nav">
                <li>통신사 멤버십 혜택</li>
                <span>|</span>
                <li>신용카드 & 멤버십 제휴카드 혜택</li>
                <span>|</span>
                <li>포인트 & 보너스 적립 혜택</li>
                <span>|</span>
                <li>상품권 혜택</li>
              </ul>
            </div>

            <section id="tele_benefit" class="telecom_benefit">
              <h3 class="hidden">통신사 멤버십 혜택</h3>
              <div class="telecom_benefit_text">
                <h4>통신사 멤버십 혜택</h4>
                <ul>
                  <li>
                    <p>
                      일부 특수점포 (마트, 병원, 휴게소, 공항 등)의 경우
                      혜택제공이 제외될 수 있습니다.
                    </p>
                  </li>
                  <li>
                    <p>
                      타 혜택과 중복적용이 불가합니다. (단, 제휴할인 후 CJ ONE
                      포인트 0.1% 적립, 현대카드 M포인트 적립, BC카드 탑포인트
                      적립 중복가능)
                    </p>
                  </li>
                  <li>
                    <p>
                      제휴카드 별 혜택은 양사간의 계약관계 또는 사정에 따라 변경
                      또는 종료될 수 있습니다
                    </p>
                  </li>
                  <li>
                    <p>
                      모바일제품교환권/금액권 사용시 혜택 적용 불가하며,
                      사용금액 제외 후 추가 결제분에 한해 제휴혜택 적용
                      가능합니다.
                    </p>
                  </li>
                </ul>
              </div>
              <div class="telecom_benefit_list">
                <ul>
                  <li class="skt">
                    <img
                      src="../../img/eventpage/aff_benefits/t_card.png"
                      alt="T 맴버십 카드"
                    />
                    <img
                      src="../../img/eventpage/aff_benefits/t_logo.gif"
                      alt="T맴버십"
                    />
                    <h4>T 맴버십</h4>
                    <p>
                      (할인형) VIP/골드 1,000원당 150원 할인 실버 1,000원당 50원
                    </p>
                    <p>
                      (적립형) VIP/골드 1,000원당 150원 적립 실버 1,000원당 50원
                      적립
                    </p>
                    <ul>
                      <li>1일 1회 사용 가능</li>
                      <li>구매금액 최대 20만원 내 할인/적립</li>
                      <li>T플러스포인트 사용 가능</li>
                    </ul>
                  </li>

                  <li class="kt">
                    <img
                      src="../../img/eventpage/aff_benefits/kt_card.gif"
                      alt="KT 맴버십 카드"
                    />
                    <img
                      src="../../img/eventpage/aff_benefits/kt_logo.gif"
                      alt="KT 맴버십"
                    />
                    <h4>KT 맴버십</h4>
                    <p>
                      VIP/골드: 구매금액 1,000원당 150원 할인 실버/화이트/일반:
                      구매금액 1,000원당 100원 할인
                    </p>

                    <ul>
                      <li>1일 1회 사용가능</li>
                      <li>1회 최대 20만원 한도 할인</li>
                    </ul>
                  </li>

                  <li class="lgu">
                    <img
                      src="../../img/eventpage/aff_benefits/u_card.gif"
                      alt="LG U 플러스 맴버십 카드"
                    />
                    <img
                      src="../../img/eventpage/aff_benefits/u_logo.gif"
                      alt="LG U 플러스 맴버십"
                    />
                    <h4>LG U+ LTE 맴버십</h4>
                    <p>전 등급 1,000원당 100원 할인</p>

                    <ul>
                      <li>1일 1회 사용가능</li>
                      <li>1회 구매금액 최대 2만원 할인 가능</li>
                      <li>월 구매금액 최대 10만원 할인 가능</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </section>

            <section id="card_benefit" class="card_benefit hidden">
              <h3 class="hidden">신용카드 & 멤버십 제휴카드 혜택</h3>
              <div class="card_benefit_text">
                <h4>신용카드 & 맴버십 제휴카드 혜택</h4>
                <ul>
                  <li>
                    <p>
                      일부 특수점포 (마트, 병원, 휴게소, 공항 등)의 경우
                      혜택제공이 제외될 수 있습니다.
                    </p>
                  </li>
                  <li>
                    <p>
                      타 혜택과 중복적용이 불가합니다. (단, 제휴할인 후 CJ ONE
                      포인트 0.1% 적립, 현대카드 M포인트 적립, BC카드 탑포인트
                      적립 중복가능)
                    </p>
                  </li>
                  <li>
                    <p>
                      제휴카드 별 혜택은 양사간의 계약관계 또는 사정에 따라 변경
                      또는 종료될 수 있습니다
                    </p>
                  </li>
                  <li>
                    <p>
                      모바일제품교환권/금액권 사용시 혜택 적용 불가하며,
                      사용금액 제외 후 추가 결제분에 한해 제휴혜택 적용
                      가능합니다.
                    </p>
                  </li>
                </ul>
              </div>
              <div class="card_benefit_list">
                <ul>
                  <li class="cj_card">
                    <img
                      src="../../img/eventpage/aff_benefits/cj_cj.png"
                      alt="CJ 카드"
                    />
                    <img
                      src="../../img/eventpage/aff_benefits/cj_card.gif"
                      alt="CJ 카드 로고"
                    />
                    <h4>CJ카드</h4>
                    <p>구매금액의 10%할인</p>
                    <ul>
                      <li>
                        이용 가능카드: CJ 국민, CJ 현대, CJ 신한, CJ 삼성, CJ
                        SC비씨, CJ 하나, CJ 롯데, CJ 씨티
                      </li>
                      <a
                        href="https://card.cjmall.com/card/customer/request_call.jsp"
                        >CJ 카드 신청하기</a
                      >
                    </ul>
                  </li>

                  <li class="cjone_sam_shin_card">
                    <img
                      src="../../img/eventpage/aff_benefits/cj_samshin.gif"
                      alt="CJ 카드"
                    />
                    <img
                      src="../../img/eventpage/aff_benefits/samsung_card.gif"
                      alt="삼성 카드 로고"
                    />
                    <img
                      src="../../img/eventpage/aff_benefits/shinhan_card.gif"
                      alt="시한 카드 로고"
                    />
                    <h4>CJ ONE 삼성/신한카드</h4>
                    <p>
                      구매금액의 15%할인 + 기본적립율(제휴/할인 시 적립율)의 2배
                      적립(CJ ONE 포인트)
                    </p>
                    <ul>
                      <li>전월(1일~말일) 실적 20만원 이상</li>
                      <li>
                        월 5회 한도(1회 최대 3만원 할인, CJ 푸드빌 15%
                        할인브랜드 통합 기준)
                      </li>
                      <li>
                        할인 횟수 초과 시, 기본 적립율의 2배 적립 (CJ ONE
                        포인트)
                      </li>
                      <li>
                        * CJ ONE 신한카드는 2020.9.18 일자로 신규 발급 중단되며,
                        기존혜택은 유지 됩니다.
                      </li>
                      <a
                        href="https://www.cjone.com/cjmweb/point-card/branded-card.do?coopco_cd=7020&brnd_cd=2010&mcht_no=2010&coop_return_url="
                        >CJ ONE 제휴 카드 신청하기</a
                      >
                    </ul>
                  </li>

                  <li class="cj_shinhan_check_card">
                    <img
                      src="../../img/eventpage/aff_benefits/cj_shinhan_check.gif"
                      alt="CJ ONE 신한 체크 카드"
                    />
                    <img
                      src="../../img/eventpage/aff_benefits/shinhan_card.gif"
                      alt="신한 카드 로고"
                    />
                    <h4>CJ ONE 신한 체크카드</h4>
                    <p>구매금액의 10% 캐시백</p>
                    <ul>
                      <li>
                        일 1회, 월 5회 / 1회 최대 1천원 캐시백
                        (뚜레쥬르/투썸플레이스 통합 기준)
                      </li>
                    </ul>
                  </li>

                  <li class="cj_samsung">
                    <img
                      src="../../img/eventpage/aff_benefits/cj_samsung.png"
                      alt="CJ 카드"
                    />
                    <img
                      src="../../img/eventpage/aff_benefits/samsung_card.gif"
                      alt="삼성 카드 로고"
                    />
                    <h4>CJ 삼성 iD 카드</h4>
                    <p>구매금액의 10% 할인</p>
                    <ul>
                      <li>월 할인한도 : 10,000원</li>
                      <li>전월 이용금액 30만원 이상 시 제공</li>
                      <li>
                        발급월+1개월까지는 전월 이용금액 30만원 미만 시에도 혜택
                        제공
                      </li>
                      <li>
                        오프라인 결제건에 한하며, 백화점, 할인점, 쇼핑몰 등의
                        임대매장은 제외
                      </li>
                      <a
                        href="https://www.samsungcard.com/home/card/cardinfo/PGHPPCCCardCardinfoDetails001?code=AAP1764&alncmpC=QNTOUSLJ&affcode=QNTOUSLJ&webViewFirstPage=true"
                        >CJ 삼성 iD 카드 신청하기</a
                      >
                    </ul>
                  </li>

                  <li class="cj_woori">
                    <img
                      src="../../img/eventpage/aff_benefits/cj_woori.png"
                      alt="CJ ONE 우리 체크 카드"
                    />

                    <h4>CJ ONE 우리 체크카드</h4>
                    <p>3천원 캐쉬백</p>
                    <ul>
                      <li>15,000원 이상 사용 시</li>
                      <li>통합 일 1회, 월 6천원 한도</li>
                      <li>캐시백 금액은 월간 통합 캐시백 한도 내에서 제공</li>
                      <li>
                        상품권 구매금액, 기프트카드·선불카드 구매/충전금액은
                        캐시백 제외
                      </li>
                      <a
                        href="http://www.cjone.com/cjmweb/point-card/branded-card.do"
                        >CJ ONE 제휴카드 신청하기</a
                      >
                    </ul>
                  </li>

                  <li class="wellfare_club">
                    <img
                      src="../../img/eventpage/aff_benefits/welfare.png"
                      alt="웰페어클럽 복지포인트 카드"
                    />

                    <h4>웰페어클럽(복지포인트)</h4>
                    <p>구매금액의 2% 청구할인</p>
                    <ul>
                      <li>
                        '웰페어클럽 복지카드'로 등록된 카드 결제 시 상시 2% 할인
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </section>

            <section id="pb_benefit" class="pb_benefit hidden">
              <h3 class="hidden">포인트 & 보너스 적립 혜택</h3>
              <div class="pb_benefit_text">
                <h4>포인트 & 보너스 적립 혜택</h4>
                <ul>
                  <li>
                    <p>
                      일부 특수점포 (마트, 병원, 휴게소, 공항 등)의 경우
                      혜택제공이 제외될 수 있습니다.
                    </p>
                  </li>
                  <li>
                    <p>
                      타 혜택과 중복적용이 불가합니다. (단, 제휴할인 후 CJ ONE
                      포인트 0.1% 적립, 현대카드 M포인트 적립, BC카드 탑포인트
                      적립 중복가능)
                    </p>
                  </li>
                  <li>
                    <p>
                      제휴카드 별 혜택은 양사간의 계약관계 또는 사정에 따라 변경
                      또는 종료될 수 있습니다
                    </p>
                  </li>
                  <li>
                    <p>
                      모바일제품교환권/금액권 사용시 혜택 적용 불가하며,
                      사용금액 제외 후 추가 결제분에 한해 제휴혜택 적용
                      가능합니다.
                    </p>
                  </li>
                </ul>
              </div>
              <div class="pb_benefit_list">
                <ul>
                  <li class="pb_hyndai_card">
                    <img
                      src="../../img/eventpage/aff_benefits/hyundai_m_card.gif"
                      alt="현대 M 카드"
                    />
                    <img
                      src="../../img/eventpage/aff_benefits/hyundai_logo.gif"
                      alt="현대카드로고"
                    />
                    <h4>현대카드 M포인트</h4>
                    <p>구매금액의 50% 포인트 사용</p>
                    <ul>
                      <li>
                        포인트 한도 내에서 결제 가능하며, 잔여 포인트 부족 시
                        포인트만큼만 차감
                      </li>
                    </ul>
                  </li>

                  <li class="pb_samsung_point">
                    <img
                      src="../../img/eventpage/aff_benefits/samsung_point.png"
                      alt="섬성 카드 포인트"
                    />
                    <img
                      src="../../img/eventpage/aff_benefits/samsung_card.gif"
                      alt="삼성카드로고"
                    />
                    <h4>삼성카드 포인트</h4>
                    <p>구매 금액의 최대 100% 포인트 사용</p>
                    <ul>
                      <li>
                        포인트 한도 내에서 결제 가능하며, 잔여 포인트 부족 시
                        포인트만큼만 차감
                      </li>
                    </ul>
                  </li>

                  <li class="pb_shinhan_hi_card">
                    <img
                      src="../../img/eventpage/aff_benefits/shinhan_hi_card.gif"
                      alt="신한카드 HI-Point"
                    />
                    <img
                      src="../../img/eventpage/aff_benefits/shinhan_card.gif"
                      alt="신한 카드 로고"
                    />
                    <h4>신한카드 Hi-Point</h4>
                    <p>구매금액의 15% 포인트 사용</p>
                    <ul>
                      <li>
                        포인트 한도 내에서 결제 가능하며, 잔여 포인트 부족 시
                        포인트만큼만 차감
                      </li>
                      <li>
                        한도 및 횟수 제한 없음. Nano/Nano F, S-MORE, 체크카드
                        포함
                      </li>
                    </ul>
                  </li>

                  <li class="pb_bc_card">
                    <img
                      src="../../img/eventpage/aff_benefits/bc_card.gif"
                      alt="비씨 카드"
                    />
                    <img
                      src="../../img/eventpage/aff_benefits/bccard_logo.gif"
                      alt="비씨카드로고"
                    />
                    <h4>BC카드 TOP포인트</h4>
                    <p>구매금액의 100% 포인트 사용</p>
                    <ul>
                      <li>포인트 사용내역은 청구서 할인 적용</li>
                    </ul>
                  </li>

                  <li class="pb_bluemembers_card">
                    <img
                      src="../../img/eventpage/aff_benefits/bluemember_card.gif"
                      alt="블루멤버스 카드"
                    />
                    <img
                      src="../../img/eventpage/aff_benefits/blumembers_logo.jpeg"
                      alt="블루멤버스로고"
                    />
                    <h4>블루멤버스</h4>
                    <p>구매금액의 20% 포인트 사용</p>
                    <ul>
                      <li>1일 10회, 월 10회, 연 100회 사용가능</li>
                      <li>보유 포인트가 구매금액의 20% 미만 시 사용불가</li>
                    </ul>
                  </li>

                  <li class="pb_kiamembers_card">
                    <img
                      src="../../img/eventpage/aff_benefits/kia_members.gif"
                      alt="기아멤버스 카드"
                    />
                    <img
                      src="../../img/eventpage/aff_benefits/kia_members_logo.gif"
                      alt="기아멤버스로고"
                    />
                    <h4>기아멤버스</h4>
                    <p>구매금액의 20% 포인트 사용</p>
                    <ul>
                      <li>1일 10회, 월 10회, 연 100회 사용가능</li>
                      <li>보유 포인트가 구매금액의 20% 미만 시 사용불가</li>
                    </ul>
                  </li>

                  <li class="pb_okcashback_card">
                    <img
                      src="../../img/eventpage/aff_benefits/okcash_card.gif"
                      alt="오케이캐시백 카드"
                    />
                    <img
                      src="../../img/eventpage/aff_benefits/okcash_logo.gif"
                      alt="오케이캐시백 로고"
                    />
                    <h4>OK 캐쉬백 포인트</h4>
                    <p>100%(전액) 포인트 차감할인</p>
                    <ul>
                      <li>
                        포인트 차감할인: 구매금액의 최대 100%까지 포인트 사용
                        (보유 포인트 1,000포인트 이상시, 10포인트 단위로 사용)
                      </li>
                      <li>
                        본인 확인을 위한 (최초) 비밀번호는 생일(월/일) 4자리이며
                        비밀번호를 입력하여야만 OK캐쉬백 포인트 사용이 가능
                      </li>
                      <li>포인트 사용은 1일 횟수제한 없음</li>
                      <li>
                        타 쿠폰 및 제휴할인카드와 중복사용 불가(단, 추가
                        결제금액에 대해 CJ ONE 0.1% 적립 가능)
                      </li>
                    </ul>
                  </li>

                  <li class="pb_shinhan_diy_card">
                    <img
                      src="../../img/eventpage/aff_benefits/shinhan_diy.gif"
                      alt="신한 DIY 카드"
                    />
                    <img
                      src="../../img/eventpage/aff_benefits/shinhan_card.gif"
                      alt="신한카드로고"
                    />
                    <h4>신한 DIY카드</h4>
                    <p>구매금액의 최대 5% 마이 신한포인트적립</p>
                    <ul>
                      <li>포인트 DIY 설정에 따라, 적립률 1%~5% 변동</li>
                      <li>카드 뒷면 바코드를 통한 CJ ONE 포인트 적립</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </section>

            <section id="gift_benefit" class="giftcard_benefit hidden">
              <h3 class="hidden">상품권 혜택</h3>
              <div class="giftcard_benefit_text">
                <h4>상품권 혜택</h4>
                <ul>
                  <li>
                    <p>
                      일부 특수점포 (마트, 병원, 휴게소, 공항 등)의 경우
                      혜택제공이 제외될 수 있습니다.
                    </p>
                  </li>
                  <li>
                    <p>하기 상품권은 지류 상품권으로만 사용 가능합니다.</p>
                  </li>
                </ul>
              </div>
              <div class="giftcard_benefit_list">
                <ul>
                  <li>
                    <img
                      src="../../img/eventpage/aff_benefits/gf_cjgf.gif"
                      alt="CJ 상품권"
                    />
                    <p>CJ 상품권</p>
                  </li>
                  <li>
                    <img
                      src="../../img/eventpage/aff_benefits/gf_culture.gif"
                      alt="문화 상품권"
                    />
                    <p>문화 상품권</p>
                  </li>
                  <li>
                    <img
                      src="../../img/eventpage/aff_benefits/gf_shopping.gif"
                      alt="쇼핑문화 상품권"
                    />
                    <p>쇼핑문화 상품권</p>
                  </li>
                  <li>
                    <img
                      src="../../img/eventpage/aff_benefits/gf_happymoney.gif"
                      alt="해피머니 상품권 / 헌혈상품권 / HAPPY21 상품권"
                    />
                    <p>해피머니 상품권 / 헌혈상품권 / HAPPY21 상품권</p>
                  </li>
                  <li>
                    <img
                      src="../../img/eventpage/aff_benefits/gf_bookculture.jpeg"
                      alt="도서문화상품권 (북앤라이프)"
                    />
                    <p>도서문화상품권 (북앤라이프)</p>
                  </li>
                  <li>
                    <img
                      src="../../img/eventpage/aff_benefits/gf_kotravel.gif"
                      alt="국민관광 상품권"
                    />
                    <p>국민관광 상품권</p>
                  </li>
                  <li>
                    <img
                      src="../../img/eventpage/aff_benefits/gf_skgf.gif"
                      alt="SK 상품권"
                    />
                    <p>SK 상품권</p>
                  </li>
                  <li>
                    <img
                      src="../../img/eventpage/aff_benefits/gf_homeplus.jpeg"
                      alt="홈플러스 상품권"
                    />
                    <p>홈플러스 상품권</p>
                  </li>
                  <li>
                    <img
                      src="../../img/eventpage/aff_benefits/gf_k-travel_corona.gif"
                      alt="코로나 19극복 국민관광 상품권"
                    />
                    <p>코로나 19극복 국민관광 상품권</p>
                    <span>
                      ※ 유효기간이 지난 상품권도 교환 절차 없이 2025년 12월
                      31일까지 사용 가능
                    </span>
                  </li>
                </ul>
              </div>
            </section>
          </div>
          <div class="mainpage_quick--menu">
            <div
              class="mainpage_quick--menu-cont mainpage_quick-cont--disappear"
            >
              <a href="#" class="main_quick--btn">
                <img src="../../img/icons/top.png" alt="상단으로가기" />
                <span>TOP</span>
              </a>
              <a
                href="https://www.instagram.com/touslesjours_kr/"
                class="main_quick--btn"
              >
                <img src="../../img/icons/sns.png" alt="sns보기" />
                <span>SNS</span>
              </a>
              <a
                href="../../views/startup/startup.html"
                class="main_quick--btn"
              >
                <img src="../../img/icons/start-up.png" alt="창업하기" />
                <span>창업</span>
              </a>
              <a
                href="../../views/partissier/partissier.html"
                class="main_quick--btn"
              >
                <img src="../../img/icons/recruitment.png" alt="기사채용" />
                <span>기사<br />채용</span>
              </a>
            </div>
            <button id="quicktoggle" class="mainpage_btn--disappear">
              <img
                class="mainpage_btn-img--disappear"
                src="../../img/icons/up-arrow_col.png"
                alt="보이기"
              />
            </button>
          </div>
        </div>
      </main>
      <footer>
        <div class="footer_affiliate">
          <ul>
            <li>
              <a
                href="https://www.cjfoodville.co.kr/main.asp"
                target="_blank"
                title="CJ 푸드빌 새창으로 열기"
              >
                <img src="../../img/footer/cjfoodvill.jpg" alt="CJ 푸드빌" />
              </a>
            </li>
            <li>
              <a
                href="https://www.ivips.co.kr:7002/"
                target="_blank"
                title="빕스 새창으로 열기"
              >
                <img src="../../img/footer/vips.jpg" alt="Vips" />
              </a>
            </li>
            <li>
              <a
                href="https://www.italiantheplace.co.kr:7022/brand/"
                target="_blank"
                title="더플레이스 새창으로 열기"
              >
                <img src="../../img/footer/theplace.jpg" alt="The place" />
              </a>
            </li>
            <li>
              <a
                href="https://www.cheiljemyunso.co.kr:7014/main.asp"
                target="_blank"
                title="제일제면소 새창으로 열기"
              >
                <img src="../../img/footer/jeil.jpg" alt="제일제면소" />
              </a>
            </li>
            <li>
              <a
                href="https://www.ngrill.co.kr:7025/index.html"
                target="_blank"
                title="엔그릴 새창으로 열기"
              >
                <img src="../../img/footer/ngrill.jpg" alt="엔그릴" />
              </a>
            </li>
            <li>
              <a
                href="https://www.nseoultower.co.kr:8501/index.asp"
                target="_blank"
                title="N SEOUL TOWER 새창으로 열기"
              >
                <img src="../../img/footer/nSeoul.jpg" alt="엔서울타워" />
              </a>
            </li>
          </ul>
        </div>

        <div class="footer_bottom">
          <div class="company">
            <ul>
              <li>
                <a href="http://www.cjfoodville.co.kr/story/foodvilleintro.html"
                  >회사소개</a
                >
              </li>
              <li>
                <a href="http://127.0.0.1:5500/views/partissier/partissier.html"
                  >기사채용안내</a
                >
              </li>
              <li>
                <a href="http://127.0.0.1:5500/views/startup/startup.html"
                  >창업안내</a
                >
              </li>
              <li>
                <a href="http://127.0.0.1:5500/views/footer/sitemap.html"
                  >사이트맵</a
                >
              </li>
            </ul>
          </div>

          <div class="policy">
            <ul>
              <li>
                <a
                  href="https://www.cjfoodville.co.kr/footer/userpolicy.asp"
                  target="_blank"
                  title="새창 열림"
                  >이용약관</a
                >
              </li>
              <li>
                <a
                  href="https://www.cjfoodville.co.kr/footer/location.asp"
                  target="_blank"
                  title="새창 열림"
                  >위치기반서비스 이용약관</a
                >
              </li>
              <li class="private">
                <a
                  href="https://www.cjfoodville.co.kr/footer/privacy.asp"
                  target="_blank"
                  title="새창 열림"
                  >개인정보처리방침</a
                >
              </li>
              <li>
                <a href="http://127.0.0.1:5500/views/footer/email.html"
                  >이메일무단수집거부</a
                >
              </li>
              <li>
                <a
                  href="https://www.cjfoodville.co.kr/footer/ethic_center.asp"
                  target="_blank"
                  title="새창 열림"
                  >윤리신고센터</a
                >
              </li>
              <li>
                <a href="http://127.0.0.1:5500/views/footer/legal.html"
                  >법적고지</a
                >
              </li>
            </ul>
          </div>

          <div class="company_info">
            <p>상호명 : CJ푸드빌(주)</p>

            <address>
              주소 : (우)04555 서울시 중구 마른내로34(초동 106-9번지)KT&amp;G
              을지로타워 3, 9-11층 CJ푸드빌㈜s
            </address>

            <p>
              <span>고객센터 : 1577-0700</span>
              <span>통신판매업종신고증 제 2011-서울중구-0771호</span>
              <sapn class="ftc_confirm">
                <a
                  href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=3128142519"
                  target="_blank"
                  title="새창열림"
                >
                  <img
                    src="../../img/footer/footer_info_information.png"
                    alt="사업자정보확인"
                  />
                </a>
              </sapn>
              <span class="hosting">호스팅제공자 : CJ올리브네트웍스(주)</span>
            </p>

            <p class="business_info">
              <span>사업자등록번호 : 312-81-42519</span>
              <span>대표이사 : 김찬호</span>
              <span>개인정보보호책임자 : 오창호</span>
              <span class="email">
                <a href="mailto:help_master@cj.net"
                  >대표 이메일 : help_master@cj.net</a
                >
              </span>
            </p>

            <p class="copyright">
              COPYRIGHT 2023©CJ Foodville ALL RIGHT RESERVED.
            </p>
          </div>

          <div class="footer_logo">
            <img src="../../img/logos/logo_grey.png" />
          </div>
        </div>
      </footer>
    </div>
    <script src="../../js/eventpage/aff_benefits.js"></script>
    <script src="../../js/mainpage/mainquicknav.js"></script>
  </body>
</html>
