<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700&family=Nanum+Pen+Script&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <script defer src="../../js/main.js"></script>
    <link rel="stylesheet" href="../../styles/style.css" />
    <title>맴버쉽 | Tous les Jours</title>
  </head>
  <body>
    <!--
        https://www.cjone.com/cjmweb/about-cjone.do
    -->
    <div class="wrap">
      <div class="skip_menu hidden">
        <ul>
          <li><a href="#해당페이지 바디로 이동">본문내용으로 바로가기</a></li>
          <li><a href="#gnb로 이동">주메뉴 바로가기</a></li>
        </ul>
      </div>
      <header>
        <div class="inner">
          <a href="../../index.html" class="logo">
            <img
              src="../../img/logos/logo_2.png"
              alt="touslesjours"
              width="300"
            />
          </a>

          <div class="sub-menu">
            <ul class="menu">
              <li>
                <a
                  href="https://www.cjone.com/cjmweb/join.do?coopco_cd=7020&brnd_cd=2010&mcht_no=2010&coop_return_url="
                  >Sign in</a
                >
              </li>
              <li>
                <a href="../../views/map/map.html">매장 찾기</a>
              </li>
              <li>
                <a href="../../views/startup/startup.html">창업 준비하기</a>
              </li>
              <li>
                <a href="../customerpage/customerpage.html">고객센터</a>
              </li>
              <li>
                <a href="../partissier/partissier.html">기사 채용안내</a>
              </li>
              <li>
                <a href="../main/login.html">log in</a>
              </li>
            </ul>
            <div class="search">
              <input id="search_box" type="text" />
            </div>
          </div>

          <ul class="main-menu">
            <li class="item">
              <div class="item__name">
                <a href="../story/brand_story.html">브랜드 스토리</a>
              </div>
              <div class="item__contents">
                <div class="contents__menu">
                  <ul class="inner">
                    <li>
                      <h4>브랜드 스토리</h4>
                      <ul>
                        <li>
                          <a href="../story/brand_story.html">브랜드 스토리</a>
                        </li>
                        <li>
                          <a href="../story/material.html"
                            >뚜레쥬르 재료 이야기</a
                          >
                        </li>
                        <li>
                          <a href="../story/global.html">글로벌 뚜레쥬르</a>
                        </li>
                        <li>
                          <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                        </li>
                        <li>
                          <a href="../story/awesomebread.html"
                            >뚜레쥬르 착한빵</a
                          >
                        </li>
                        <li>
                          <a href="../story/notice.html">뉴스 & 공지사항</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>제품 안내</h4>
                      <ul>
                        <li><a href="../menu/new_products.html">신제품</a></li>
                        <li><a href="../menu/bread.html">빵</a></li>
                        <li><a href="../menu/cake.html">케이크</a></li>
                        <li><a href="../menu/deli.html">델리</a></li>
                        <li><a href="../menu/">선물</a></li>
                        <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                        <li><a href="../menu/drinks.html">음료</a></li>
                      </ul>
                    </li>
                    <li>
                      <h4>이벤트&멤버십</h4>
                      <ul>
                        <li>
                          <a href="../eventpage/eventpage.html"
                            >진행중인 이벤트</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/eventwinner.html"
                            >이벤트 담당자</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/membership.html"
                            >CJ ONE 멤버십</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                      <ul>
                        <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                        <li>
                          <a href="../app/homedelivery/homedelivery_list01.html"
                            >홈페이지 전용 예약 배송</a
                          >
                        </li>
                        <li>
                          <a href="../app/flowerdelivery/flowerdelivery.html"
                            >꽃 & 케이크 택배 배송</a
                          >
                        </li>
                        <li>
                          <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="item">
              <div class="item__name">
                <a href="../menu/new_products.html">제품 안내</a>
              </div>
              <div class="item__contents">
                <div class="contents__menu">
                  <ul class="inner">
                    <li>
                      <h4>브랜드 스토리</h4>
                      <ul>
                        <li>
                          <a href="../story/brand_story.html">브랜드 스토리</a>
                        </li>
                        <li>
                          <a href="../story/material.html"
                            >뚜레쥬르 재료 이야기</a
                          >
                        </li>
                        <li>
                          <a href="../story/global.html">글로벌 뚜레쥬르</a>
                        </li>
                        <li>
                          <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                        </li>
                        <li>
                          <a href="../story/awesomebread.html"
                            >뚜레쥬르 착한빵</a
                          >
                        </li>
                        <li>
                          <a href="../story/notice.html">뉴스 & 공지사항</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>제품 안내</h4>
                      <ul>
                        <li><a href="../menu/new_products.html">신제품</a></li>
                        <li><a href="../menu/bread.html">빵</a></li>
                        <li><a href="../menu/cake.html">케이크</a></li>
                        <li><a href="../menu/deli.html">델리</a></li>
                        <li><a href="../menu/">선물</a></li>
                        <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                        <li><a href="../menu/drinks.html">음료</a></li>
                      </ul>
                    </li>
                    <li>
                      <h4>이벤트&멤버십</h4>
                      <ul>
                        <li>
                          <a href="../eventpage/eventpage.html"
                            >진행중인 이벤트</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/eventwinner.html"
                            >이벤트 담당자</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/membership.html"
                            >CJ ONE 멤버십</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                      <ul>
                        <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                        <li>
                          <a href="../app/homedelivery/homedelivery_list01.html"
                            >홈페이지 전용 예약 배송</a
                          >
                        </li>
                        <li>
                          <a href="../app/flowerdelivery/flowerdelivery.html"
                            >꽃 & 케이크 택배 배송</a
                          >
                        </li>
                        <li>
                          <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="item">
              <div class="item__name">
                <a href="../eventpage/eventpage.html">이벤트 & 멤버십</a>
              </div>
              <div class="item__contents">
                <div class="contents__menu">
                  <ul class="inner">
                    <li>
                      <h4>브랜드 스토리</h4>
                      <ul>
                        <li>
                          <a href="../story/brand_story.html">브랜드 스토리</a>
                        </li>
                        <li>
                          <a href="../story/material.html"
                            >뚜레쥬르 재료 이야기</a
                          >
                        </li>
                        <li>
                          <a href="../story/global.html">글로벌 뚜레쥬르</a>
                        </li>
                        <li>
                          <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                        </li>
                        <li>
                          <a href="../story/awesomebread.html"
                            >뚜레쥬르 착한빵</a
                          >
                        </li>
                        <li>
                          <a href="../story/notice.html">뉴스 & 공지사항</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>제품 안내</h4>
                      <ul>
                        <li><a href="../menu/new_products.html">신제품</a></li>
                        <li><a href="../menu/bread.html">빵</a></li>
                        <li><a href="../menu/cake.html">케이크</a></li>
                        <li><a href="../menu/deli.html">델리</a></li>
                        <li><a href="../menu/">선물</a></li>
                        <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                        <li><a href="../menu/drinks.html">음료</a></li>
                      </ul>
                    </li>
                    <li>
                      <h4>이벤트&멤버십</h4>
                      <ul>
                        <li>
                          <a href="../eventpage/eventpage.html"
                            >진행중인 이벤트</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/eventwinner.html"
                            >이벤트 담당자</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/membership.html"
                            >CJ ONE 멤버십</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                      <ul>
                        <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                        <li>
                          <a href="../app/homedelivery/homedelivery_list01.html"
                            >홈페이지 전용 예약 배송</a
                          >
                        </li>
                        <li>
                          <a href="../app/flowerdelivery/flowerdelivery.html"
                            >꽃 & 케이크 택배 배송</a
                          >
                        </li>
                        <li>
                          <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="item">
              <div class="item__name">
                <a href="../app/appmain.html">뚜레쥬르 앱 & 온라인 쇼핑몰</a>
              </div>
              <div class="item__contents">
                <div class="contents__menu">
                  <ul class="inner">
                    <li>
                      <h4>브랜드 스토리</h4>
                      <ul>
                        <li>
                          <a href="../story/brand_story.html">브랜드 스토리</a>
                        </li>
                        <li>
                          <a href="../story/material.html"
                            >뚜레쥬르 재료 이야기</a
                          >
                        </li>
                        <li>
                          <a href="../story/global.html">글로벌 뚜레쥬르</a>
                        </li>
                        <li>
                          <a href="../story/latelier.html">뚜레쥬르 라뜰리에</a>
                        </li>
                        <li>
                          <a href="../story/awesomebread.html"
                            >뚜레쥬르 착한빵</a
                          >
                        </li>
                        <li>
                          <a href="../story/notice.html">뉴스 & 공지사항</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>제품 안내</h4>
                      <ul>
                        <li><a href="../menu/new_products.html">신제품</a></li>
                        <li><a href="../menu/bread.html">빵</a></li>
                        <li><a href="../menu/cake.html">케이크</a></li>
                        <li><a href="../menu/deli.html">델리</a></li>
                        <li><a href="../menu/">선물</a></li>
                        <li><a href="../menu/dessert.html">디저트&스낵</a></li>
                        <li><a href="../menu/drinks.html">음료</a></li>
                      </ul>
                    </li>
                    <li>
                      <h4>이벤트&멤버십</h4>
                      <ul>
                        <li>
                          <a href="../eventpage/eventpage.html"
                            >진행중인 이벤트</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/eventwinner.html"
                            >이벤트 담당자</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/membership.html"
                            >CJ ONE 멤버십</a
                          >
                        </li>
                        <li>
                          <a href="../eventpage/aff_benefits.html">제휴 혜택</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>뚜레쥬르 앱&온라인 쇼핑몰</h4>
                      <ul>
                        <li><a href="../app/appmain.html">뚜레쥬르 앱</a></li>
                        <li>
                          <a href="../app/homedelivery/homedelivery_list01.html"
                            >홈페이지 전용 예약 배송</a
                          >
                        </li>
                        <li>
                          <a href="../app/flowerdelivery/flowerdelivery.html"
                            >꽃 & 케이크 택배 배송</a
                          >
                        </li>
                        <li>
                          <a href="../app/bulkpurchase.html">대량 구매 문의</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </header>
      <main>
        <section class="membership__info-wrap">
          <div class="eventpage_head-banner">
            <img
              src="../../img/eventpage/card_benefit_bg.jpeg"
              alt="배경이미지"
            />
            <h2>CJ ONE 맴버쉽</h2>
            <div class="page__location">
              <ul>
                <li>
                  <a href="../../index.html"><span>HOME</span></a>
                </li>
                <p>&gt;</p>
                <li>
                  <a href="../eventpage/eventpage.html"
                    ><span>이벤트&멤버십</span></a
                  >
                </li>
                <p>&gt;</p>
                <li>
                  <a href="../eventpage/membership.html"
                    ><span>CJ ONE 멤버십</span></a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="membership_card_banner">
            <h3>CJ ONE 멤버쉽</h3>
            <img
              src="../../img/eventpage/membership/membership_bg.jpeg"
              alt="CJ의 새로운 통합 맴버십 카드 CJ ONE 카드"
            />
            <img
              src="../../img/eventpage/membership/membership_1.png"
              alt="CJ의 새로운 통합 맴버십 카드 CJ ONE 카드"
            />
            <img
              src="../../img/eventpage/membership/membership_1_1.png"
              alt="CJ ONE"
            />
            <p>CJ의 새로운 통합 맴버십 카드</p>
            <p>CJ ONE 카드</p>
          </div>

          <div class="membership_card_introduce">
            <h3>CJ ONE 카드란?</h3>
            <p>
              CJ ONE 카드란 문화, 외식, 쇼핑, 엔터테인먼트 등 CJ의 다양한
              라이프스타일 브랜드가 하나의 멤버십 서비스로 통합되어 한장의
              카드로 포인트를 적립/사용하고 CJ에서 제공하는 다양한 혜택을 함께
              즐기실 수 있는 CJ의 새로운 통합 멤버십 카드입니다.
            </p>
            <ul>
              <li>
                뚜레쥬르는 1,000원 이상 구매 시 카드를 발급 받으실 수 있습니다.
              </li>
              <li>
                매장에서 발급 받으신 카드는 뚜레쥬르 홈페이지 또는 CJ ONE
                홈페이지에서 회원가입 후 카드 등록하세요.
              </li>
              <li>
                홈페이지에 등록되지 않은 카드는 포인트를 사용하실 수 없습니다.
              </li>
              <li>
                모바일제품교환권/금액권 사용시 포인트 적립 불가하며, 사용금액
                제외 후 추가 결제분에 한해 적립 가능합니다.
              </li>
            </ul>
            <div class="membership_card_issuance">
              <p>CJ ONE 카드 발급 및 발급처 안내</p>
              <ul>
                <li>
                  <a
                    href="https://www.cjone.com/cjmweb/login.do?return_url=https%3A%2F%2Fwww.cjone.com%2Fcjmweb%2Fmy-one%2Fcard.do%3Fscene%3Dmms"
                    >모바일 카드 발급</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.cjone.com/cjmweb/login.do?return_url=https%3A%2F%2Fwww.cjone.com%2Fcjmweb%2Fmy-one%2Fcard.do"
                    >카드등록하기</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.cjone.com/cjmweb/join.do?coopco_cd=7020&brnd_cd=2010&mcht_no=2010&coop_return_url="
                    >가입하기</a
                  >
                </li>
                <li><a href="../map/map.html">매장찾기</a></li>
              </ul>
            </div>
          </div>

          <div class="membership_card_benefits">
            <h3>CJ ONE 혜택</h3>
            <ul>
              <li>
                <h4>혜택1. 적립</h4>
                <img src="../../img/icons/coin_stack.png" alt="혜택1. 적립" />
                <p>뚜레쥬르 0.5%적립(제휴/할인 후 0.1% 적립)</p>
                <p>
                  영수증 날짜 기준. 결제 당일에 한해 사후 적립 가능(기존 결제
                  취소 후 적립)
                </p>
                <p>동일브랜드, 동일매장에서 1일 5회까지만 적립 가능</p>
                <p>
                  일부 특수점포(마트/병원/휴게소/공항 등)는 CJ ONE 포인트
                  적립/사용이 불가합니다.
                </p>
                <p>
                  적립 포인트가 1점 미만인 경우에는 CJ ONE 포인트 적립이
                  불가합니다. (CJ ONE 이용약관 제 8조 5항에 의거, 포인트 중
                  소수점 이하의 단위는 절사)
                </p>
              </li>

              <li>
                <h4>혜택2. 포인트 사용</h4>
                <img
                  src="../../img/icons/coin_use.png"
                  alt="혜택2. 포인트 사용"
                />
                <p>1,000포인트 이상 보유 시 10포인트 단위로 현금처럼 사용</p>
                <p>
                  1포인트는 1원의 가치를 지니며, 뚜레쥬르에서는 1,000포인트 이상
                  보유시, 10포인트 단위로 현금처럼 사용 가능합니다.
                </p>
                <p>
                  포인트 사용시, 반드시 실물카드 또는 CJONE APP 바코드를
                  소지하셔야 하며, 200,000포인트 이상 사용시에는 멤버십 카드
                  비밀번호 4자리를 입력해야 포인트 사용 가능합니다. (비밀번호는
                  CJ ONE 홈페이지-나의 카드에서 입력/설정 가능)
                </p>
              </li>

              <li>
                <h4>혜택3. 보너스 포인트 추가 적립</h4>
                <img
                  src="../../img/icons/coins_more.png"
                  alt="혜택3. 보너스 포인트 추가 적립"
                />
                <p>기본 적립 포인트의 50% 또는 100% 추가 적립</p>
                <p>
                  매월 CJ ONE 제휴 브랜드를 4개 이용하시면, 해당 월 총 적립
                  포인트의 50%를 보너스 포인트로 추가 적립해드립니다. (예:
                  뚜레쥬르, CGV, 올리브영, 오쇼핑에서 한 달동안 총 1,000 포인트
                  적립시, 익월에 500 포인트 추가 적립.)
                </p>
                <p>
                  매월 CJ ONE 제휴 브랜드를 5개 이상 이용하시면, 해당 월 총 적립
                  포인트의 100%를 보너스 포인트로 추가 적립해드립니다. (예:
                  뚜레쥬르, CGV, 올리브영, 오쇼핑, 엠넷에서 한 달동안 총 1,000
                  포인트 적립시, 익월에 1,000 포인트 추가 적립.)
                </p>
              </li>
            </ul>
            <div class="membership_card_benefits_more">
              <a href="https://www.cjone.com/cjmweb/about-cjone.do"
                >CJ ONE만의 더 풍성한 혜택</a
              >
            </div>
          </div>
        </section>
        <div class="mainpage_quick--menu">
          <div class="mainpage_quick--menu-cont mainpage_quick-cont--disappear">
            <a href="#" class="main_quick--btn">
              <img src="../../img/icons/top.png" alt="상단으로가기" />
              <span>TOP</span>
            </a>
            <a
              href="https://www.instagram.com/touslesjours_kr/"
              class="main_quick--btn"
            >
              <img src="../../img/icons/sns.png" alt="sns보기" />
              <span>SNS</span>
            </a>
            <a href="../../views/startup/startup.html" class="main_quick--btn">
              <img src="../../img/icons/start-up.png" alt="창업하기" />
              <span>창업</span>
            </a>
            <a
              href="../../views/partissier/partissier.html"
              class="main_quick--btn"
            >
              <img src="../../img/icons/recruitment.png" alt="기사채용" />
              <span>기사<br />채용</span>
            </a>
          </div>
          <button id="quicktoggle" class="mainpage_btn--disappear">
            <img
              class="mainpage_btn-img--disappear"
              src="../../img/icons/up-arrow_col.png"
              alt="보이기"
            />
          </button>
        </div>
      </main>

      <footer>
        <div class="footer_affiliate">
          <ul>
            <li>
              <a
                href="https://www.cjfoodville.co.kr/main.asp"
                target="_blank"
                title="CJ 푸드빌 새창으로 열기"
              >
                <img src="../../img/footer/cjfoodvill.jpg" alt="CJ 푸드빌" />
              </a>
            </li>
            <li>
              <a
                href="https://www.ivips.co.kr:7002/"
                target="_blank"
                title="빕스 새창으로 열기"
              >
                <img src="../../img/footer/vips.jpg" alt="Vips" />
              </a>
            </li>
            <li>
              <a
                href="https://www.italiantheplace.co.kr:7022/brand/"
                target="_blank"
                title="더플레이스 새창으로 열기"
              >
                <img src="../../img/footer/theplace.jpg" alt="The place" />
              </a>
            </li>
            <li>
              <a
                href="https://www.cheiljemyunso.co.kr:7014/main.asp"
                target="_blank"
                title="제일제면소 새창으로 열기"
              >
                <img src="../../img/footer/jeil.jpg" alt="제일제면소" />
              </a>
            </li>
            <li>
              <a
                href="https://www.ngrill.co.kr:7025/index.html"
                target="_blank"
                title="엔그릴 새창으로 열기"
              >
                <img src="../../img/footer/ngrill.jpg" alt="엔그릴" />
              </a>
            </li>
            <li>
              <a
                href="https://www.nseoultower.co.kr:8501/index.asp"
                target="_blank"
                title="N SEOUL TOWER 새창으로 열기"
              >
                <img src="../../img/footer/nSeoul.jpg" alt="엔서울타워" />
              </a>
            </li>
          </ul>
        </div>

        <div class="footer_bottom">
          <div class="company">
            <ul>
              <li>
                <a href="http://www.cjfoodville.co.kr/story/foodvilleintro.html"
                  >회사소개</a
                >
              </li>
              <li>
                <a href="http://127.0.0.1:5500/views/partissier/partissier.html"
                  >기사채용안내</a
                >
              </li>
              <li>
                <a href="http://127.0.0.1:5500/views/startup/startup.html"
                  >창업안내</a
                >
              </li>
              <li>
                <a href="http://127.0.0.1:5500/views/footer/sitemap.html"
                  >사이트맵</a
                >
              </li>
            </ul>
          </div>

          <div class="policy">
            <ul>
              <li>
                <a
                  href="https://www.cjfoodville.co.kr/footer/userpolicy.asp"
                  target="_blank"
                  title="새창 열림"
                  >이용약관</a
                >
              </li>
              <li>
                <a
                  href="https://www.cjfoodville.co.kr/footer/location.asp"
                  target="_blank"
                  title="새창 열림"
                  >위치기반서비스 이용약관</a
                >
              </li>
              <li class="private">
                <a
                  href="https://www.cjfoodville.co.kr/footer/privacy.asp"
                  target="_blank"
                  title="새창 열림"
                  >개인정보처리방침</a
                >
              </li>
              <li>
                <a href="http://127.0.0.1:5500/views/footer/email.html"
                  >이메일무단수집거부</a
                >
              </li>
              <li>
                <a
                  href="https://www.cjfoodville.co.kr/footer/ethic_center.asp"
                  target="_blank"
                  title="새창 열림"
                  >윤리신고센터</a
                >
              </li>
              <li>
                <a href="http://127.0.0.1:5500/views/footer/legal.html"
                  >법적고지</a
                >
              </li>
            </ul>
          </div>

          <div class="company_info">
            <p>상호명 : CJ푸드빌(주)</p>

            <address>
              주소 : (우)04555 서울시 중구 마른내로34(초동 106-9번지)KT&amp;G
              을지로타워 3, 9-11층 CJ푸드빌㈜s
            </address>

            <p>
              <span>고객센터 : 1577-0700</span>
              <span>통신판매업종신고증 제 2011-서울중구-0771호</span>
              <sapn class="ftc_confirm">
                <a
                  href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=3128142519"
                  target="_blank"
                  title="새창열림"
                >
                  <img
                    src="../../img/footer/footer_info_information.png"
                    alt="사업자정보확인"
                  />
                </a>
              </sapn>
              <span class="hosting">호스팅제공자 : CJ올리브네트웍스(주)</span>
            </p>

            <p class="business_info">
              <span>사업자등록번호 : 312-81-42519</span>
              <span>대표이사 : 김찬호</span>
              <span>개인정보보호책임자 : 오창호</span>
              <span class="email">
                <a href="mailto:help_master@cj.net"
                  >대표 이메일 : help_master@cj.net</a
                >
              </span>
            </p>

            <p class="copyright">
              COPYRIGHT 2023©CJ Foodville ALL RIGHT RESERVED.
            </p>
          </div>

          <div class="footer_logo">
            <img src="../../img/logos/logo_grey.png" />
          </div>
        </div>
      </footer>
    </div>
    <script src="../../js/mainpage/mainquicknav.js"></script>
  </body>
</html>
